<section class="company_top">
    <div class="company_logo">
        <img src="{webroot:$head_ico}" width="150" height="150">
    </div>
    <div class="company_infor">
        <h3 class="company_name">{$true_name}<img class="glory" src="{url:views/nzw/skin/default/image/company/company_glory.png}"></h3>
        <div class="company_busines">
            <span>案例：<i class="bg_da">{echo:statistics::caseCount($user_id)}</i>套</span>&nbsp;&nbsp;|&nbsp;
            <span>设计师：<i class="bg_da">{echo:statistics::designerCount($user_id)}</i>名</span>&nbsp;&nbsp;|&nbsp;
            <span>签单数：<i class="bg_da">0</i>单</span> 
        </div>
        <div class="company_addres">地址：{$address}</div>
    </div>
    <!--<div class="company_pj">
        <p class="pj_title">业主评分</p>
        <div class="star_box">
            <strong class="items">设计水平：</strong>
            <span class="red_star"></span>
            <span class="red_star"></span>
            <span class="red_star"></span>
            <span class="red_star"></span>
            <span class="red_star"></span>  
        </div>

        <div class="star_box">
            <strong class="items">服务态度：</strong>
            <span class="red_star"></span>
            <span class="red_star"></span>
            <span class="red_star"></span>
            <span class="red_star"></span>
        </div>
        <div class="star_box">
            <strong class="items">施工质量：</strong>
            <span class="red_star"></span>
            <span class="red_star"></span>
            <span class="red_star"></span>
        </div>
    </div>-->
    <div class="clear"></div>
    <nav class="company_nav">
        <ul>
            <li><a href="{url:/site/company/id/$user_id}">首页</a></li>
            <li><a href="{url:/site/company_desc/id/$user_id}">公司简介</a></li>
            <li><a href="{url:/site/company_case/id/$user_id}">装修案例</a></li>
            <!--<li><a>装修项目</a></li>-->
            <li><a href="{url:/site/company_designer/id/$user_id}">设计师</a></li>
            <!--<li><a>业主评论</a></li>-->
        </ul>
        <a class="nav_icon" href="javascript:;" onclick="alert('模块开发中，敬请期待。。。')"></a>
    </nav>
</section>