<section class="breadcrumb">
	<span>您当前的位置：</span> <a href="{url:}">首页</a> » <a href="{url:/site/products/id/$this->goods['goods_id']}">{$this->goods['name']}</a>
</section>
{js:kindeditor}
{set:$swfloadObject = new Swfupload('site/comment_img_upload');$swfloadObject->show();}

<section class="web">
	<section class="main">
		<h2 class="main_head lgl">我要评论</h2>
		<section class="user_form">
			<form method="post" action="{url:/site/comment_add}">
				<input type="hidden" name="id" value="{$this->comment['id']}" />
                {if:$this->comment['status'] == 1}
                <h3 class="level_nr">评价：</h3>
                <dl class="comm_content">
                    <dd>{if:$this->comment['point']==5}好评！{elseif:$this->comment['point']>1 && $this->comment['point']<5}中评！{else:}差评！{/if}[{$this->comment['comment_time']}]</dd>
                </dl>
                <h3 class="level_nr">评分：</h3>
                <dl class="comm_content">
                    <dd class="star_box"><span class="star star_{echo:Common::gradeWidth($this->comment['point'])}"></span></dd>
                </dl>
                <h3 class="level_nr">评语：</h3>
                <dl class="comm_content">
                    <dd>{$this->comment['contents']}</dd>      
                </dl>
                <h3 class="level_nr">追评内容：</h3>
                <dl class="comm_content">
                    <dd><input type="hidden" name="is_reply" value="1"><textarea class="input_textarea" name='second_contents' pattern='required' alt=''></textarea></dd>
                </dl>
                
                <h3 class="level_sc">上传图片：</h3>    
                <dl class="upload_pic">
                    <div class="chooice_btn">
                        <span id='uploadButton'></span>
                    </div>
                    <span class="warn_wd">可以上传多张图片，分辨率3000px以下，大小不得超过{echo:IUpload::getMaxSize()}</span>
                    <div class="picturer_box">
                    <p id="divFileProgressContainer"></p>
                        <ul id="thumbnails">
                        </ul>
                    </div>
                </dl>
                {else:}
				<h3 class="level_pl">评论等级：</h3>	
					<div class="grade_fl" id="review">
                    <input type="hidden" name="point" value="5">
						<dl>
							<dd>
								<ul class="review_ul">
									<li class="on"></li>
									<li class="on"></li>
									<li class="on"></li>
									<li class="on"></li>
									<li class="on"></li>
								</ul>
							</dd>
						</dl>
					</div>
<script>
$(function(){
	{
	function score(oUl){
		var aLi = oUl.getElementsByTagName('li');
		for(var i = 0; i < aLi.length; i++){
			aLi[i].index = i;
			aLi[i].onclick = function(){
				// this.index
				for(var j=0; j<aLi.length; j++){
					//j->0 1 2 3 4
					if(j <= this.index){
						aLi[j].className = 'on';
					}else{
						aLi[j].className = '';
					}
				}
                $('input[name=point]').val(this.index+1);
			}
			}
		}
	var rEview = document.getElementById('review');
	var oReVi = rEview.getElementsByTagName('ul'); 
	for(var i=0; i<oReVi.length; i++){
		score(oReVi[i])
	}	
}
})

</script>				
				<h3 class="level_sc">上传图片：</h3>	
				<dl class="upload_pic">
                    <div class="chooice_btn">
                        <span id='uploadButton'></span>
                    </div>
					<span class="warn_wd">可以上传多张图片，分辨率3000px以下，大小不得超过{echo:IUpload::getMaxSize()}</span>
					<div class="picturer_box">
                    <p id="divFileProgressContainer"></p>
						<ul id="thumbnails">
						</ul>
					</div>
				</dl>
				<h3 class="level_nr">评论内容：</h3>	
				<dl class="comm_content">
					<dd><textarea class="input_textarea" name='contents' pattern='required' alt=''></textarea></dd>
				</dl>
                {/if}
				<dl>
					<dt></dt>
					<dd><input class="input_submit" type="submit" value="立即评价" /></dd>
				</dl>
			</form>
            <!--图片模板-->
            <script type='text/html' id='picTemplate'>
            <li>
                <img src="{webroot:<%=picRoot%>}" alt="<%=picRoot%>" />
                <p><a href='javascript:void(0)' onclick="$(this).closest('li').remove();">删除</a></p>
                <input type="hidden" name="_imgList[]" value="<%=picRoot%>"/>
            </li>
            </script>
            <script type="text/javascript">
            /**
             * 图片上传回调,handers.js回调
             * @param picJson => {'flag','img','list','show'}
             */
            function uploadPicCallback(picJson)
            {
                var picHtml = template.render('picTemplate',{'picRoot':picJson.img});
                $('#thumbnails').append(picHtml);
            }
            </script>
		</section>
	</section>
	<aside class="bar">
		<div class="bar_box">
			<h3 class="bar_box_head">商品信息</h3>
			<div class="bar_goods_big infoma">
				<a target="_blank" href="{url:/site/products/id/$this->goods['goods_id']}">
					<img alt="{$this->goods['name']}" src="{url:/pic/thumb/img/$this->goods['img']/w/180/h/180}">
					<dl>
						<dt><h5><b>商品名称：</b>{$this->goods['name']}</h5></dt>
						<dd><i>优惠价：</i><em>￥{$this->goods['sell_price']}</em></dd>
						
						<dd><label class="star_box">
								<span class="item">评价得分：</span>
								<span class="star star_{echo:Common::gradeWidth($this->commentCount['average_point'])}"></span>
							</label>
						</dd>
						<dd>
							评论数：<i>1</i>条
						</dd>	
					</dl>
				</a>
			</div>
		</div>

		<div class="bar_box">
			<h3 class="bar_box_head">促销活动</h3>
			<ul class="bar_nav">
				<!-- {foreach:items=Api::run('getProrule',$seller_id)}
				<li>{$item['info']}</li>
				{/foreach} -->
				<li>哈哈哈哈哈</li>
			</ul>
		</div>
	</aside>
</section>
