{include:_dec_commp_top}
{set:$caseRow = $this->caseRow;}
<script type="text/javascript">
	$(function(){
		$(".company_nav ul li a").eq(2).addClass("on");
        $('.case_detail_content').find('img').css('max-width', '885px')
	})
</script>
<div class="company_backg">
	<div class="company_main clear">
		<div class="breadcrumb">                       
		<span><i class="right_icon"></i>您当前的位置：</span> <a class="ab6" href="{url:/site/search_list_company}">装修公司</a>
		 »
		<a class="ab6"  href="{url:/site/company_case/id/$user_id}">装修案例 </a>
		 »
		<a class="ab6"  href="javascript:;">案例详情</a>
		</div>
		<div class="case_left clear">
			<div class="case_detail_title">
				<h3>{$caseRow['title']}</h3>
				<span>
                {set:$db = new IModel('case_style');$list = $db->query('id in ('.$caseRow['style'].')', 'name');}
                {if:$list}
                {foreach:items=$list item=$style}
                    {$style['name']}&nbsp;
                {/foreach}
                {/if}
                </span> &nbsp;|&nbsp;
				<span>面积{$caseRow['house_size']}㎡ &nbsp;|&nbsp;
				<span>{$caseRow['price']}万</span>
			</div>
			<div  class="case_detail_content">
				{echo:htmlspecialchars_decode($caseRow['description'])}
			</div>
			<div class="left_adver">{echo:Ad::show('装修案例详情页左下方930*100')}</div>
		</div>
		<div class="case_right">
			<div class="right_cont">
				<h4>{$caseRow['title']}</h4>
				<p>地区：{$caseRow['area_addr']}</p>
				<p>楼盘：{$caseRow['address']}</p>
				<p>风格：
                {if:$list}
                {foreach:items=$list item=$style}
                    {$style['name']}&nbsp;
                {/foreach}
                {/if}</p>
				<p>预售：{$caseRow['price']}万</p>
				<p>面积：{$caseRow['house_size']}平米</p>
				<p>户型：{echo:company_case::houseTypeText($caseRow['house_type'])}</p>
				<div class="desig_ln">
					<p class="desigh_title">设计理念</p>
					<p class="design_ln_con">{$caseRow['intro']}</p>
				</div>
			</div>
            {set:$data = company_case::getRecommList($user_id,$caseRow['style'],$caseRow['id'])}
            {if:$data}
			<div class="right_cont">
				<h4>相似推荐</h4>
				<div class="right_recommend clear">
                    {foreach:items=$data}
					<a href="{url:/site/company_case_detail/id/$user_id/cid/$item['id']}" class="recom_img"><img src="{webroot:$item['photo']}"></a>
                    {/foreach}
				</div>
			</div>
            {/if}
			<div class="right_cont">
					{echo:Ad::show('装修案例详情页右下一250*150')}
				</div>
				<div class="right_cont">
					{echo:Ad::show('装修案例详情页右下二250*150')}
				</div>
		</div>
	</div>
</div>
<!-- 预约装修弹窗 -->
			<div id="mask">&nbsp;</div>
			<div id="order">
				<div class="order_head">预约装修</div>
				<div style="padding:0 100px;">
					<input type="text" placeholder="您的姓名" class="normal">
					<input type="text" placeholder="电话号码" class="normal">
					<div class="city">
						<input type="button" class="city_select" value="省/市" id="city_select1">
						<input type="hidden" name="type">
						<ul style="display:none;" class="city_list" id="city_list1">
							<li js_data="1">太原市</li>
							<li js_data="2">阳泉市</li>
						</ul>
					</div>
					<div class="county">
						<input type="button" class="area_select" value="省/市" id="area_select1">
						<input type="hidden" name="type">
						<ul style="display:none;" class="area_list" id="area_list1">
							<li js_data="1">太原市</li>
							<li js_data="2">阳泉市</li>
							<li js_data="3">大同市</li>
							<li js_data="4">忻州市</li>
							<li js_data="5">平遥市</li>
							<li js_data="6">晋中市</li>
							<li js_data="7">澳门市</li>
							<li js_data="8">长治市</li>
							<li js_data="9">平遥市</li>
							<li js_data="10">晋中市</li>
							<li js_data="11">澳门市</li>
							<li js_data="12">长治市</li>
						</ul>
					</div>
					<input type="text" placeholder="房屋面积" class="normal"><span class="area">㎡</span>
					<a href class="need_publish" id="mask_close">免费发布</a>
				</div>
			</div>
<!-- 预约装修 end -->
<!--<script type="text/javascript">
$(function(){
	// 预约装修点击弹窗
	$(".nav_icon").click(function(){
		$("#order").show();
		$("#order").css("top","20%");
		$("#mask").show();
	});
	$("#mask").click(function(){
		$("#order").hide();
		$("#mask").hide();
	});
	//分页选择效果
	$(".page .page_num").click(function(){
		$(".page .page_num").removeClass("on");
		$(this).addClass("on");
	})
	//上一页
	$(".page .page_up").click(function(){
		var index = $(".page .page_num.on").index();//获取当前页
			if(index > 2){
				$(".page .page_num").removeClass("on");//清除所有选中
				$(".page .page_a").eq(index-1).addClass("on");//选中上一页
			}
	})
	//下一页
	$(".page .page_down").click(function(){
		var index = $(".page .page_num.on").index();//获取当前页
			if(index>1 && index<4){
				alert(index)
				$(".page .page_num").removeClass("on");//清除所有选中
				$(".page .page_a").eq(index+1).addClass("on");//选中上一页
			}
	})
});


</script>-->
