
<script type="text/javascript">
	$(function(){
		$(".company_nav ul li a").eq(1).addClass("on");
	})
</script>
<div class="company_backg">
	<div class="company_main">
		<!-- 公司介绍-->
		<div class="case_list case_lists">
			<div class="case_title">
				<span class="case_name">企业证书</span>
			</div>
			<div class="case_content">
				<p class="introduction">北京柏雅装饰有限公司是一家集装饰设计、工程施工、材料配送、木门、地板、家具、装饰品开发为一体的装饰企业。主要从事住宅、公寓、办公、商业、酒店、学校、医院等场所的装修设计和施工。公司经北京市工商管理局正式批准注册、北京市建委审核认定，已取得国家正规资质， 为中国建筑装饰协会、北京市装饰协会、中国室内装饰协会的会员单位。 
多年来公司持续稳步发展，下设市场部、设计部、工程部、企划部、财务部、客户服务部、人力资源部和材料配料中心八个部门。建立了从方案设计、工程施工、 质量监督到售后服务等一整套细致合理的服务流程体系。由经验丰富、时尚创新的设计精英、正规培训、技艺娴熟的南方技工、施工人员主要来自安徽、江苏；资深专业的管理人员共同组建成一支诚信、敬业、务实、创新的精英团队。 先进的办公及施工、检测设备；人文、科学的企业管理模式，为工程质量和公司发展提供了有力的保障。
      面对几年来激烈的市场竞争，公司全体员工一直秉承“以质量求生存，以信誉求发展”的经营理念， 把“客户的满意是评价我们工作的唯一标准”作为服务宗旨，始终坚持以客户的需求和满意为核心，从而使公司不断发展壮大，并赢得了较大的市场份额，成为装饰行业中的佼佼者。 公司将一如既往的致力于为社会各界提供更完善、更完美的装修服务，精心铸造"柏雅装饰"品牌！并愿与业界同仁携手，共建行业自律，维护市场环境，树立行业新风，推动行业发展，引领装修新潮流，构建和谐社会之和谐装修新篇章！ </p>
			</div>
		</div>
		<!-- 公司介绍 end -->
		<!-- 企业证书-->
		<div class="case_list">
			<div class="case_title">
				<span class="case_name">企业证书</span>
			</div>
			<div class="case_content">
				<ul class="case_ul1 clear">
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="company_zs">资质证书 </p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="company_zs">营业执照 </p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="company_zs">2011年度建筑装修行业先进企业 </p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 企业证书 end -->
		<!-- 联系我们-->
		<div class="case_list">
			<div class="case_title">
				<span class="case_name">联系我们</span>
			</div>
			<div class="case_content">
				<div class="intro_div">
					<p class="com_intro">公司：北京博雅装饰有限公司</p>
					<p class="com_intro">电话：010-89720090</p>
					<p class="com_intro">QQ：1697253782</p>
					<p class="com_intro">地址：北京市怀德桥南逸华景大厦12A楼1308室（兴业银行楼上）</p>
				</div>
			</div>
		</div>
		<!-- 公司介绍 end -->
	</div>
</div>
<!-- 预约装修弹窗 -->
			<div id="mask">&nbsp;</div>
			<div id="order">
				<div class="order_head">预约装修</div>
				<div style="padding:0 100px;">
					<input type="text" placeholder="您的姓名" class="normal">
					<input type="text" placeholder="电话号码" class="normal">
					<div class="city">
						<input type="button" class="city_select" value="省/市" id="city_select1">
						<input type="hidden" name="type">
						<ul style="display:none;" class="city_list" id="city_list1">
							<li js_data="1">太原市</li>
							<li js_data="2">阳泉市</li>
						</ul>
					</div>
					<div class="county">
						<input type="button" class="area_select" value="省/市" id="area_select1">
						<input type="hidden" name="type">
						<ul style="display:none;" class="area_list" id="area_list1">
							<li js_data="1">太原市</li>
							<li js_data="2">阳泉市</li>
							<li js_data="3">大同市</li>
							<li js_data="4">忻州市</li>
							<li js_data="5">平遥市</li>
							<li js_data="6">晋中市</li>
							<li js_data="7">澳门市</li>
							<li js_data="8">长治市</li>
							<li js_data="9">平遥市</li>
							<li js_data="10">晋中市</li>
							<li js_data="11">澳门市</li>
							<li js_data="12">长治市</li>
						</ul>
					</div>
					<input type="text" placeholder="房屋面积" class="normal"><span class="area">㎡</span>
					<a href class="need_publish" id="mask_close">免费发布</a>
				</div>
			</div>
<!-- 预约装修 end -->
<script type="text/javascript">
$(function(){
	// 预约装修点击弹窗
	$(".nav_icon").click(function(){
		$("#order").show();
		$("#order").css("top","20%");
		$("#mask").show();
	});
	$("#mask").click(function(){
		$("#order").hide();
		$("#mask").hide();
	});
});
</script>