<script type="text/javascript">
	$(function(){
		$(".company_nav ul li a").eq(3).addClass("on");
	})
</script>
<div class="company_backg">
	<div class="company_main">
		
		<!-- 装修项目 显示数量不定-->
		<div class="case_list">
			<div class="case_title">
				<span class="case_name">装修项目</span>
				<a class="case_step checked">全部项目</a>
				<a class="case_step">在建项目</a>
				<a class="case_step">竣工项目</a>
			</div>
			<div class="project_list">
				<ul>
					<li class="project_content">							
						<a target="_blank" href class="img_link">
							<img alt="" src="{url:views/nzw/skin/default/image/warn.png}">
	                        
						</a>
						<div class="project_content_left">
							<h2>月亮湾曹小姐新家</h2>
							<p class="small">深圳&nbsp;&nbsp;月亮湾山庄&nbsp;&nbsp;30万&nbsp;&nbsp;半包&nbsp;&nbsp;300㎡&nbsp;&nbsp;简欧</p>
							<ul>
								<li class="on">
									<i></i>
									<p>准备开工</p>
								</li>
								<li>
									<i></i>
									<p>水电阶段</p>
								</li>
								<li>
									<i></i>
									<p>泥木阶段</p>
								</li>
								<li>
									<i></i>
									<p>油漆阶段</p>
								</li>
								<li>
									<i></i>
									<p>竣工阶段</p>
								</li>
							</ul>
							<div class="clear"></div>
							<p class="small">
								<span>
									设计图<i>5</i>
								</span>
								<span class="line"></span>
								<span>
									施工图<i>5<i>
								</span>
								<span class="line"></span>
								<span>
									业主评论<i>1</i>
								</span>
							</p>
						</div>
						<div class="project_content_right">
							<a href>项目详情</a>
						</div>
					</li>
					<li class="project_content">							
						<a target="_blank" href class="img_link">
							<img alt="" src="{url:views/nzw/skin/default/image/warn.png}">
	                        
						</a>
						<div class="project_content_left">
							<h2>月亮湾曹小姐新家</h2>
							<p class="small">深圳&nbsp;&nbsp;月亮湾山庄&nbsp;&nbsp;30万&nbsp;&nbsp;半包&nbsp;&nbsp;300㎡&nbsp;&nbsp;简欧</p>
							<ul>
								<li class="on">
									<i></i>
									<p>准备开工</p>
								</li>
								<li>
									<i></i>
									<p>水电阶段</p>
								</li>
								<li>
									<i></i>
									<p>泥木阶段</p>
								</li>
								<li>
									<i></i>
									<p>油漆阶段</p>
								</li>
								<li>
									<i></i>
									<p>竣工阶段</p>
								</li>
							</ul>
							<div class="clear"></div>
							<p class="small">
								<span>
									设计图<i>5</i>
								</span>
								<span class="line"></span>
								<span>
									施工图<i>5<i>
								</span>
								<span class="line"></span>
								<span>
									业主评论<i>1</i>
								</span>
							</p>
						</div>
						<div class="project_content_right">
							<a href>项目详情</a>
						</div>
					</li>
					<li class="project_content">							
						<a target="_blank" href class="img_link">
							<img alt="" src="{url:views/nzw/skin/default/image/warn.png}">
	                        
						</a>
						<div class="project_content_left">
							<h2>月亮湾曹小姐新家</h2>
							<p class="small">深圳&nbsp;&nbsp;月亮湾山庄&nbsp;&nbsp;30万&nbsp;&nbsp;半包&nbsp;&nbsp;300㎡&nbsp;&nbsp;简欧</p>
							<ul>
								<li class="on">
									<i></i>
									<p>准备开工</p>
								</li>
								<li class="on">
									<i></i>
									<p>水电阶段</p>
								</li>
								<li class="on">
									<i></i>
									<p>泥木阶段</p>
								</li>
								<li class="on">
									<i></i>
									<p>油漆阶段</p>
								</li>
								<li class="on">
									<i></i>
									<p>竣工阶段</p>
								</li>
							</ul>
							<div class="clear"></div>
							<p class="small">
								<span>
									设计图<i>5</i>
								</span>
								<span class="line"></span>
								<span>
									施工图<i>5<i>
								</span>
								<span class="line"></span>
								<span>
									业主评论<i>1</i>
								</span>
							</p>
						</div>
						<div class="project_content_right">
							<a href>项目详情</a>
						</div>
					</li>
				</ul>	
				<div class="pages_bar">
					<a href>首页</a>
					<a href class="current_page">1</a>
					<a href>尾页</a>
					<span>当前第1页/共1页</span>
				</div>			
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

</script>