<script type="text/javascript">
	$(function(){
		$(".company_nav ul li a").eq(3).addClass("on");
	})
</script>
<style type="text/css">
	.project_content{border: 0;padding: 20px;}
</style>
<div class="company_backg">
	<div class="company_main">
		<section class="breadcrumb">
		<span><i class="right_icon"></i>您当前的位置：</span> <a class="ab6" href="#">装修公司</a>
		 »
		<a class="ab6"  href="#">装修案例 </a>
		 »
		<a class="ab6"  href="#">案例详情</a>
		</section>
		<section class="project_content">							
			<a target="_blank" href class="img_link">
				<img alt="" src="{url:views/nzw/skin/default/image/warn.png}">
                
			</a>
			<div class="project_content_left">
				<h2>月亮湾曹小姐新家</h2>
				<p class="small">深圳&nbsp;&nbsp;月亮湾山庄&nbsp;&nbsp;30万&nbsp;&nbsp;半包&nbsp;&nbsp;300㎡&nbsp;&nbsp;简欧</p>
				<ul>
					<li class="on">
						<i></i>
						<p>准备开工</p>
					</li>
					<li class="on">
						<i></i>
						<p>水电阶段</p>
					</li>
					<li class="on">
						<i></i>
						<p>泥木阶段</p>
					</li>
					<li class="on">
						<i></i>
						<p>油漆阶段</p>
					</li>
					<li class="on">
						<i></i>
						<p>竣工阶段</p>
					</li>
				</ul>
				<div class="clear"></div>
				<p class="small">
					<span>
						设计图<i>5</i>
					</span>
					<span class="line"></span>
					<span>
						施工图<i>5<i>
					</span>
					<span class="line"></span>
					<span>
						业主评论<i>1</i>
					</span>
				</p>
			</div>
		</section>
<style>

.project_plan{width:1200px;margin:10px auto;background:#fff;}
.project_plan .tab{overflow:hidden;background:#ccc;}
.project_plan .tab a{display:block;padding:20px 20px;float:left;text-decoration:none;color:#333;background: #fafafa;border: 1px solid #e8e8e8;}
.project_plan .tab a:hover{background:#fff;color:#333;text-decoration:none;}
.project_plan .tab a.on{border-bottom: 0px; background:#fff;color:#6bb945;text-decoration:none;border-top: 2px solid #6bb945;}
.project_plan .content{overflow:hidden;width:1200px;position:relative;}
.project_plan .content ul{position:relative;left:0;top:0;}
.project_plan .content li{width:1200px;float:left;}
.project_plan .content li p{padding:10px;}
</style>
		<section class="project_plan clear">
			<div class="tab">
				<a href="javascript:;" class="on">设计方案</a>
				<a href="javascript:;">施工流程</a>
				<a href="javascript:;">业主评价</a>
			</div>
			<div class="content">
				<ul>
					<li>
						<div class="li1_title clear">
							<div class="title_img"><img src="{url:views/nzw/skin/default/image/warn.png}"/></div>
							<div class="li1_con">
								<div><b>王美林</b>&nbsp;&nbsp;<i class="a99">首席设计师</i></div>
								<div class="a99 sjiln clear"><span>设计理念：</span><span>本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉本案客户追求简约、大气、温暖、舒适的感觉</span></div>
							</div>
						</div>
						<div class="design_img">
							<div class="li_design_title"><span>原始框架图</span></div>
							<div class="li_design_img"><img src="{url:views/nzw/skin/default/image/20170123161308.jpg}"/></div>
							<div class="a99">假跃式真复式，根据业主的个人生活习惯于偏好设计了一套她家专属的味道。</div>
						</div>
						<div class="design_img">
							<div class="li_design_title"><span>平面结构图</span></div>
							<div class="li_design_img"><img src="{url:views/nzw/skin/default/image/warn.png}"/></div>
							<div class="a99">假跃式真复式，根据业主的个人生活习惯于偏好设计了一套她家专属的味道。</div>
						</div>
						<div class="design_img">
							<div class="li_design_title"><span>效果图</span></div>
							<div class="li_design_img"><img src="{url:views/nzw/skin/default/image/warn.png}"/></div>
							<div class="a99">假跃式真复式，根据业主的个人生活习惯于偏好设计了一套她家专属的味道。</div>
							<div class="li_design_img"><img src="{url:views/nzw/skin/default/image/warn.png}"/></div>
							<div class="a99">假跃式真复式，根据业主的个人生活习惯于偏好设计了一套她家专属的味道。</div>
							<div class="li_design_img"><img src="{url:views/nzw/skin/default/image/warn.png}"/></div>
							<div class="a99">假跃式真复式，根据业主的个人生活习惯于偏好设计了一套她家专属的味道。</div>
						</div>
					</li>
					<li>
						<div class="li2_left">
							<div class="sequence">
								<div class="sequence_strat"><i class="sequence_i">准备开工</i>
									<div><img src="{url:views/nzw/skin/default/image/warn.png}"/>
										<div class="a99 img_title">已经签了装修保</div>
									</div>
									<div><img src="{url:views/nzw/skin/default/image/warn.png}"/>
										<div class="a99 img_title">已经签了装修保</div>
									</div>
								</div>
								<div class="sequence_strat"><i class="sequence_i">水电阶段</i>
									<div><img src="{url:views/nzw/skin/default/image/warn.png}"/>
										<div class="a99 img_title">已经签了装修保</div>
									</div>
									<div><img src="{url:views/nzw/skin/default/image/warn.png}"/>
										<div class="a99 img_title">已经签了装修保</div>
									</div>
								</div>
							</div>
							<div class="small_sequence">
								<dl class="small_sequence_dl">
									<dd class="on"><i class="dd_i"></i>准备开工</dd>
									<dd><i class="dd_i"></i>水电阶段</dd>
								</dl>
							</div>
						</div>

					</li>
					<li>
						<div class="li3_evaluate">
							<div class="sequence">
								<div class="sequence_strat"><i class="sequence_i">准备开工</i>
									<div class="user_content">
										<dl class="comm_user_name clear">
											<dd class="star_box">
												<span class="good_star star_3"></span>
												<span class="bad_star"></span>
											</dd>
											<dd>设计：40</dd>
											<dd>服务：4.0</dd>
											<dd>施工：4.0</dd>
										</dl>
										<div class="comm_user_cont">这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了</div>
										<div class="comm_time a99">2016-12-13 &nbsp;&nbsp; 15:22</div>
										<div class="commpany_reply">
											<div class="reply_name a99">
												<span>装修公司回复&nbsp;&nbsp;</span>
												<span class="reply_time">2016-12-15&nbsp;&nbsp;18:56</span>
											</div>
											<div class="reply_content">尊敬的客户，您的满意是我们最开心的事情，我们的每个细节都是为了您住进房尊敬的客户，您的满意是我们最开心的事情，我们的每个细节都是为了您住进房尊敬的客户，您的满意是我们最开心的事情，我们的每个细节都是为了您住进房尊敬的客户，您的满意是我们最开心的事情，我们的每个细节都是为了您住进房</div>
										</div>
									</div>
								</div>
								<div class="sequence_strat"><i class="sequence_i">水电阶段</i>
									<div class="sequence_doing">
										正在装修，请等待业主评价
									</div>
								</div>
								<div class="sequence_strat"><i class="sequence_i">泥木阶段</i>
									<div class="sequence_doing">
										正在装修，请等待业主评价
									</div>
								</div>
								<div class="sequence_strat"><i class="sequence_i">油漆阶段</i>
									<div class="sequence_doing">
										正在装修，请等待业主评价
									</div>
								</div>
								<div class="sequence_strat"><i class="sequence_i">竣工阶段</i>
									<div class="sequence_doing">
										正在装修，请等待业主评价
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>	
			
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('.project_plan .content ul').width(1200*$('.project_plan .content li').length+'px');
	$('.project_plan .content').height($('.project_plan .content').height+'px');
	$(".project_plan .tab a").click(function(){
		$(this).addClass('on').siblings().removeClass('on');
		var index = $(this).index();
		number = index;
		var distance = -1200*index;
		$('.project_plan .content ul').stop().animate({
			left:distance
		});
	});	
});
</script>