{include:_dec_commp_top}
<script type="text/javascript">
	$(function(){
		$(".company_nav ul li a").eq(0).addClass("on");
	})
</script>
<div class="company_backg">
	<div class="company_main">
		<div class="company_profile">
			<div class="profile_left">
				<p><b>公司简介</b></p>
				<p class="profile_content">北京柏雅装饰有限公司是一家集装饰设计、工程施工、材料配送、木门、地板、家具、装饰品开发为一体的装饰企业。主要从事住宅、公寓、办公、商业、酒店、学校、医院等场所的装修设计和施工。公司经北京市工商管理局正式批准注册、北京市建委审核认定，已取得国家正规资质，为中国建筑装饰协会、北京市装饰协会、中国室内装饰协会的会员单位。</br> 
				多年来公司持续稳步发展，下设市场部、设计部、工程部、企划部、财务部、客户服务部、人力资源部和材料配料中心八个部门。建立了从方案设计、工程施工、 质量监督到售后服务等一整套细致合理的服务流程体系。由经验丰富、时尚创新的设计精英、正规培训、技艺娴熟的南方技工、施工人员主要来自安徽、江苏；资深专业的管理人员共同组建成一支诚信、敬业、务实、创新的精英团队。 先进的办公及施工、检测设备；人文、科学的企业管理模式，为工程质量和公司发展提供了有力的保障。创新的精英团队。 先进的办公及施工、检测设备；人文、科学的企业管理模式，为工程质量和公司发展提供了有力的保障创新的精英团队。 先进的办公及施工、检测设备；人文、科学的企业管理模式，为工程质量和公司发展提供了有力的保障</p>
				<a class="profile_a">查看更多>></a>
			</div>
			<div class="profile_right">
				<img src="{url:views/nzw/skin/default/image/warn.png}">
			</div>
			<div class="clear"></div>
		</div>
		<!-- 装修案例 显示六个-->
		<div class="case_list">
			<div class="case_title">
				<span class="case_name">装修案例</span>
				<a class="case_gd">+查看更多</a>
			</div>
			<div class="case_content">
				<ul class="case_ul1 clear">
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 装修案例 end -->
		<!-- 设计师 显示六个-->
		<div class="case_list">
			<div class="case_title">
				<span class="case_name">设计师</span>
				<a class="case_gd">+查看更多</a>
			</div>
			<div class="case_content">
				<ul class="case_ul2 clear">
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>

				</ul>
			</div>
		</div>
		<!-- 设计师 end -->
		<!-- 业主评论 显示三个-->
		<div class="case_list">
			<div class="case_title">
				<span class="case_name">业主评论</span>
				<a class="case_gd">+查看更多</a>
			</div>
			<div class="case_content case_comment">
				<div class="comment_top">
					<ul class="case_ul3">
						<li><a><p class="comment_pertage"><b class="bg_da">98%</b></p><p class="comm_name">好评率</p></a></li>
						<li><a><p class="comment_pertage"><b class="bg_da">2023</b></p><p class="comm_name">好评</p></a></li>
						<li><a><p class="comment_pertage"><b class="a33">539</b></p><p class="comm_name">中率</p></a></li>
						<li><a><p class="comment_pertage"><b class="a99">0</b></p><p class="comm_name">差评</p></a></li>
					</ul>
				</div>
				<div class="user_comment clear">
					<div class="user_comm_img"><img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}"/></div>
					<div class="user_content">
						<ul class="comm_user_name clear">
							<li>我就是wo：</li>
							<li class="star_box">
								<span class="good_star star_3"></span>
								<span class="bad_star"></span>
							</li>
							<li>设计：40</li>
							<li>服务：4.0</li>
							<li>施工：4.0</li>
						</ul>
						<p class="comm_user_cont">这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了</p>
						<p class="comm_time">2016-12-13 &nbsp;&nbsp; 15:22</p>
					</div>
				</div>
				<div class="user_comment clear">
					<div class="user_comm_img"><img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}"/></div>
					<div class="user_content">
						<ul class="comm_user_name clear">
							<li>你猜我是谁：</li>
							<li class="star_box">
								<span class="good_star star_3"></span>
								<span class="bad_star"></span>
							</li>
							<li>设计：40</li>
							<li>服务：4.0</li>
							<li>施工：4.0</li>
						</ul>
						<p class="comm_user_cont">这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了</p>
						<p class="comm_time">2016-12-13 &nbsp;&nbsp; 15:22</p>
						<div class="commpany_reply">
							<p class="reply_name a99">
								<span>装修公司回复&nbsp;&nbsp;</span>
								<span class="reply_time">2016-12-15&nbsp;&nbsp;18:56</span>
							</p>
							<p class="reply_content">尊敬的客户，您的满意是我们最开心的事情，我们的每个细节都是为了您住进房尊敬的客户，您的满意是我们最开心的事情，我们的每个细节都是为了您住进房尊敬的客户，您的满意是我们最开心的事情，我们的每个细节都是为了您住进房尊敬的客户，您的满意是我们最开心的事情，我们的每个细节都是为了您住进房</p>
						</div>
					</div>
				</div>
				<div class="user_comment clear">
					<div class="user_comm_img"><img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}"/></div>
					<div class="user_content">
						<ul class="comm_user_name clear">
							<li>我就是wo：</li>
							<li class="star_box">
								<span class="good_star star_3"></span>
								<span class="bad_star"></span>
							</li>
							<li>设计：40</li>
							<li>服务：4.0</li>
							<li>施工：4.0</li>
						</ul>
						<p class="comm_user_cont">这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了</p>
						<div class="company_comm_img clear">
							<img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}"/>
							<img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}"/>
							<img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}"/>
						</div>
						<p class="comm_time">2016-12-13 &nbsp;&nbsp; 15:22</p>
					</div>
				</div>
				<div class="comm_more"><a>查看更多</a></div>
			</div>
			<div class="company_suser_pj">
				<form>
				<p class="wypj">我要评价</p>
				<div class="star_box">
					<strong class="items">设计水平：</strong>
					<ul class="review_uls">
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="star_box">
					<strong class="items">服务态度：</strong>
					<ul class="review_uls">
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="star_box">
					<strong class="items">施工质量：</strong>
					<ul class="review_uls">
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="reply_textarea">
					<textarea placeholder="输入您的评价内容..."></textarea>
				</div>
				<div class="file_img clear">
					<div id="thumbnails"></div>
					<label id="uploadButton" class="file_an"><input type="file"  accept=".jpg,.png,.bmp"  accept="image/*" name="filesmul[]" multiple="multiple" onchange="filechange(this)"></label>
				</div>
				<p class="a99">最多上传5张图片，单张图片不超过10MB,尺寸不小于300*300px,支持jpg,png和bmp.</p>
				<div><input class="sub_company" type="submit" value="提交"/></div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	// 切换星星
	$(".star_box .review_uls ").on('click', 'li', function(){
		var t = $(this),i = t.index()+1;
		$(this).parent(".review_uls").find("li").each(function(index){
			if (index<i) {
				$(this).addClass('on');
			}else{
				$(this).removeClass('on');
			}
		});
	});

})
 function filechange(obj) {
        if (obj.files && obj.files.length) {
            for (var i = 0; i < obj.files.length; i++) {
                var fileName = obj.files[i].name
                    ,ext = fileName.substring(fileName.lastIndexOf(".")+1,fileName.length).toLowerCase()
                  var fileSize =  obj.files[i].size;
	            if(fileSize>102400){
	                alert("亲，图片不能超过10MB哦！");
	                return;
                }
                if(ext != "jpg" && ext != "png" && ext != "bmp")
                {
                    alert('您上传的图片格式不正确，请重新选择！');
                    return;
                }

                $('form[name=comment]').append('<input type="file" name="filesmul[]" value="'+obj.files[i].name+'"');
                appendImg(window.URL.createObjectURL(obj.files[i]));
            }
        } else {
            obj.select();
            obj.blur();
            var imgSrc = document.selection.createRange().text;
            appendImg(imgSrc, true);
        }

    }
    function appendImg(url, ie) {
        var img = document.createElement('img'), imgid = guid();;
        img.src = url;
        img.id = imgid;
        document.getElementById("thumbnails").appendChild(img);
  /*     var width = img.width;
       var height = img.height;
        if(width<300 && height<300){
            alert("亲图片不能小于300*300")
            document.getElementById("thumbnails").removeChild(img);
        }*/
        

        if (ie) {
            try {
                var imgshow = document.getElementById(imgid);
                imgshow.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgshow.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = url;
            } catch (e) {
                alert("您上传的图片格式不正确，请重新选择！");
                return false;
            }
        }

    }

    var guid = (function () {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
        }
        return function () {
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        };
    })();
</script>