<script type="text/javascript">
	$(function(){
		$(".company_nav ul li a").eq(5).addClass("on");
	})
</script>
<div class="company_backg">
	<div class="company_main">
		
		<!-- 设计师 显示六个-->
		<div class="case_list">
			<div class="case_title">
				<span class="case_name">设计师</span>
				<a class="case_gd">+查看更多</a>
			</div>
			<div class="case_content">
				<ul class="case_ul2 clear">
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>
					<li>
						<a class="case_ul2_a">
							<div class="design_img">
								<img src="{url:views/nzw/skin/default/image/warn.png}">
								<div class="case_num">
									<div class="design_bag"><!-- 透明背景图 --></div>
									<div class="design_num">
										<p>设计</p>
										<p>12&nbsp;套</p>
									</div>
								</div>
							</div>
							<p class="designe_name">张三</p>
							<p class="designe_pro">首席设计师</p>
						</a>
					</li>

				</ul>
			</div>
		</div>
		<!-- 设计师 end -->
		
	</div>
</div>
