
<script type="text/javascript">
	$(function(){
		$(".company_nav ul li a").eq(2).addClass("on");
	})
</script>
<div class="company_backg">
	<div class="company_main">
		<!-- 装修案例-->
		<div class="case_list case_lists">
			<div class="case_title">
				<span class="case_name">装修案例</span>
			</div>
			<div class="case_content">
				<ul class="case_ul1 clear">
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
					<li>
						<a class="case_ul1_a">
							<img src="{url:views/nzw/skin/default/image/warn.png}">
							<p class="goods_name">欧式大气奢华风格</p>
							<p class="goods_pro">
								<span>大气奢华</span>&nbsp;&nbsp;|&nbsp;
								<span>面积150m</span>&nbsp;&nbsp;|&nbsp;
								<span>20万</span>
								<span class="time">2016-12-12</span>
							</p>
						</a>
					</li>
				</ul>
			</div>
			<!-- 分页 -->
			<div class="page">
				<a class="page_a">47条记录</a>
				<a class="page_a page_up">上一页</a>
				<a class="page_a page_num">1</a>
				<a class="page_a page_num on">2</a>
				<a class="page_a page_num">3</a>
				<a class="page_a page_down">下一页</a>
			</div>
		</div>
		<!-- 装修案例 end -->
		
	</div>
</div>
<!-- 预约装修弹窗 -->
			<div id="mask">&nbsp;</div>
			<div id="order">
				<div class="order_head">预约装修</div>
				<div style="padding:0 100px;">
					<input type="text" placeholder="您的姓名" class="normal">
					<input type="text" placeholder="电话号码" class="normal">
					<div class="city">
						<input type="button" class="city_select" value="省/市" id="city_select1">
						<input type="hidden" name="type">
						<ul style="display:none;" class="city_list" id="city_list1">
							<li js_data="1">太原市</li>
							<li js_data="2">阳泉市</li>
						</ul>
					</div>
					<div class="county">
						<input type="button" class="area_select" value="省/市" id="area_select1">
						<input type="hidden" name="type">
						<ul style="display:none;" class="area_list" id="area_list1">
							<li js_data="1">太原市</li>
							<li js_data="2">阳泉市</li>
							<li js_data="3">大同市</li>
							<li js_data="4">忻州市</li>
							<li js_data="5">平遥市</li>
							<li js_data="6">晋中市</li>
							<li js_data="7">澳门市</li>
							<li js_data="8">长治市</li>
							<li js_data="9">平遥市</li>
							<li js_data="10">晋中市</li>
							<li js_data="11">澳门市</li>
							<li js_data="12">长治市</li>
						</ul>
					</div>
					<input type="text" placeholder="房屋面积" class="normal"><span class="area">㎡</span>
					<a href class="need_publish" id="mask_close">免费发布</a>
				</div>
			</div>
<!-- 预约装修 end -->
<script type="text/javascript">
$(function(){
	// 预约装修点击弹窗
	$(".nav_icon").click(function(){
		$("#order").show();
		$("#order").css("top","20%");
		$("#mask").show();
	});
	$("#mask").click(function(){
		$("#order").hide();
		$("#mask").hide();
	});
	//分页选择效果
	$(".page .page_num").click(function(){
		$(".page .page_num").removeClass("on");
		$(this).addClass("on");
	})
	//上一页
	$(".page .page_up").click(function(){
		var index = $(".page .page_num.on").index();//获取当前页
			if(index > 2){
				$(".page .page_num").removeClass("on");//清除所有选中
				$(".page .page_a").eq(index-1).addClass("on");//选中上一页
			}
	})
	//下一页
	$(".page .page_down").click(function(){
		var index = $(".page .page_num.on").index();//获取当前页
			if(index>1 && index<4){
				//alert(index)
				$(".page .page_num").removeClass("on");//清除所有选中
				$(".page .page_a").eq(index+1).addClass("on");//选中上一页
			}
	})
});


</script>