<script type="text/javascript">
	$(function(){
		$(".nav_top .design_nav ul li a").eq(3).addClass("on");
		$(".design_list .design_case_class li a").click(function(){
			$(".design_list .design_case_class li a").removeClass("on");
			$(this).addClass("on");
		})
	})
</script>
<div class="design_backg">
	<div class="design_main clear">
		<div class="design_left">
			
			<!-- 发布帖子 -->
			<div class="case_list design_list">
				<div class="case_title">
					<span class="design_case_name"><b>TA发表的讨论贴（86）</b></span>
					<!-- <a class="case_gd">+查看更多</a> -->
				</div>
				<div class="case_content case_comment">
					<div class="user_comment clear">
						<div class="user_content design_content">
							<h3 class="design_bbs bg_da">说一说装修中那些你不知道的事</h3>
							<p class="comm_user_cont">这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了</p>
							<p class="comm_time">2016-12-13 &nbsp;&nbsp;</p>
							<p class="comm_right"><a class="design_bbs_com">评论</a><a class="design_bbs_dz">点赞</a></p>
						</div>
					</div>
					<div class="user_comment clear">
						<div class="user_content design_content">
							<h3 class="design_bbs bg_da">说一说装修中那些你不知道的事</h3>
							<p class="comm_user_cont">这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了</p>
							<p class="comm_time">2016-12-13 &nbsp;&nbsp;</p>
							<p class="comm_right"><a class="design_bbs_com">评论</a><a class="design_bbs_dz">点赞</a></p>
						</div>
					</div>
					<div class="user_comment clear">
						<div class="user_content design_content">
							<h3 class="design_bbs bg_da">说一说装修中那些你不知道的事</h3>
							<p class="comm_user_cont">这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了这些设计让我们的家越来越整洁，舒服。我超级喜欢，真是聪明的脑子有这么多，爱的不要不要了</p>
							<p class="comm_time">2016-12-13 &nbsp;&nbsp;</p>
							<p class="comm_right"><a class="design_bbs_com">评论</a><a class="design_bbs_dz">点赞</a></p>
						</div>
					</div>
				
					<!-- 分页 -->
					<div class="page">
						<a class="page_a">47条记录</a>
						<a class="page_a page_up">上一页</a>
						<a class="page_a page_num">1</a>
						<a class="page_a page_num on">2</a>
						<a class="page_a page_num">3</a>
						<a class="page_a page_num">4</a>
						<a class="page_a page_down">下一页</a>
					</div>
				</div>
			</div>
			<!-- 发布帖子 end -->
		</div>
		<div class="design_right">
			
			<aside class="shop_bar">
			{set:$catSide = goods_class::catTree($this->catId)} {if:$catSide}
			<nav class="bar_box bar_goods_nav">
				<h3 class="bar_box_head">发布设计需求</h3>
				<input type="text" placeholder="您的姓名" class="normal">
				<input type="text" placeholder="电话号码" class="normal">
				<div class="province">
					<input type="button" class="area_select" value="省" id="province_select2">
					<input type="hidden" name="type">
					<ul style="display:none;" class="area_list" id="province_list2">
						<li js_data="1">太原市</li>
						<li js_data="2">阳泉市</li>
					</ul>
				</div>
				<div class="citys">
					<input type="button" class="area_select" value="市" id="city_select2">
					<input type="hidden" name="type">
					<ul style="display:none;" class="area_list" id="city_list2">
						<li js_data="1">太原市</li>
						<li js_data="2">阳泉市</li>
						<li js_data="3">大同市</li>
						<li js_data="4">忻州市</li>
						<li js_data="5">平遥市</li>
						<li js_data="6">晋中市</li>
						<li js_data="7">澳门市</li>
						<li js_data="8">长治市</li>
						<li js_data="9">平遥市</li>
						<li js_data="10">晋中市</li>
						<li js_data="11">澳门市</li>
						<li js_data="12">长治市</li>
					</ul>
				</div>
				<div class="countys">
					<input type="button" class="area_select" value="县" id="county_select2">
					<input type="hidden" name="type">
					<ul style="display:none;" class="area_list" id="county_list2">
						<li js_data="1">太原市</li>
						<li js_data="2">阳泉市</li>
						<li js_data="3">大同市</li>
						<li js_data="4">忻州市</li>
						<li js_data="5">平遥市</li>
						<li js_data="6">晋中市</li>
						<li js_data="7">澳门市</li>
						<li js_data="8">长治市</li>
						<li js_data="9">平遥市</li>
						<li js_data="10">晋中市</li>
						<li js_data="11">澳门市</li>
						<li js_data="12">长治市</li>
					</ul>
				</div>
				<div class="room_size"><input type="text" placeholder="房屋面积" class="normal"/><span class="area">㎡</span></div>
				<textarea placeholder="备注" class="textare_bz"></textarea>
				<a href class="need_publish">立即发布</a>
			</nav>
			{/if}
			<script>
				$(function(){
					
					/*省市县*/
					$("#province_select2").click(function(){
						if($("#province_list2").is(":hidden")){
							$("#province_list2").show()
							/*$("#province_select2").addClass('down');*/
						}else{
							$("#province_list2").hide()
							/*$("#province_select2").removeClass('down');*/
						}
					})


					$("#province_list2 li").each(function(){
						var _t = $(this)
								,_v = _t.attr('js_data');
						_t.click(function(){
							$('#province_select2').val(_t.text());
							$('input[name=type]').val(_v);
							$('#province_list2').hide();
							$("#province_select2").removeClass('down');
						})
					})
					$("#city_select2").click(function(){
						if($("#city_list2").is(":hidden")){
							$("#city_list2").show()
							/*$("#province_select2").addClass('down');*/
						}else{
							$("#city_list2").hide()
							/*$("#province_select2").removeClass('down');*/
						}
					})
					$("#city_list2 li").each(function(){
						var _t = $(this)
								,_v = _t.attr('js_data');
						_t.click(function(){
							$('#city_select2').val(_t.text());
							$('input[name=type]').val(_v);
							$('#city_list2').hide();
							$("#city_select2").removeClass('down');
						})
					})
				
					
					$("#county_select2").click(function(){
						if($("#county_list2").is(":hidden")){
							$("#county_list2").show()
							/*$("#province_select2").addClass('down');*/
						}else{
							$("#county_list2").hide()
							/*$("#province_select2").removeClass('down');*/
						}
					})
					$("#county_list2 li").each(function(){
						var _t = $(this)
								,_v = _t.attr('js_data');
						_t.click(function(){
							$('#county_select2').val(_t.text());
							$('input[name=type]').val(_v);
							$('#county_list2').hide();
							$("#county_select2").removeClass('down');
						})
					})
					/*$("body").not("#province, #citys,#countys").click(function(){
						$('#province_list2').hide();
						$('#county_list2').hide();
						$('#county_list2').hide();
					})*/
					/*省市县 end*/
				})
					
			</script>
			<div class="ad-pic">
				<img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}">
			</div>
		</aside>
		</div>
	</div>
	
</div>
<!-- 预约装修弹窗 -->
			<div id="mask">&nbsp;</div>
			<div id="order">
				<div class="order_head">预约装修</div>
				<div style="padding:0 100px;">
					<input type="text" placeholder="您的姓名" class="normal">
					<input type="text" placeholder="电话号码" class="normal">
					<div class="city">
						<input type="button" class="city_select" value="省/市" id="city_select1">
						<input type="hidden" name="type">
						<ul style="display:none;" class="city_list" id="city_list1">
							<li js_data="1">太原市</li>
							<li js_data="2">阳泉市</li>
						</ul>
					</div>
					<div class="county">
						<input type="button" class="area_select" value="省/市" id="area_select1">
						<input type="hidden" name="type">
						<ul style="display:none;" class="area_list" id="area_list1">
							<li js_data="1">太原市</li>
							<li js_data="2">阳泉市</li>
							<li js_data="3">大同市</li>
							<li js_data="4">忻州市</li>
							<li js_data="5">平遥市</li>
							<li js_data="6">晋中市</li>
							<li js_data="7">澳门市</li>
							<li js_data="8">长治市</li>
							<li js_data="9">平遥市</li>
							<li js_data="10">晋中市</li>
							<li js_data="11">澳门市</li>
							<li js_data="12">长治市</li>
						</ul>
					</div>
					<input type="text" placeholder="房屋面积" class="normal"><span class="area">㎡</span>
					<a href class="need_publish" id="mask_close">免费发布</a>
				</div>
			</div>
<!-- 预约装修 end -->
<script type="text/javascript">
$(function(){
	// 预约装修点击弹窗
				$(".nav_icon").click(function(){
					$("#order").show();
					$("#order").css("top","20%");
					$("#mask").show();
				});
				$("#mask").click(function(){
					$("#order").hide();
					$("#mask").hide();
				});

	// 切换星星
	$(".star_box .review_uls ").on('click', 'li', function(){
		var t = $(this),i = t.index()+1;
		$(this).parent(".review_uls").find("li").each(function(index){
			if (index<i) {
				$(this).addClass('on');
			}else{
				$(this).removeClass('on');
			}
		});
	});

})
 function filechange(obj) {
        if (obj.files && obj.files.length) {
            for (var i = 0; i < obj.files.length; i++) {
                var fileName = obj.files[i].name
                    ,ext = fileName.substring(fileName.lastIndexOf(".")+1,fileName.length).toLowerCase()
                  var fileSize =  obj.files[i].size;
	            if(fileSize>1024000){
	                alert("亲，图片不能超过10MB哦！");
	                return;
                }
                if(ext != "jpg" && ext != "png" && ext != "bmp")
                {
                    alert('您上传的图片格式不正确，请重新选择！');
                    return;
                }

                $('form[name=comment]').append('<input type="file" name="filesmul[]" value="'+obj.files[i].name+'"');
                appendImg(window.URL.createObjectURL(obj.files[i]));
            }
        } else {
            obj.select();
            obj.blur();
            var imgSrc = document.selection.createRange().text;
            appendImg(imgSrc, true);
        }

    }
    function appendImg(url, ie) {
        var img = document.createElement('img'), imgid = guid();;
        img.src = url;
        img.id = imgid;
        img.setAttribute("name", "img_name");
       // document.getElementById("thumbnails").appendChild(img);
        img.onload = function(){ //加载图片后才能获取图片的宽高
       var img_length=document.getElementsByName("img_name").length+1
        var width = img.width;
        var height = img.height;
        if(width>=300 && height>=300){
        	//alert(img_length);
            if(img_length>5){
                 alert("亲不能超过五张啊");
                 return;
             }else{
               document.getElementById("thumbnails").appendChild(img);
             }
        }else if(width<300){
            alert("亲图片不能小于300*300哦！");
            return;
        }
    };

        if (ie) {
            try {
                var imgshow = document.getElementById(imgid);
                imgshow.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgshow.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = url;
            } catch (e) {
                alert("您上传的图片格式不正确，请重新选择！");
                return false;
            }
        }

    }

    var guid = (function () {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
        }
        return function () {
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        };
    })();
</script>