
<div class="design_detail_bag">
<section class="breadcrumb">
	<span class="left-icon">您当前的位置：</span> <a href="{url:}">首页</a>
	 »
	<a href=''>设计师</a>
	»
	<a href=''>设计作品</a>
</section>
<div class="design_main">
	<div class="design_detail_header clear">
		<div class="header_img_left ">
			<div class="img_designer"><img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}"/></div>
			<div class="designer_name"><b>金鸣</b><span><img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}" class="gold_icon"/></span></div>
		</div>
		<div class="designer_title">
			<h3 class="design_brief">钓鱼台7号院129平三居室欧式古典风格</h3>
			<p>所在地：<i>保密</i>&nbsp;所在楼盘：<i>保密</i>&nbsp;风格：<i class="color_b4">欧式</i>&nbsp;预算：<i class="color_b4">18.0万元</i>&nbsp;面积：<i class="color_b4">129.0平米</i>&nbsp;户型：<i class="color_b4">三居</i>&nbsp;</p>
		</div>
	</div>
	<div class="design_center clear">
		<div class="design_center_left">
			<div class="design_center_list">
				<div class="detail_title">设计思路</div>
				<p class="conter_infor">结构为四局室，也是小区前期售楼处经典样板间的案例作品.结构为四局室，也是小区前期售楼处经典样板间的案例作品结构为四局室，也是小区前期售楼处经典样板间的案例作品结构为四局室，也是小区前期售楼处经典样板间的案例作品结构为四局室，也是小区前期售楼处经典样板间的案例作品结构为四局室，也是小区前期售楼处经典样板间的案例作品结构为四局室，也是小区前期售楼处经典样板间的案例作品结构为四局室，也是小区前期售楼处经典样板间的案例作品结构为四局室，也是小区前期售楼处经典样板间的案例作品结构为四局室，也是小区前期售楼处经典样板间的案例作品</p>
				<div class="design_content">
					<p class="img_title">客厅</p>
					<img src="{url:views/nzw/skin/default/image/warn.png}" class="case_img"/>
					<p class="desing_con_ifor">客厅中的浓郁色彩营造</p>
					<p class="img_title">餐厅</p>
					<img src="{url:views/nzw/skin/default/image/warn.png}" class="case_img"/>
					<p class="desing_con_ifor">客厅中的浓郁色彩营造</p>
				</div>
			</div>
			<div class="design_center_list">
				<div class="design_comment"><i>0</i>条评论</div>
				<form>
				<div class="star_box">
					<strong class="items">设计水平：</strong>
					<ul class="review_uls">
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="star_box">
					<strong class="items">服务态度：</strong>
					<ul class="review_uls">
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
						<li class="on"></li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="reply_textarea">
					<textarea placeholder="输入您的评价内容..."></textarea>
					<p class="textale_ts a99">还可以输入<i class="color_b4">140</i>个字</p>
				</div>

				<div class="design_comment_button"><input class="sub_company" type="submit" value="提 交"/></div>
				</form>
			</div>
		</div>
		<aside class="shop_bar">
			{set:$catSide = goods_class::catTree($this->catId)} {if:$catSide}
			<nav class="bar_box bar_goods_nav">
				<h3 class="bar_box_head">发布设计需求</h3>
				<input type="text" placeholder="您的姓名" class="normal">
				<input type="text" placeholder="电话号码" class="normal">
				<div class="province">
					<input type="button" class="area_select" value="省" id="province_select2">
					<input type="hidden" name="type">
					<ul style="display:none;" class="area_list" id="province_list2">
						<li js_data="1">太原市</li>
						<li js_data="2">阳泉市</li>
					</ul>
				</div>
				<div class="citys">
					<input type="button" class="area_select" value="市" id="city_select2">
					<input type="hidden" name="type">
					<ul style="display:none;" class="area_list" id="city_list2">
						<li js_data="1">太原市</li>
						<li js_data="2">阳泉市</li>
						<li js_data="3">大同市</li>
						<li js_data="4">忻州市</li>
						<li js_data="5">平遥市</li>
						<li js_data="6">晋中市</li>
						<li js_data="7">澳门市</li>
						<li js_data="8">长治市</li>
						<li js_data="9">平遥市</li>
						<li js_data="10">晋中市</li>
						<li js_data="11">澳门市</li>
						<li js_data="12">长治市</li>
					</ul>
				</div>
				<div class="countys">
					<input type="button" class="area_select" value="县" id="county_select2">
					<input type="hidden" name="type">
					<ul style="display:none;" class="area_list" id="county_list2">
						<li js_data="1">太原市</li>
						<li js_data="2">阳泉市</li>
						<li js_data="3">大同市</li>
						<li js_data="4">忻州市</li>
						<li js_data="5">平遥市</li>
						<li js_data="6">晋中市</li>
						<li js_data="7">澳门市</li>
						<li js_data="8">长治市</li>
						<li js_data="9">平遥市</li>
						<li js_data="10">晋中市</li>
						<li js_data="11">澳门市</li>
						<li js_data="12">长治市</li>
					</ul>
				</div>
				<div class="room_size"><input type="text" placeholder="房屋面积" class="normal"/><span class="area">㎡</span></div>
				<textarea placeholder="备注" class="textare_bz"></textarea>
				<a href class="need_publish">立即发布</a>
			</nav>
			{/if}
			<script>
				$(function(){
					
					/*省市县*/
					$("#province_select2").click(function(){
						if($("#province_list2").is(":hidden")){
							$("#province_list2").show()
							/*$("#province_select2").addClass('down');*/
						}else{
							$("#province_list2").hide()
							/*$("#province_select2").removeClass('down');*/
						}
					})


					$("#province_list2 li").each(function(){
						var _t = $(this)
								,_v = _t.attr('js_data');
						_t.click(function(){
							$('#province_select2').val(_t.text());
							$('input[name=type]').val(_v);
							$('#province_list2').hide();
							$("#province_select2").removeClass('down');
						})
					})
					$("#city_select2").click(function(){
						if($("#city_list2").is(":hidden")){
							$("#city_list2").show()
							/*$("#province_select2").addClass('down');*/
						}else{
							$("#city_list2").hide()
							/*$("#province_select2").removeClass('down');*/
						}
					})
					$("#city_list2 li").each(function(){
						var _t = $(this)
								,_v = _t.attr('js_data');
						_t.click(function(){
							$('#city_select2').val(_t.text());
							$('input[name=type]').val(_v);
							$('#city_list2').hide();
							$("#city_select2").removeClass('down');
						})
					})
				
					
					$("#county_select2").click(function(){
						if($("#county_list2").is(":hidden")){
							$("#county_list2").show()
							/*$("#province_select2").addClass('down');*/
						}else{
							$("#county_list2").hide()
							/*$("#province_select2").removeClass('down');*/
						}
					})
					$("#county_list2 li").each(function(){
						var _t = $(this)
								,_v = _t.attr('js_data');
						_t.click(function(){
							$('#county_select2').val(_t.text());
							$('input[name=type]').val(_v);
							$('#county_list2').hide();
							$("#county_select2").removeClass('down');
						})
					})
					/*$("body").not("#province, #citys,#countys").click(function(){
						$('#province_list2').hide();
						$('#county_list2').hide();
						$('#county_list2').hide();
					})*/
					/*省市县 end*/
				})
					
			</script>
			<div class="ad-pic">
				<img src="{url:views/nzw/skin/default/image/list/ad-pic.jpg}">
			</div>
		</aside>

	</div>
</div>
</div>
<script type="text/javascript">
$(function(){

	// 切换星星
	$(".star_box .review_uls ").on('click', 'li', function(){
		var t = $(this),i = t.index()+1;
		$(this).parent(".review_uls").find("li").each(function(index){
			if (index<i) {
				$(this).addClass('on');
			}else{
				$(this).removeClass('on');
			}
		});
	});

})
</script>