  <style type="text/css">
    .foot .copy.border{background: #626262}.foot .copy{color: #fff;}.foot .copy a {color: #fff;}
  </style>
  <script src='{theme:javascript/index_slide.js}'></script>
  <!-- <div id="header">头部</div> -->
<script type="text/javascript">
$(function(){
    $(".header_nav ul li a").eq(0).addClass("on");
})
</script>
<div id="main">
    <div class="louceng">
        <section class="home_1">
            <!-- 通栏焦点图 -->
            <!-- <section id="home_fouse" class="home_fouse" style="background:#ccc;">
                {if:$this->index_slide}
                <ul style="width:1200px;margin:0 auto;">
                    {foreach:items=$this->index_slide}
                    <li><a href="{url:$item[url]}"><img src="{url:/pic/thumb/img/$item['img']}"></a></li>
                    {/foreach}
                </ul>
                {/if}
            </section> -->
<!--bn-->
    <div class="home_fouse1" style="background:#ccc;">
        <!--轮播开始-->
            
        <div class="pub_c">
           <div class="m_banner">
                <div class="banner b1" style=" background-image:url(images_2/banner_2.jpg);" id="banner1">
                  
                </div>
                <div class="banner b5" style=" background-image:url(images_2/banner_17.jpg);display:none;" id="banner5">
                
                </div>
                <div class="banner b2" style=" background-image:url(images_2/banner_12.jpg);display:none;" id="banner2"></div>
                <div class="banner b3" style=" background-image:url(images_2/banner_3.jpg);display:none;" id="banner3"> </div>
                <div class="banner b4" style=" background-image:url(images_2/banner_4.jpg);display:none;" id="banner4">  </div>
                <div class="banner_ctrl"> <a href="#" class="prev" title=""></a> <a href="javascript:;" class="next" title=""></a> </div>


                <div id="tabbox">
                    <div class="tabbox">
                        <div class="tab">
                            <a href="javascript:;" class="on">免费报价</a>
                            <a href="javascript:;">免费设计</a>
                        </div>
                        <div class="content">
                            <ul>
                                <li style="display:block;">
                                    <form>
                                        <input type="text" placeholder="请输入您的姓名" class="free_text" style="margin-top:0;">
                                        <input type="text" placeholder="请输入您的手机号" class="free_text">
                                              <div class="container" >
                                                 <select name="" class="select">
                                                     <option selected="selected">省</option>
                                                        <option>北京</option>
                                                        <option>天津</option>
                                                        <option>上海</option>
                                                        <option>重庆</option>
                                                     </select>
                                                 </div>
                                                 <div class="container" >
                                                 <select name="" class="select">
                                                        <option selected="selected">省</option>
                                                        <option>北京</option>
                                                        <option>天津</option>
                                                        <option>上海</option>
                                                        <option>重庆</option>
                                                 </select>
                                                 </div>
                                                 <div class="container" >
                                                 <select name="" class="select">
                                                     <option selected="selected">省</option>
                                                        <option>北京</option>
                                                        <option>天津</option>
                                                        <option>上海</option>
                                                        <option>重庆</option>
                                                     </select>
                                                 </div>
                                        <input type="text" placeholder="房屋面积" class="free_text"><span class="area">㎡</span>
                                        <input type="textarea" placeholder="备注" class="free_textarea">
                                        <a href class="button">立即报价</a>
                                    </form>
                                </li>
                                <li>                        
                                    <form>
                                        <input type="text" placeholder="请输入您的姓名" class="free_text" style="margin-top:0;">
                                        <input type="text" placeholder="请输入您的手机号" class="free_text" >
                                            <div class="container" >
                                                 <select name="" class="select">
                                                     <option selected="selected">省</option>
                                                        <option>北京</option>
                                                        <option>天津</option>
                                                        <option>上海</option>
                                                        <option>重庆</option>
                                                     </select>
                                                 </div>
                                                 <div class="container" >
                                                 <select name="" class="select">
                                                        <option selected="selected">省</option>
                                                        <option>北京</option>
                                                        <option>天津</option>
                                                        <option>上海</option>
                                                        <option>重庆</option>
                                                 </select>
                                                 </div>
                                                 <div class="container" >
                                                 <select name="" class="select">
                                                     <option selected="selected">省</option>
                                                        <option>北京</option>
                                                        <option>天津</option>
                                                        <option>上海</option>
                                                        <option>重庆</option>
                                                     </select>
                                                 </div>
                                        <input type="text" placeholder="房屋面积" class="free_text" ><span class="area" style="bottom:71px;bottom:68px\0;">㎡</span>
                                        <a href class="button">立即报价</a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
         

            <script>
                $(function(){
                    $(".tabbox .tab a").click(function(){
                        $(this).addClass('on').siblings().removeClass('on');
                        var index = $(this).index();
                        number = index;
                        $('.tabbox .content li').hide();
                        $('.tabbox .content li:eq('+index+')').show();
                    }); 
                });
            </script>

          </div>
         
                <!--轮播结束-->
        </div>
            
             

        </section>
    </div>
    <div class="louceng1">
        <section class="home_2">
            <div id="hot_goods" class="hot_goods">
                <ul class="special">
                    <li>
                        <h2>&nbsp;</h2>
                    </li>
                </ul>
                <div class="sale_step">
                    <ul class="step_list">
                        <li>
                            <a href class="step1">收房量房</a>
                        </li>
                        <li>
                            <a href class="step2">前期准备</a>
                        </li>
                        <li>
                            <a href class="step3">选装修公司</a>
                        </li>
                        <li>
                            <a href class="step4">设计阶段</a>
                        </li>
                        <li>
                            <a href class="step5">材料选购</a>
                        </li>
                        <li>
                            <a href class="step6">施工阶段</a>
                        </li>
                        <li>
                            <a href class="step7">竣工验收</a>
                        </li>
                        <li>
                            <a href class="step8">软装配饰</a>
                        </li>
                        <li style="margin-right:0;">
                            <a href class="step9">装修保障</a>
                        </li>
                    </ul>
                </div>
                <ul class="special1">
                    <li>
                        <h2>&nbsp;</h2>
                        <nav class="floor_more">
                         <a href>&nbsp;</a>
                        </nav>    
                    </li>
                </ul>
            </div>

        </section>
    </div>

    <div class="louceng2">
        <section class="home_2">
            <div id="hot_goods" class="hot_goods">
                <div class="case_price">
                    <div class="case_list">
                            <a href><img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="北欧宜家 简约 清新 小户型 一居室" title="北欧宜家 简约 清新 小户型 一居室"></a>
                      
                        <p>
                            <a href>北欧宜家 简约 清新 小户型 一居室</a>
                        </p>
                        <p>
                            <span class="area">面积：100㎡</span>
                            <span class="price">售价：8万/全包</span>
                        </p>
                    </div>
                    <div class="case_list" style="border:0;">
                        <div class="case_list_small">                            
                                <a href><img src="{url:views/nzw/skin/default/image/index/case_pic_02.png}" alt="北欧宜家 简约 清新 小户型 一居室" title="北欧宜家 简约 清新 小户型 一居室"></a>
                          
                            <p>
                                <a href>北欧宜家 简约 清新 小户型 一居室</a>
                            </p>
                            <p>
                                <span class="area">面积：100㎡</span>
                                <span class="price">售价：8万/全包</span>
                            </p>
                        </div>
                        <div class="case_list_small">                            
                                <img src="{url:views/nzw/skin/default/image/index/case_pic_02.png}" alt="北欧宜家 简约 清新 小户型 一居室" title="北欧宜家 简约 清新 小户型 一居室">
                          
                            <p>
                                北欧宜家 简约 清新 小户型 一居室
                            </p>
                            <p>
                                <span class="area">面积：100㎡</span>
                                <span class="price">售价：8万/全包</span>
                            </p>
                        </div>
                    </div>
                    <div class="case_list" style="margin-right:0;">
                            <img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="北欧宜家 简约 清新 小户型 一居室" title="北欧宜家 简约 清新 小户型 一居室">
                      
                        <p>
                            北欧宜家 简约 清新 小户型 一居室
                        </p>
                        <p>
                            <span class="area">面积：100㎡</span>
                            <span class="price">售价：8万/全包</span>
                        </p>                        
                    </div>
                </div>
                <div class="case_price">
                    <div class="case_list">
                            <a href><img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="北欧宜家 简约 清新 小户型 一居室" title="北欧宜家 简约 清新 小户型 一居室"></a>
                      
                        <p>
                            <a href>北欧宜家 简约 清新 小户型 一居室</a>
                        </p>
                        <p>
                            <span class="area">面积：100㎡</span>
                            <span class="price">售价：8万/全包</span>
                        </p>
                    </div>
                    <div class="case_list" style="border:0;">
                        <div class="case_list_small">                            
                                <a href><img src="{url:views/nzw/skin/default/image/index/case_pic_02.png}" alt="北欧宜家 简约 清新 小户型 一居室" title="北欧宜家 简约 清新 小户型 一居室"></a>
                          
                            <p>
                                <a href>北欧宜家 简约 清新 小户型 一居室</a>
                            </p>
                            <p>
                                <span class="area">面积：100㎡</span>
                                <span class="price">售价：8万/全包</span>
                            </p>
                        </div>
                        <div class="case_list_small" style="margin-bottom:0px;">                            
                                <img src="{url:views/nzw/skin/default/image/index/case_pic_02.png}" alt="北欧宜家 简约 清新 小户型 一居室" title="北欧宜家 简约 清新 小户型 一居室">
                          
                            <p>
                                北欧宜家 简约 清新 小户型 一居室
                            </p>
                            <p>
                                <span class="area">面积：100㎡</span>
                                <span class="price">售价：8万/全包</span>
                            </p>
                        </div>
                    </div>
                    <div class="case_list" style="margin-right:0;">
                            <img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="北欧宜家 简约 清新 小户型 一居室" title="北欧宜家 简约 清新 小户型 一居室">
                      
                        <p>
                            北欧宜家 简约 清新 小户型 一居室
                        </p>
                        <p>
                            <span class="area">面积：100㎡</span>
                            <span class="price">售价：8万/全包</span>
                        </p>                        
                    </div>
                </div>
                <!-- 广告图片 -->
                <div class="ad">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">
                </div>
            </div>

        </section>
    </div>
    <div class="louceng3">        
        <section class="home_2">
            <div id="hot_goods" class="hot_goods">                
                <ul class="special1">
                    <li>
                        <h2>&nbsp;</h2>
                        <nav class="floor_more">
                         <a href>&nbsp;</a>
                        </nav>   
                    </li>
                </ul>
                <!-- 广告图片 -->
                <div class="company_ad">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">
                </div>
                <!-- 企业logo -->
                <div class="company_list">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">                    
                </div>
                <div class="clear"></div>
                <ul class="special1" id="louceng4">
                    <li>
                        <h2>&nbsp;</h2>
                        <nav class="floor_more">
                         <a href>&nbsp;</a>
                        </nav>   
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="louceng4">        
        <section class="home_2">
            <div id="hot_goods" class="hot_goods">                
                
                <!-- 设计师列表 -->
                <div class="designer_list">
                    <!-- 放四个 -->
                    <div class="designer" style="margin-left:0;">
                        <img src="{url:views/nzw/skin/default/image/index/designer.jpg}">
                        <div class="intro">
                            <div class="space">&nbsp;</div>
                            <h4>蓝湾国际设计师：寒冬</h4>
                            <p>擅长空间、家居住宅、别墅豪宅</p>
                        </div>
                    </div>
                    <div class="designer">
                        <img src="{url:views/nzw/skin/default/image/index/designer.jpg}">
                        <div class="intro">
                            <div class="space">&nbsp;</div>
                            <h4>蓝湾国际设计师：寒冬</h4>
                            <p>擅长空间、家居住宅、别墅豪宅</p>
                        </div>
                    </div>
                    <div class="designer">
                        <img src="{url:views/nzw/skin/default/image/index/designer.jpg}">
                        <div class="intro">
                            <div class="space">&nbsp;</div>
                            <h4>蓝湾国际设计师：寒冬</h4>
                            <p>擅长空间、家居住宅、别墅豪宅</p>
                        </div>
                    </div>
                    <div class="designer">
                        <img src="{url:views/nzw/skin/default/image/index/designer.jpg}">
                        <div class="intro">
                            <div class="space">&nbsp;</div>
                            <h4>蓝湾国际设计师：寒冬</h4>
                            <p>擅长空间、家居住宅、别墅豪宅</p>
                        </div>
                    </div>
                <div class="clear"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="louceng5">        
        <section class="home_2">
            <div id="hot_goods" class="hot_goods">                
                <ul class="special1">
                    <li>
                        <h2>&nbsp;</h2>
                        <nav class="floor_more">
                         <a href>&nbsp;</a>
                        </nav>   
                    </li>
                </ul>
                <!-- 广告图片 -->
                <div class="product_ad">
                    <img src="{url:views/nzw/skin/default/image/index/ad.png}">
                </div>
                <!-- 企业logo -->
                <div class="product_list">
                    <div class="product">                        
                            <img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="惠人（HUROM）原汁机" title="惠人（HUROM）原汁机">                      
                        <p>
                            <a href>惠人（HUROM）原汁机</a>
                        </p>
                        <p>
                            <span class="area">特价：<span class="red">2388</span></span>
                            <span class="price">原价：5288</span>
                        </p> 
                    </div>   
                    <div class="product">                        
                            <img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="惠人（HUROM）原汁机" title="惠人（HUROM）原汁机">                      
                        <p>
                            <a href>惠人（HUROM）原汁机</a>
                        </p>
                        <p>
                            <span class="area">特价：<span class="red">2388</span></span>
                            <span class="price">原价：5288</span>
                        </p> 
                    </div>   
                    <div class="product">                        
                            <img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="惠人（HUROM）原汁机" title="惠人（HUROM）原汁机">                      
                        <p>
                            <a href>惠人（HUROM）原汁机</a>
                        </p>
                        <p>
                            <span class="area">特价：<span class="red">2388</span></span>
                            <span class="price">原价：5288</span>
                        </p> 
                    </div>   
                    <div class="product">                        
                            <img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="惠人（HUROM）原汁机" title="惠人（HUROM）原汁机">                      
                        <p>
                            <a href>惠人（HUROM）原汁机</a>
                        </p>
                        <p>
                            <span class="area">特价：<span class="red">2388</span></span>
                            <span class="price">原价：5288</span>
                        </p> 
                    </div>   
                    <div class="product">                        
                            <img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="惠人（HUROM）原汁机" title="惠人（HUROM）原汁机">                      
                        <p>
                            <a href>惠人（HUROM）原汁机</a>
                        </p>
                        <p>
                            <span class="area">特价：<span class="red">2388</span></span>
                            <span class="price">原价：5288</span>
                        </p> 
                    </div>   
                    <div class="product">                        
                            <img src="{url:views/nzw/skin/default/image/index/case_pic_01.png}" alt="惠人（HUROM）原汁机" title="惠人（HUROM）原汁机">                      
                        <p>
                            <a href>惠人（HUROM）原汁机</a>
                        </p>
                        <p>
                            <span class="area">特价：<span class="red">2388</span></span>
                            <span class="price">原价：5288</span>
                        </p> 
                    </div>                 
                </div>
                <div class="clear"></div>
            </div>
        </section>
    </div>
    <div class="louceng">
        <section class="service">
        <div class="serve_list">
            <img src="{webroot:}{echo:IFilter::addSlash($this->_siteConfig->site_help_code)}" alt="" style="width: 1200px;">
        </div>
        </section>
    </div>    
        
</div>    



<section class="friend_link">
    <h2>友情链接</h2>
    <ul>
        {foreach:items=Api::run('getLinkList') item=$link}
            <li>
            <a href="{$link['link']}" target="_blank" rel="nofollow">{$link['name']}</a>
            </li>
        {/foreach}
    </ul>
</section>



