  <!-- <div id="header">头部</div> -->
<script type="text/javascript">
$(function(){
    $(".header_nav ul li a").eq(0).addClass("on");
})
</script>
<div id="main">
    <div class="louceng">
        <section class="home_1">
            <!-- 通栏焦点图 -->
            <!-- <section id="home_fouse" class="home_fouse" style="background:#ccc;">
                {if:$this->index_slide}
                <ul style="width:1200px;margin:0 auto;">
                    {foreach:items=$this->index_slide}
                    <li><a href="{url:$item[url]}"><img src="{url:/pic/thumb/img/$item['img']}"></a></li>
                    {/foreach}
                </ul>
                {/if}
            </section> -->
<!--bn-->
<div class="home_fouse" id="home_fouse" style="background:#ccc;height:380px;">
        <!--轮播开始-->
            
        <!--轮播结束-->
</div>
            
             

            <section class="home_1_show">
                <header class="floor_head">
                <h2>商家推荐</h2>
                <nav class="floor_nav">
                    <a href="{url:/site/search_list_seller}">更多</a>
                </nav>
              </header>
                <ul>
                    {foreach:items=Api::run('getRecommendSeller',6)}
                    <li>
                        <a href="{url:/site/home/id/$item['id']}">
                            <img src="{webroot:}{$item['seller_logo']}">
                            <!-- 收费商家的图标 -->
                            {if:$item['is_pay']}
                            <img src="{url:views/nzw/skin/default/image/sellerVip.png}" class="vip_icon">
                            {/if}
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </section> 
        </section>
    </div>
    <div class="louceng">
        <section class="home_2">
        <div id="hot_goods" class="hot_goods">
            <ul class="special">
                <li>
                    <h2>特价商品</h2>
                    <nav class="floor_more">
                     <!--<a href="/.php">更多</a>-->
                    </nav>    
                </li>
            </ul>
            <div class="sale_price">
                <ul class="hot_goods_list">
                    {foreach:items=Api::run('getCommendPrice',6)}
                    <li>
                        <a href="{url:/site/products/id/$item['id']}">
                            <img src="{url:/pic/thumb/img/$item['img']/w/170/h/170}">
                            <h4>{$item['name']}</h4>
                            <em>￥{$item['sell_price']}</em>
                            <del>￥{$item['market_price']}</del>
                            
                            {if:goods_class::getSellerPay($item['seller_id'])}
                            <img src="{url:views/nzw/skin/default/image/sellerVip.png}" class="vip_icon">
                            {/if}
                        </a>

                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>

    </section>
    </div>
    {foreach:items=Api::run('getCategoryListTop') item=$first }
    <div class="louceng">
        <!-- 开始循环楼层 -->
    <section class="home_floor">
        <header class="floor_head">
            <h2>{$first['name']}</h2>
            <nav class="floor_nav">
                <ul>
                    <li><a href="{url:/site/pro_list/cat/$first[id]}">更多</a></li>
                </ul>
            </nav>
        </header>
        <section class="floor_body">
            
            <div class="floor_show">
                <div class="classify">
                    <ul>
                        {foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$first['id'])) item=$second}
                        <li><a href="{url:/site/pro_list/cat/$second[id]}">{$second['name']}</a></li>
                        {/foreach}
                    </ul>
                </div>
                <div class="ad_classify">
                        {echo:Ad::show("首页分类广告228*300",$first['id'])}
                </div>
            </div>
            <div class="floor_goods">
                <ul>
                {set:$cateId=goods_class::catChild($first['id'])}
                    {foreach:items=Api::run('getCategoryExtendList',array('#categroy_id#',$cateId),10)}
                    <li>
                        <a href="{url:/site/products/id/$item['id']}">
                            <img src="{url:/pic/thumb/img/$item['img']/w/170/h/170}">
                            {if:goods_class::getSellerPay($item['seller_id'])}
                            <img src="{url:views/nzw/skin/default/image/sellerVip.png}" class="vip_icon">
                            {/if}
                            <h4>{$item['name']}</h4>
                            <em>￥{$item['sell_price']}</em>
                            <del>￥{$item['market_price']}</del>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </section>
    </section>
    </div>
    {/foreach}
    <div class="louceng">
        <section class="service">
        <div class="serve_list">
            <img src="{webroot:}{echo:IFilter::addSlash($this->_siteConfig->site_help_code)}" alt="" style="width: 1200px;">
        </div>
        </section>
    </div>    
        
</div>    



<section class="friend_link">
    <h2>友情链接</h2>
    <ul>
        {foreach:items=Api::run('getLinkList') item=$link}
            <li>
            <a href="{$link['link']}" target="_blank" rel="nofollow">{$link['name']}</a>
            </li>
        {/foreach}
    </ul>
</section>



