{set:$breadGuide = goods_class::catRecursion($this->catId)}
{set:$goodsObj = search_goods::find(array('category_extend' => $this->childId),20);$resultData = $goodsObj->find()}


<section class="breadcrumb">
	<span>您当前的位置：</span> <a href="{url:}">首页</a>
	{foreach:items=$breadGuide} »
	<a href='{url:/site/pro_list/cat/$item[id]}'>{$item['name']} </a>
	{/foreach}
</section>

<section class="web">
	<section class="main">
		<!-- 调用筛选 -->
		{include:_goods_list_filter}
		<!-- 商品列表 -->
		<section class="goods_list">
			{if:$resultData}
			<ul>
				{foreach:items=$resultData}
				<li>
					<a target="_blank" href="{url:/site/products/id/$item[id]}">
						<img alt="{$item['name']}" src="{url:/pic/thumb/img/$item[img]/w/205/h/205}">
						<h5>{$item['name']}</h5>
						<em>￥{$item['sell_price']}</em>
						<del>￥{$item['market_price']}</del>
					</a>
				</li>
				{/foreach}
			</ul>
			{$goodsObj->getPageBar()}

			{else:}
			<p class="no_tip">
				对不起，没有找到相关商品
			</p>
			{/if}
		</section>
	</section>
	<aside class="bar">
		{set:$catSide = goods_class::catTree($this->catId)} {if:$catSide}
		<nav class="bar_box bar_goods_nav">
			<h3 class="bar_box_head">{$this->catRow['name']}</h3>
			{foreach:items=$catSide item=$first}
			<dl>
				<dt><a href="{url:/site/pro_list/cat/$first[id]}">{$first['name']}</a></dt>
				{foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$first['id'])) item=$second}
				<dd><a href="{url:/site/pro_list/cat/$second[id]}">{$second['name']}</a></dd>
				{/foreach}
			</dl>
			{/foreach}
		</nav>
		{/if}
		<div class="bar_box">
			<h3 class="bar_box_head">热卖商品</h3>
			<ul class="bar_goods">
				{foreach:items=Api::run('getCommendHot',5)}
				<li>
					<a href="{url:/site/products/id/$item[id]}">
						<img src="{url:/pic/thumb/img/$item['img']/w/60/h/60}" alt="{$item['name']}">
						<strong>{$item['name']}</strong>
						<em>￥{$item['sell_price']}</em>
					</a>
				</li>
				{/foreach}
			</ul>
		</div>
	</aside>
</section>


