body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td, menu { margin: 0; padding: 0; resize: none;font-family: "Microsoft YaHei"; }

table { border-collapse: collapse; border-spacing: 0; }

body,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,table,tr,th,td,p,input,dl,dt,dd,ul,ol,li,input,textarea { font-family:"微软雅黑"!important;}

ul, ol, menu { list-style: none; text-align: left; }

fieldset, img { border: none; }

img, object, select, input, textarea, button { vertical-align: middle; box-sizing: content-box; }

input, textarea, select, address, caption, cite, code, dfn, em, i, b, strong, small, th, var, abbr, button, u, s, del { font-style: normal; text-decoration: none; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block; }

code, kbd, pre, samp, tt { font-family: Consolas,"Courier New", Courier, monospace; }

address, cite, dfn, em, var, i { font-style: normal; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

a { text-decoration: none; cursor: pointer; color: #666; }
a:hover, a:focus { outline: none; color: #6bb945; text-decoration: underline; }
a, a * { cursor: pointer; }




.header{
	height: 80px;
	background: #ffffff;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px #d9d9d9 solid;
}
.header .head_main{width: 1200px; height: 80px; margin:0 auto;}
.head_main .head_left{
	text-align: center;
	line-height: 80px;
	float: left;
	width: 500px;
}
.head_main .head_left .logo_img{
	width: 200px;
	height: 50px;
	border-right: 1px solid #cdcdcd;
	margin: 15px 0;
	line-height: 50px;
	float: left;
}
.head_main .head_left .logo_img img{
	width: 142px;
	height: 56px;
}
.head_main .head_left .word_img{
	float: left;
	margin-left: 20px;
}
.head_main .head_left .word_img{
	width: 212px; height: 26px;
}
.head_main .head_right{
	text-align: center;
	line-height: 80px;
	float: right;
}
.head_main .head_right ul li{
	float: right;
	margin-left: 30px;
}
.head_main .head_right ul li a{
	color: #3c3c3c; font-size: 14px;
}
.head_main .head_right ul li a:hover{ text-decoration: none;}
.containt{
	background: #f9f9f9  url("../../../image/index/reg_bg.png") no-repeat center;
	width: 100%;
	height: 750px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.footer_bot {
    font-size: 14px;
    color: #929292;
    text-align: center;
    width: 100%;
    margin-top: 55px;
}
.tab_reg{
	width: 1090px;
	height: auto;
	overflow: hidden;
	margin: 25px auto 0 auto;
	box-shadow:0px 0px 5px #f0f0f0;
	border: 1px solid #f0f0f0;
	background: #fff;
}
.tab_reg .reg_top{width: 1090px; height: 90px; line-height: 90px;border-bottom: 1px solid #dadada;}
.reg_top .tab_btn{width: 600px;height: 90px;margin-left: 90px;float: left;}
.tab_btn h3{
    float: left;
    margin-left: 30px;
    color: #5d5d5d;
    padding:0;
    height: 50px;
    margin: 20px 40px 0 40px;
    line-height: 50px;
    padding-bottom: 18px;
}
.tab_btn h3.color{color: #6bb945;border-bottom:3px solid #6bb945;}
.tab_btn h3:hover{cursor: pointer;}
.reg_top .tab_right{float: right; padding-right: 50px;}
.reg_top .tab_right a{color: #6b6b6b;}

.conten{
	padding: 35px 35px 35px 85px;
}
.conten .reg_content{
	width: 440px;float: left;margin-left: 16px;
}
.conten .ad_box{float: right;width: 500px;margin-bottom: 20px;}
.conten .ad_box img{
	width: 500px;
}
textarea.invalid-text, input[type="text"].invalid-text, input[type="password"].invalid-text{margin-top: -1px;}
.reg_content div{position: relative; height: 42px;line-height: 42px; width: 380px;border: 1px solid #dbdbdb;margin-bottom: 21px;}
.reg_content div input{text-indent: 1em; position: absolute;right: 0; height: 41px;line-height: 42px;border: 0 none; margin-top: 0px; width: 244px; border: none; vertical-align: middle;outline: none;box-shadow: none;}
.reg_content div.setPass input{width: 207px;}
.reg_content div input.first{width: 300px;}
.reg_content div input.two{width: 160px;}
.reg_content div input.three{width: 300px;}
.reg_content div input.four{width: 300px;}
.reg_content div label{color: #848484; font-size: 15px;line-height: 20px; margin-left: 8px;}
.reg_content .auth_code{width: 240px;float: left; }
.reg_content .auth_code input{width: 100px;}
.reg_content div.verfy{border: none;}
.verfy .box_auth{
    float: left;
    width: 130px;
    margin-left: 6px;
    height: 42px;
    padding: 0;
    position: relative;
}
.reg_content .user_val{position: relative;}
.reg_content .user_val input{position: absolute;top: 0;right: 0;}
.reg_content .user_val label.invalid-msg{
    position: absolute;
    top: 40px;
    left: 0;
    
}
.reg_content .user_val label.user_nm{
	line-height: 38px;width: 60px;position: relative; top: -3px;
}
.verfy .box_auth img{width: 130px; height: 38px;}
.box_auth .gain{text-indent: 0; width: 130px;height: 42px; color: #8b8b8b; background: #ebebeb;cursor: pointer;padding: 0; margin: 0;position: absolute;left: 0;}
.reg_content span.agreement{font-size: 14px; color: #a5a5a5; position: relative; display: block;clear: both;line-height: 16px;background: url("../../../image/register/check.png") no-repeat;padding-left: 20px;cursor: pointer;}
.reg_content span.agreement.checked{background: url("../../../image/register/checked.png") no-repeat;}
.reg_content .mob_btn {border: none;margin-top: 10px;}
.reg_content .mob_btn input{display: block; background: #6bb945; height: 42px; cursor: pointer; line-height: 42px;
						text-align: center; color: #fff;width: 380px;font-size: 16px;text-indent: 0;border-radius: 5px;}
.reg_content .user label img,.reg_content .pass label img{width: 20px; height: 20px;}
.reg_content .user input,.reg_content .pass input{padding-left: 20px;position: absolute;right: 0;}
.reg_content div input+.invalid-msg,.reg_content div input+.invalid-msg{display: block;height: 20px;color: #cc301b;font-size: 12px;}
.reg_content div input+.valid-msg,.reg_content div input+.valid-msg{display: block;height: 20px;}
.reg_content div.sava_pass{border: none;position: relative;top: -10px;line-height: 42px;}
.reg_content div.sava_pass input{width: 16px; height: 16px;position: relative;}
.reg_content div.sava_pass a{float: right; color: #848484;font-size: 14px;}
.reg_content .reg_method{border: 0;}
.reg_content .reg_method .radio_check{width: 100px;height: 20px;line-height: 20px;padding-left: 30px;background: url("../../../image/register/part1.png") no-repeat;margin-left: 50px;color: #666;cursor: pointer;}
.reg_content .reg_method .radio_check.checked{background: url("../../../image/register/part2.png") no-repeat;}


/*注册完善信息*/
.tab_main{width: 900px;height: auto;overflow: hidden;margin: 0 auto;border: 0;background: #f9f9f9;}
.tab_main .reg_top{width: 900px; height: auto; line-height: 90px;border-bottom: none;}
.tab_main .reg_top .tab_btn{width: 900px;text-align: center;}
.tab_main .reg_top .tab_btn img{margin: 0 auto;}
.tab_main .tab_btn h3{float: left;color: #5d5d5d;padding: 0 30px;height: 60px;margin:0;margin-top: 20px;line-height: 60px;font-size: 24px;}
.tab_main .tab_btn h4{float: left;color: #aaa;height: 60px;margin-top: 20px;line-height: 60px;font-size: 14px;font-weight: normal;}
.tab_main .tab_btn h5{float: left;color: #ccc;height: 40px;margin-top: 10px;line-height: 40px;font-weight: normal;padding-left: 40px;}