<style type="text/css">
    body{
       /* background: #fff;*/
    }
</style>
{if:$this->user}
{set:$msgObj = new Mess($this->user['user_id'],$this->user['type']);$msgNum = $msgObj->needReadNum();}
{else:}
{set:$msgNum = 0;}
{/if}
<script src="{theme:javascript/style.js}"></script>
<header class="header_box">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <form method='get' action='{url:/}'>
                <input type='hidden' name='controller' value='site'>
                <input type='hidden' name='action' value='search_list'>
                <input type="hidden" name="type" value="1"/>
                <input type="text" class="text" name="word" placeholder="输入关键词"/>
            </form>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav" style="display: none;">
            <div class="c-tip-arrow" style="left: 30px;"><em></em><ins></ins></div>
            <ul>
                <li><a href="{url:/}"><i class="icon-home">首页</i></a></li>
                <li><a href="{url:/ucenter/message}">
                {if:$msgNum > 0}
                <i class="icon-comments-alt">消息</i>
                {else:}
                <i class="icon-comment-alt">消息</i>
                {/if}
                </a></li>
            </ul>
        </div>
   </div>
</header>
{set:$commend_id = IFilter::act(IReq::get('_t'),'int')}
{set:$goodsObj = search_goods::find(array('commend_extend' => $commend_id),20);$resultData = $goodsObj->find();}

{if:$resultData}
<aside class="goods_sort">
    {foreach:items=search_goods::getOrderType()}
    <span class="sort_btn" onclick="gourl('{echo:search_goods::searchUrl(array('order','by'),array($key,search_goods::getOrderBy($key)))}')">{$item}
        <i class="down_a"></i>
    </span>
    
    {/foreach}
</aside>
<section class="goods_list">
    <ul>
        {foreach:items=$resultData}
        <li>
            <a class="clear" href="{url:/site/products/id/$item[id]}">
                <i class="photo"><img class="goods_photo" src="{url:/pic/thumb/img/$item[img]/w/200/h/200}" alt="{$item['name']}">
                {if:goods_class::getSellerPay($item['seller_id'])}
                <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                {/if}
                </i>
                <div class="name_price">
                    <h3 class="name"><strong>{$item['name']}</strong></h3>
                    
                    <em class="price">￥{$item['sell_price']}</em>
                    <del class="old_price">市场价：￥{$item['market_price']}</del>
                    <span class="xl">销量{$item['sale']}</span>
                </div>
            </a>                
        </li>
        {/foreach}
    </ul>
</section>
<div class="down_g">下拉加载更多</div>
<!-- <div class="down_g">没有更多数据</div> -->
<!-- {$goodsObj->getPageBar()} -->
{else:}
<section class="nodata">没有相关商品</section>
{/if}

<script>
$(function(){
    // 隐藏底部导航
    hideNav();

    // 切换导航样式
    var order = getUrlParam("order");
    var by = getUrlParam("by");
    var sortBtn = $(".goods_sort").children('.sort_btn');
    /*sortBtn.eq(2).append('<i>');*/
    if(order=="sale"){
        if(by=="desc"){
            sortBtn.eq(0).addClass('on').append('<i class="icon-angle-down"></i>');
        }else{
            sortBtn.eq(0).addClass('on').append('<i class="icon-angle-up"></i>');
        }
        
    }else if (order=="cpoint"){
        if(by=="desc"){
            sortBtn.eq(1).addClass('on').append('<i class="icon-angle-down"></i>');
        }else{
        sortBtn.eq(1).addClass('on').append('<i class="icon-angle-up"></i>');
        }
    }else if(order=="price"){
         if(by=="desc"){
        sortBtn.eq(2).addClass('on').append('<i class="icon-angle-down"></i>');
        }else{
        sortBtn.eq(2).addClass('on').append('<i class="icon-angle-up"></i>');
        }
       
    }else if(order=="new"){
        if(by=="desc"){
        sortBtn.eq(3).addClass('on').append('<i class="icon-angle-down"></i>');
        }else{
        sortBtn.eq(3).addClass('on').append('<i class="icon-angle-up"></i>');
        }
    }else{
        sortBtn.eq(0).addClass('on').append('<i class="icon-angle-down"></i>');
    };
});
</script>
