<style type="text/css">
    body{
        background: #fff;
    }
    .main_head .sear_t a{
    	width: 100%;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="javascript:;">{$this->help_row['name']}</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a href="{url:/}"><i class="icon-home">首页</i></a></li>
                <li><a href="{url:/ucenter/message}">
                {if:$this->user}
                {set:$msgObj = new Mess($this->user['user_id']);$msgNum = $msgObj->needReadNum();}
                {else:}
                {set:$msgNum = 0;}
                {/if}
                {if:$msgNum > 0}
                <i class="icon-comments-alt">消息</i>
                {else:}
                <i class="icon-comment-alt">消息</i>
                {/if}
                </a></li>
            </ul>
        </div>
   </div>
</header>

<section class="help_bar">
	<div class="article">
		<p>{$this->help_row['content']}</p>
	</div>
            <div style="height:0.7rem;width:100%;"></div>
</section>


<!-- 返回顶部 JS在mobile.js -->
<p id="back-to-top"><a href="#top"><span></span></a></p>
