<style type="text/css">
    body{
        background: #fff;
    }
    .main_head .sear_t a{
    	width: 100%;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="javascript:;">{$this->cat_row['name']}</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a href="{url:/}"><i class="icon-home">首页</i></a></li>
                <li><a href="{url:/ucenter/message}">
                {if:$this->user}
                {set:$msgObj = new Mess($this->user['user_id'],$this->user['type']);$msgNum = $msgObj->needReadNum();}
                {else:}
                {set:$msgNum = 0;}
                {/if}
                {if:$msgNum > 0}
                <i class="icon-comments-alt">消息</i>
                {else:}
                <i class="icon-comment-alt">消息</i>
                {/if}
                </a></li>
            </ul>
        </div>
   </div>
</header>

	<section class="help_bar">
		<div class="article_list">
			<ul>
            {foreach:items = $this->helpQuery->find()}                
				<a href="{url:/site/help/id/$item[id]}"><li>{$item['name']}<i class="icon-more"></i></li></a>
			{/foreach}
			</ul>
            {$this->helpQuery->getPageBar();}
		</div>
	</section>


