<style type="text/css">
    body{
        background: #fff;
    }
    .main_head .sear_t a{
    	width: 100%;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="javascript:;">帮助中心</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a href="{url:/}"><i class="icon-home">首页</i></a></li>
                <li><a href="{url:/ucenter/message}">
                {if:$this->user}
                {set:$msgObj = new Mess($this->user['user_id'],$this->user['type']);$msgNum = $msgObj->needReadNum();}
                {else:}
                {set:$msgNum = 0;}
                {/if}
                {if:$msgNum > 0}
                <i class="icon-comments-alt">消息</i>
                {else:}
                <i class="icon-comment-alt">消息</i>
                {/if}
                </a></li>
            </ul>
        </div>
   </div>
</header>

<script src="{theme:javascript/products.js}"></script>
<script src="{theme:javascript/jquery.slider.js}"></script>
<section class="help_bar">
	
	{query:name=help_category order=sort asc}
    <nav class="bar">
        <a href="{url:site/help_list/id/$item['id']}"><img src="{webroot:$item['img']}">
            <strong>{$item['name']}</strong>
        </a>               
    </nav>
    {/query}
	
</section>



<script>

</script>
