<style type="text/css">
    body{
        background: #fff;
    }
    .main_head .sear_t a{
    	width: 100%;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="">帮助中心</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a><i class="icon-home">首页</i></a></li>
                <li><a href="javascript:location.reload()"><i class="icon-comments-alt">消息</i></a></li>
            </ul>
        </div>
   </div>
</header>

<script src="{theme:javascript/products.js}"></script>
<script src="{theme:javascript/jquery.slider.js}"></script>
<section class="help_bar">
	
		<nav class="bar">				
				<a href="{url:mobile/site/help_list/id/1}"><img src="{url:views/mobile/skin/default/image/top/help_bar1.png}">
					<strong>关于我们</strong>
				</a>
		</nav>
	
		<nav class="bar">
				<a href="{url:mobile/site/help_list/id/2}"><img src="{url:views/mobile/skin/default/image/top/help_bar2.png}">
					<strong>购物指南</strong>
				</a>
		</nav>
	
		<nav class="bar" style="border-right:0;">
				<a href="{url:mobile/site/help_list/id/3}"><img src="{url:views/mobile/skin/default/image/top/help_bar3.png}">
					<strong>售后服务</strong>
				</a>
		</nav>
	
		<nav class="bar">
				<a href="{url:mobile/site/help_list/id/4}"><img src="{url:views/mobile/skin/default/image/top/help_bar4.png}">
					<strong>交易规则</strong>
				</a>
		</nav>
	
		<nav class="bar">				
				<a href="{url:mobile/site/help_list/id/5}"><img src="{url:views/mobile/skin/default/image/top/help_bar5.png}">
					<strong>平台服务</strong>
				</a>
		</nav>
	
</section>



<script>

</script>
