<style type="text/css">
    body{
        background: #fff;
    }
    .main_head .sear_t a{
    	width: 100%;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="">购物流程</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a><i class="icon-home">首页</i></a></li>
                <li><a href="javascript:location.reload()"><i class="icon-comments-alt">消息</i></a></li>
            </ul>
        </div>
   </div>
</header>

<section class="help_bar">
	<div class="article">
		<p>1、搜索商品</p>
	</div>
</section>


<!-- 返回顶部 JS在mobile.js -->
<p id="back-to-top"><a href="#top"><span></span></a></p>
