<style type="text/css">
    body{
        background: #fff;
    }
    .main_head .sear_t a{
    	width: 100%;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="">关于我们</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a><i class="icon-home">首页</i></a></li>
                <li><a href="javascript:location.reload()"><i class="icon-comments-alt">消息</i></a></li>
            </ul>
        </div>
   </div>
</header>

	<section class="help_bar">
		<div class="article_list">
			<ul>
				<a href="{url:mobile/site/help.html}"><li>购物流程<i class="icon-more"></i></li></a>
				<a href="{url:mobile/site/help.html}"><li>常见问题<i class="icon-more"></i></li></a>
				<a href="{url:mobile/site/help.html}"><li>支付方式<i class="icon-more"></i></li></a>
			</ul>
		</div>
	</section>


