<script src="{theme:javascript/style.js}"></script>
<header class="header_box">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <form action="">
                <input type="text" class="text" placeholder="输入关键词"/>
            </form>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a>首页</a></li>
                <li><a href="javascript:location.reload()">刷新</a></li>
            </ul>
        </div>
   </div>
</header>
<section class="home_top">
    <div class="top_title">
        <a class="sj_de">商家介绍</a>
        <a class="sj_good on">全部商品</a>
    </div>
</section>
<!-- 商家详情 -->
<div class="home_deal" style="display:none">
   <div class="seller_info">
        <div class="info clear">
            <ul>
                <li class="seller_photo"><img src="{skin:image/top/logo@2x.png}"/></li>
                <li class="seller_name">
                    <h3><strong>卓和家具旗舰店</strong></h3>
                    <p>主营：林业家具</p>
                    <p>所在地：{echo:join(' ',area::name($sellerRow['province'],$sellerRow['city'],$sellerRow['area']))} {$sellerRow['address']}</p>
                </li>
                <li class="kf_a">
                    <a><i></i>客服</a>
                </li>
            </ul>
        </div>
        <div class="sellers_xl">
            <span class="xl1">销量898</span>
            <span class="xl2">共898件宝贝</span>
            <span class="xl3">好评率：<em>99.8%</em></span>
        </div>
   </div> 
<!-- <div id="pageInfo" data-title="{$sellerRow['true_name']}"></div>
<section class="seller_info">
    <dl>
        <dt>评分：</dt>
        <dd>
            <em class="star star_{echo:statistics::gradeSeller($sellerRow['id'])}"></em>
        </dd>
    </dl>
    <dl>
        <dt>销量：</dt>
        <dd>{echo:statistics::sellCountSeller($sellerRow['id'])} 件</dd>
    </dl>
    <dl>
        <dt>联系电话：</dt>
        <dd>{$sellerRow['phone']}</dd>
    </dl>
    <dl>
        <dt>所在地：</dt>
        <dd>{echo:join(' ',area::name($sellerRow['province'],$sellerRow['city'],$sellerRow['area']))} {$sellerRow['address']}</dd>
    </dl> 
</section>-->
</div>
<!-- 商家详情 end-->


{set:plugin::trigger("onServiceButton",$sellerRow['id'])}
{set:$goodsObj = search_goods::find(array('go.seller_id' => $seller_id),20);$resultData = $goodsObj->find();}
{if:$resultData}
<div class="home_goods">
<aside class="goods_sort">
    {foreach:items=search_goods::getOrderType()}
    <span class="sort_btn" onclick="gourl('{echo:search_goods::searchUrl(array('order','by'),array($key,search_goods::getOrderBy($key)))}')">{$item}<i class="down_a"></i></span>
    {/foreach}
</aside>
<section class="goods_list">
    <ul>
        {foreach:items=$resultData}
        <li>
            <a class="clear" href="{url:/site/products/id/$item[id]}">
                <i class="photo"><img class="goods_photo" src="{url:/pic/thumb/img/$item[img]/w/200/h/200}" alt="{$item['name']}"></i>
                <div class="name_price">
                    <h3 class="name"><strong>{$item['name']}</strong></h3>
                    
                    <em class="price">￥{$item['sell_price']}</em>
                    <del class="old_price">市场价：￥{$item['market_price']}</del>
                    <span class="xl">销量68</span>
                </div>
                
            </a>
        </li>
        {/foreach}
    </ul>
</section>
<!-- {$goodsObj->getPageBar()} -->
<div class="down_g">下拉加载更多</div>
<!-- <div class="down_g">没有更多数据</div> -->
{else:}
<section class="nodata">商品进货中，请稍后关注上架情况</section>
{/if}
</div>


<script>
$(function(){
    // 隐藏底部导航
    hideNav();


    // 切换导航样式
    var order = getUrlParam("order");
    var by = getUrlParam("by");
    var sortBtn = $(".goods_sort").children('.sort_btn');
    // sortBtn.eq(2).append('<i>');
    if(order=="sale"){
        if (by=="desc") {sortBtn.eq(0).addClass('on').append('<i class="icon-angle-down"></i>')}
        else {sortBtn.eq(0).addClass('on').append('<i class="icon-angle-up"></i>');}

    }else if (order=="cpoint"){
        if (by=="desc") {sortBtn.eq(1).addClass('on').append('<i class="icon-angle-down"></i>')}
        else {sortBtn.eq(1).addClass('on').append('<i class="icon-angle-up"></i>');}
    }else if(order=="price"){
        if (by=="desc") {sortBtn.eq(2).addClass('on').append('<i class="icon-angle-down"></i>')}
        else {sortBtn.eq(2).addClass('on').append('<i class="icon-angle-up"></i>');}
    }else if(order=="new"){
        if (by=="desc") {sortBtn.eq(3).addClass('on').append('<i class="icon-angle-down"></i>')}
        else {sortBtn.eq(3).addClass('on').append('<i class="icon-angle-up"></i>');}
    }else{
        sortBtn.eq(0).addClass('on').append('<i class="icon-angle-down"></i>');
    };
});
</script>

