<style type="text/css">
    .header_box{
        height: 0.5rem;
    }
</style>
 <!-- 顶部通栏 -->
    <header class="header_box">
        <div class="header">
            {if:IWeb::$app->getController()->getId() == 'site' && IWeb::$app->getController()->getAction()->getId() == 'index'}
            <a class="header_home" tel=""><i class="icon-phone"></i></a>
            {else:}
            <div class="header_back" onclick="window.history.back();"><i class="icon-chevron-left"></i></div>
            {/if}
            <a class="header_search" href="{url:site/search}">
                <i class="serch_a icon-search"></i>请输入您要搜索的内容
            </a>
            <a class="header_so_btn" href="{url:ucenter/message}">
            {if:$msgNum > 0}
            <i class="icon-comments-alt"></i>
            {else:}
            <i class="icon-comment-alts"></i>
            {/if}
            </a>
        </div>
    </header>
<script src="{theme:javascript/jquery.slider.js}"></script>
<script>
$(function() {
    // 设置首页导航为当前
    $(".nav_home").addClass('on');
    // 设置焦点图
    $(".home_banner").MobileSlider({
        width: 720,
        height: 270
    });
})
</script>
<!--幻灯片 开始-->
<div class="home_banner" style="height:145px;">
    {if:$this->index_slide}
    <ul>
        {foreach:items=$this->index_slide}
        <li>
            <a href="{$item['url']}"><img src="{url:/pic/thumb/img/$item[img]}" alt="{$item['name']}"></a>
        </li>
        {/foreach}
    </ul>
    {/if}
</div>
<!-- 首页菜单 -->
<nav class="home_nav">
    <ul>
        <li class="map"><a href="{url:ucenter/online_recharge}"><i class="icon-th-list"></i><span>充值</span></a></li>
        <li class="cart"><a href="{url:site/article}"><i class="icon-shopping-cart"></i><span>家装知识</span></a></li>
        <li class="groupon"><a href="{url:site/notice}"><i class="icon-legal"></i><span>商城公告</span></a></li>
        <li class="custom"><a href="mqqwpa://im/chat?chat_type=wpa&uin={$this->_siteConfig->qq}&version=1&src_type=web&web_src=bjhuli.com"><i class="icon-star"></i><span>在线客服</span></a></li>
        <li class="favorite"><a href="{url:ucenter/favorite}"><i class="icon-star"></i><span>收藏</span></a></li>
    </ul>
</nav>
{echo:Ad::show("首页顶部通栏100%*120(mobile)")}
<!-- 首页推荐商品列表 -->
<h2 class="home_title">
    <strong>商家推荐</strong>
    <a class="more_a" href="{url:/site/search_list_seller}">更多</a>
</h2>
<section class="home_goods">
    <ul>
        {foreach:items=Api::run('getRecommendSeller',6)}
        <li>
            <a href="{url:/site/home/id/$item['id']}">
                <img src="{webroot:}{$item['seller_logo']}">
                {if:$item['is_pay']}
                <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                {/if}
            </a>
        </li>
        {/foreach}
    </ul>
</section>


<h2 class="home_title">
    <strong>特价商品</strong>
    <a class="more_a" href="{url:site/goodsList/_t/2}">更多</a>
</h2>
<section class="home_goods">
    <div class="goods_l">
        <ul>
            {foreach:items=Api::run('getCommendPrice',2)}
            <li>
                <a href="{url:/site/products/id/$item['id']}">
                   <div class="div_img"> <img src="{url:/pic/thumb/img/$item['img']/w/170/h/170}">
                   {if:goods_class::getSellerPay($item['seller_id'])}
                    <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                    {/if}
                   </div>
                    <div class="good_name">{$item['name']}</div>
                    <em>￥{$item['sell_price']}</em>
                    
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
    <div class="goods_r">
        <ul>
            {foreach:items=Api::run('getCommendPrice','2,4')}
            <li>
                <a href="{url:/site/products/id/$item['id']}">
                    <div class="div_img clear"><img src="{url:/pic/thumb/img/$item['img']/w/170/h/170}">
                    {if:goods_class::getSellerPay($item['seller_id'])}
                    <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                    {/if}
                     </div>
                    <div class="good_name">{$item['name']}</div>
                    <em>￥{$item['sell_price']}</em>
                    
                </a>
            </li>
            {/foreach}
        </ul>
    </div>
</section>
<!-- 分类商品 end-->
<script src='{theme:javascript/swiper.min.js}'></script>
<script src='{theme:javascript/fl.js}'></script>
<link rel="stylesheet" href="{skin:style/swiper.min.css}">
<div class="swiper-container swiper-container-horizontal head">
     <div class="swiper-wrapper" id="box1">
        {foreach:items=Api::run('getCategoryListTop') item=$first }
        {if:$key == 0}
        <div class="swiper-slide active">{$first['name']}</div>
        {else:}
        <div class="swiper-slide">{$first['name']}</div>
        {/if}
        {/foreach}
    </div>
</div>
<div class="swiper-container panel home_goods">
    <section class="swiper-wrapper">
    {foreach:items=Api::run('getCategoryListTop') item=$first }
        <div class="swiper-slide">
           <ul>
           {set:$cateId=goods_class::catChild($first['id'])}
                {foreach:items=Api::run('getCategoryExtendList',array('#categroy_id#',$cateId),6)}
                <li>
                    <a href="{url:/site/products/id/$item['id']}">
                        <div class="div_img"><img src="{url:/pic/thumb/img/$item['img']/w/170/h/170}">
                        {if:goods_class::getSellerPay($item['seller_id'])}
                        <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                        {/if}
                        </div>
                        <div class="good_name">{$item['name']}</div>
                        <em>￥{$item['sell_price']}</em>
                        
                    </a>
                </li>
                {/foreach}
            </ul>
            <div class="look_gd"><a href="{url:/site/pro_list/cat/$first[id]}">查看更多</a></div>
        </div>
    {/foreach}
    </section>
</div>
<!-- 分类商品 end-->
<h2 class="home_title" id="like_top">
    <strong>推荐商品</strong>
    <a class="more_a" href="{url:site/goodsList/_t/4}">更多</a>
</h2>
<section class="home_goods">
    <ul>
        {foreach:items=Api::run('getCommendRecom',6)}
        <li>
            <a href="{url:/site/products/id/$item['id']}">
                <div class="div_img">
                    <img src="{url:/pic/thumb/img/$item['img']/w/170/h/170}">
                    {if:goods_class::getSellerPay($item['seller_id'])}
                    <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                    {/if}
                </div>
                <div class="good_name">{$item['name']}</div>
                <em>￥{$item['sell_price']}</em>
                
            </a>
        </li>
        {/foreach}
    </ul>
</section>

