
<style type="text/css">
    body{
        background: #fff;
    }
    .coupon_list li{
        border: 0;
    }
</style>
<div id="pageInfo" data-title="公告详情"></div>
<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2 id="pageInfo" data-title="公告详情">公告详情</h2>
    </div>
</header>
<section class="coupon_list">
    <ul>
        <li class="read">
            <div class="title" style="text-align:center">{$this->noticeRow['title']}</div>
            <div class="author">耐耐网推送</div>
            <time>{$this->noticeRow['time']}</time>
        </li>
        <li>
           {$this->noticeRow['content']}
        </li>
    </ul>
    
</section>
<script>
$(function(){
    // 隐藏底部导航
    hideNav();
    $(".article_detail").find('*').each(function(){
        var t = $(this);
        if (t.attr("style")){t.attr("style","")};
        if (t.attr("width")){t.attr("width","")};
        if (t.attr("height")){t.attr("height","")};
        t.html(t.html().replace(/\&nbsp;/g,""));
    });
});
</script>