<style type="text/css">
    body{
        background: #fff;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<script src="{theme:javascript/products.js}"></script>
<script src="{theme:javascript/jquery.slider.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="{url:site/products/id/$id}">商品</a>
            <a href="{url:site/pro_detail/id/$id}">详情</a>
            <a href="javascript:;" class="active">评价</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a href="{url:/}"><i class="icon-home">首页</i></a></li>
                <li><a href="{url:ucenter/message}">
                {if:$this->user}
                {set:$msgObj = new Mess($this->user['user_id']);$msgNum = $msgObj->needReadNum();}
                {else:$msgNum = 0;}
                {set:}
                {/if}
                {if:$msgNum > 0}
                <i class="icon-comments-alt">消息</i>
                {else:}
                <i class="icon-comment-alt">消息</i>
                {/if}
                </a></li>
            </ul>
        </div>
   </div>
</header>

<div id="pageInfo" data-title="商品评价" class="goods_view">
	<ul>
		<li onclick="window.location = '{url:site/pro_pingjia/id/$id}'">
			<em {if:$this->type == 0} class="active" {/if}>全部</em>
		</li>
		<li onclick="window.location = '{url:site/pro_pingjia/id/$id/_t/1}'">
			<em {if:$this->type == 1} class="active" {/if}>好评</em>
		</li>
		<li onclick="window.location = '{url:site/pro_pingjia/id/$id/_t/2}'">
			<em {if:$this->type == 2} class="active" {/if}>中评</em>
		</li>
		<li onclick="window.location = '{url:site/pro_pingjia/id/$id/_t/3}'">
			<em {if:$this->type == 3} class="active" {/if}>差评</em>
		</li>
	</ul>
</div>

<section class="goods_info">
	<ul style="margin:0;margin-top:0.57rem;">
		<li class="line"></li>
        {foreach:items=$this->commentRow item=$comment}
        <li class="pro_view">
            <p><img src="{webroot:$comment['head_ico']}" style="width:0.4rem;height:0.4rem;"><span >{$comment['username']}</span><span class="view-time" style="color:#aaa;">{$comment['comment_time']}</span></p>
            <p>{$comment['contents']}</p>
            <p>
                {query:name=comment_photo where=comment_id eq $comment[id] and is_reply eq 0}
                <img src="{webroot:$item['img']}" style="width: 100px;">
                {/query}
            </p>
            {if:$comment['second_contents']}
            <p><strong>追评：</strong>{$comment['second_contents']}</p>
            <p>
                {query:name=comment_photo where=comment_id eq $comment[id] and is_reply eq 1}
                <img src="{webroot:$item['img']}" style="width: 100px;">
                {/query}
            </p>
            {/if}
            {if:$comment['recontents']}
            <p><strong>回复：</strong>{$comment['recontents']}</p>
            {/if}
        </li>
        <li class="line"></li>
        {/foreach}
	</ul>
    {$this->pageHtml}
</section>
<div class="btn_bottom_goods">
    <ul class="btn_ico">
        <li>
            <a href="mqqwpa://im/chat?chat_type=wpa&uin={$seller['server_num']}&version=1&src_type=web&web_src=bjhuli.com">
                <i class="icon-kefu"></i>
				<span>客服</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="favorite_add_ajax({$id},this);">
                <i class="icon-guanzhu"></i>
				<span>收藏</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" onclick="showChooseSpec('joinCarButton')">
                <i class="icon-jiarugouwuche"></i>
				<span>加入购物车</span>
            </a>
        </li>
    </ul>
    <div class="btn_tab">
        
        <span class="btn_tab_submit pink"  onclick="showChooseSpec('buyNowButton')">立即购买</span>
    </div>
</div>

<div class="mask" id="mask"></div>
<div class="goods_chose">
    <img class="goods_pic" src="{url:/pic/thumb/img/$img/w/60/h/60}">
    <em class="price">￥<span id="data_sellPrice">{$sell_price}</span></em>
    <em class="num">库存<span id="data_storeNums">{$store_nums}</span>件</em>
    <div class="close" id="type_close"></div>
    <div class="type">
        {if:$spec_array}
        <!--商品规格选择 开始-->
        {foreach:items=JSON::decode($spec_array)}
        <ul>
            <li>{$item['name']}</li>
            {foreach:items=explode(',',$item['value']) item=$spec_value}
            {if:$item['type'] == 1}
            <li specName="{$item['name']}" specId="{$item['id']}" specData="{$spec_value}">{$spec_value}</li>
            {else:}
            <li specName="{$item['name']}" specId="{$item['id']}" specData="{$spec_value}">
                <img src="{webroot:$spec_value}">
            </li>
            {/if}
            {/foreach}
        </ul>
        {/foreach}
        <!--商品规格选择 结束-->
        {/if}
        <ul>
            <li style="width:94%;">数量<div class="num_add"><span class="reduce" id="buyReduceButton">─</span>
                        <input class="input" type="text" id="buyNums" value="1" maxlength="5" />
                        <span class="add" id="buyAddButton">+</span></div></li>
        </ul>
        <div style="height:0.4rem;"></div>
        <div class="ok_button">
            <button class="type_ok">确定</button>
        </div>
    </div>
</div>
<script>
//初始化商品详情对象
var productInstance = new productClass("{$id}","{$this->user['user_id']}","{$promo}","{$active_id}");
function showChooseSpec(id)
{
    $(".goods_chose").animate({bottom: '0rem'},"slow");
    $(".ok_button").animate({bottom: '0.1rem'},"slow");
    $(".mask").fadeIn(300);
    $('.type_ok').attr('id', id);
}
$(function(){
    // 隐藏底部导航
    hideNav();
    // 清除详情页面所有元素的内联属性(很可能是PC版的样式要求,不符合移动版,移动版统一用CSS控制)
    $(".article_detail *").attr({
        style: '',
        width: '',
        height: '',
    });
})
</script>