<style type="text/css">
    body{
        background: #fff;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="javascript:;" class="active">商品</a>
            <a href="{url:site/pro_detail/id/$id}">详情</a>
            <a href="{url:site/pro_pingjia/id/$id}">评价</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a href="{url:/}"><i class="icon-home">首页</i></a></li>
                <li><a href="{url:ucenter/message}">
                {if:$this->user}
                {set:$msgObj = new Mess($this->user['user_id']);$msgNum = $msgObj->needReadNum();}
                {else:$msgNum = 0;}
                {set:}
                {/if}
                {if:$msgNum > 0}
                <i class="icon-comments-alt">消息</i>
                {else:}
                <i class="icon-comment-alt">消息</i>
                {/if}
                </a></li>
            </ul>
        </div>
   </div>
</header>

<script src="{theme:javascript/products.js}"></script>
<script src="{theme:javascript/jquery.slider.js}"></script>
<section class="goods_photo">
	<ul>
		{foreach:items=$photo}
		<li>
			<img src="{url:/pic/thumb/img/$item[img]/w/350/h/350}" style="width:auto;height:100%;overflow:hidden;">
		</li>
		{/foreach}
	</ul>
</section>

<section class="goods_info">
	<ul>
		<li class="goods_name">
			{$name}<!--<img src="{url:views/mobile/skin/default/image/admin_ico.png}" class="vip_icon">-->
		</li>
		<!--抢购活动,引入 "_products_time"模板-->
		{if:$promo == 'time' && isset($time)}
		{include:_products_time}
		{/if}

		<!--团购活动,引入 "_products_groupon"模板-->
		{if:$promo == 'groupon' && isset($groupon)}
		{include:_products_groupon}
		{/if}
		{if:$promo == ''}
			{if:$group_price}
			<!--当前用户有会员价-->
			<li>
				<em class="price">￥<span id="data_groupPrice">{$group_price}</span></em>　
				<del class="old_price">￥<span id="data_sellPrice">{$sell_price}</span></del>
			</li>

			{else:}
			<!--当前用户普通价格-->
			<li>
				<em class="price">￥<span id="data_sellPrice">{$sell_price}</span></em>
				<br><br>市场价：<em class="old_price">￥<span id="data_sellPrice">{$market_price}</span></em>
			</li>
			{/if}
		{/if}		
		{if:isset($seller)}
		{set:plugin::trigger("onServiceButton",$seller['id'])}
		<li>
			店铺：<strong class="seller_name"><a href="{url:/site/home/id/$seller_id}">{$seller['true_name']}
			{if:$seller['is_pay']}
            <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
            {/if}
		</a></strong>
		</li>
		<li>
			所在地：<span class="seller_area">{echo:join(' ',area::name($seller['province'],$seller['city'],$seller['area']))}</span>
		</li>
		<li>
			联系客服：<a class="seller_tel" href="tel:{$seller['phone']}">{$seller['phone']}</a>
		</li>
		{/if}
	</ul>
	<div class="cut"></div>
    {if:$spec_array}
	<ul>
		<li >产品参数</li>
		<li class="line"></li>
		<li class="pro_type" id="pro_type">
			选择：<span >{foreach:items=JSON::decode($spec_array)}{$item['name']}&nbsp;&nbsp;{/foreach}</span>
		</li>
	</ul>
    {/if}
	<div class="cut"></div>
    {if:$comments > 0}
	<ul>
		<li ><a href="{url:site/pro_pingjia/id/$id}">商品评价（{$comments} ）<i class="icon-more"></i></a></li>
		<li class="line"></li>
        {foreach:items=$this->commentRow}
		<li class="pro_view">
			<p><img src="{webroot:$item['head_ico']}"><span >{$item['username']}</span><span class="view-time">{$item['comment_time']}</span></p>
			<p>{$item['contents']}</p>
		</li>
		<li class="line"></li>
        {/foreach}
	</ul>
    {/if}
    {if:$this->user}
	<ul>
		<li ><a href="{url:ucenter/history}">我的足迹</a></li>
        {set:$historyObj = Api::run('getHistory',$this->user['user_id'], 6)}
        {if:$historyObj}
        {foreach:items=$historyObj->find()}
		<li class="pro_foot">
            <a href="{url:/site/products/id/$item['goods_id']}">
			<div class="div_img"><img src="{url:/pic/thumb/img/$item['img']/w/60/h/60}"><img src="{skin:image/sellerVip.png}" class="vip_logo"/></div>
			<p class="pro_name">{$item['name']}</p>
			<p class="price">{$item['sell_price']}</p>
            </a>
		</li>
        {/foreach}
        {else:}
        <li>对不起，没有找到相关商品</li>
        {/if}
	</ul>
    {/if}
	<div class="clear"></div>
	
</section>
<div class="btn_bottom_goods">
	<ul class="btn_ico">
		<li>
			<a href="mqqwpa://im/chat?chat_type=wpa&uin={$seller['server_num']}&version=1&src_type=web&web_src=bjhuli.com">
				<i class="icon-kefu"></i>
				<span>客服</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" onclick="favorite_add_ajax({$id},this);">
				<i class="icon-guanzhu"></i>
				<span>收藏</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" id="joinCarButton">
				<i class="icon-jiarugouwuche"></i>
				<span>加入购物车</span>
			</a>
		</li>
	</ul>
	<div class="btn_tab">
		
		<span id="buyNowButton" class="btn_tab_submit pink">立即购买</span>
	</div>
</div>
<div class="mask" id="mask"></div>
<div class="goods_chose">
	<img class="goods_pic" src="{url:/pic/thumb/img/$img/w/60/h/60}">
	<em class="price">￥<span id="data_sellPrice">{$sell_price}</span></em>
	<em class="num">库存<span id="data_storeNums">{$store_nums}</span>件</em>
	<div class="close" id="type_close"></div>
	<div class="type">
        {if:$spec_array}
        <!--商品规格选择 开始-->
        {foreach:items=JSON::decode($spec_array)}
	    <ul>
		    <li>{$item['name']}</li>
            {foreach:items=explode(',',$item['value']) item=$spec_value}
            {if:$item['type'] == 1}
		    <li specName="{$item['name']}" specId="{$item['id']}" specData="{$spec_value}">{$spec_value}</li>
            {else:}
            <li specName="{$item['name']}" specId="{$item['id']}" specData="{$spec_value}">
                <img src="{webroot:$spec_value}">
            </li>
            {/if}
            {/foreach}
	    </ul>
        {/foreach}
        <!--商品规格选择 结束-->
        {/if}
		<ul>
			<li style="width:94%;">数量<div class="num_add"><span class="reduce" id="buyReduceButton">─</span>
                        <input class="input" type="text" id="buyNums" value="1" maxlength="5" />
                        <span class="add" id="buyAddButton">+</span></div></li>
		</ul>
		<div style="height:0.4rem;"></div>
		<div class="ok_button">
			<button class="type_ok" id="type_ok">确定</button>
		</div>
	</div>
</div>
<script>
$(function(){
	// 设置焦点图
    $(".goods_photo").MobileSlider({
        width: 720,
        height: 720
    });
    // 隐藏底部焦点图
    hideNav();
	//初始化商品详情对象
	var productInstance = new productClass("{$id}","{$this->user['user_id']}","{$promo}","{$active_id}");

	//城市地域选择按钮事件
	$('.sel_area').focus(
		function(){
			$('.area_box').show();
		}
	);
	$(".article_detail").find('*').each(function(){
		var t = $(this);
		if (t.attr("style")){t.attr("style","")};
		if (t.attr("width")){t.attr("width","")};
		if (t.attr("height")){t.attr("height","")};
	});
	$(".pro_tab").on('click', 'li', function(){
		var t = $(this),i = t.index();
		t.addClass('on').siblings('li').removeClass('on');
		$(".pro_con").children('.con').eq(i).removeClass('none').siblings('.con').addClass('none');
		//滑动按钮绑定事件
		switch(i)
		{
			case 1:
			{
				productInstance.comment_ajax();
			}
			break;

			case 2:
			{
				productInstance.refer_ajax();
			}
			break;

		}
	});
})
</script>
