<style type="text/css">
    body{
        background: #fff;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="" class="active">商品</a>
            <a href="">详情</a>
            <a href="">评价</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a><i class="icon-home">首页</i></a></li>
                <li><a href="javascript:location.reload()"><i class="icon-comments-alt">消息</i></a></li>
            </ul>
        </div>
   </div>
</header>

<script src="{theme:javascript/products.js}"></script>
<script src="{theme:javascript/jquery.slider.js}"></script>
<section class="goods_photo">
	<ul>
		{foreach:items=$photo}
		<li>
			<img src="{url:/pic/thumb/img/$item[img]/w/350/h/350}">
		</li>
		{/foreach}
	</ul>
</section>

<section class="goods_info">
	<ul>
		<li class="goods_name">
			{$name}
		</li>
		<!--抢购活动,引入 "_products_time"模板-->
		{if:$promo == 'time' && isset($time)}
		{include:_products_time}
		{/if}

		<!--团购活动,引入 "_products_groupon"模板-->
		{if:$promo == 'groupon' && isset($groupon)}
		{include:_products_groupon}
		{/if}
		{if:$promo == ''}
			{if:$group_price}
			<!--当前用户有会员价-->
			<li>
				<em class="price">￥<span id="data_groupPrice">{$group_price}</span></em>　
				<del class="old_price">￥<span id="data_sellPrice">{$sell_price}</span></del>
			</li>

			{else:}
			<!--当前用户普通价格-->
			<li>
				<em class="price">￥<span id="data_sellPrice">{$sell_price}</span></em>
				<br>市场价：<em class="old_price">￥<span id="data_sellPrice">{$sell_price}</span></em>
			</li>
			{/if}
		{/if}		
		{if:isset($seller)}
		{set:plugin::trigger("onServiceButton",$seller['id'])}
		<li>
			店铺：<strong class="seller_name">{$seller['true_name']}</strong>
		</li>
		<li>
			所在地：<span class="seller_area">{echo:join(' ',area::name($seller['province'],$seller['city'],$seller['area']))}</span>
		</li>
		<li>
			联系客服：<a class="seller_tel" href="tel:{$seller['phone']}">{$seller['phone']}</a>
		</li>
		{/if}
	</ul>
	<div class="cut"></div>
	<ul>
		<li >产品参数</li>
		<li class="line"></li>
		<li class="pro_type" id="pro_type">
			选择：<span >大号、米色、圆木墩</span>
		</li>
	</ul>
	<div class="cut"></div>
	<ul>
		<li >商品评价（{$comments} ）<i class="icon-more"></i></li>
		<li class="line"></li>
		<li class="pro_view">
			<p><img src=""><span >一米阳光</span><span class="view-time">2016-10-17</span></p>
			<p>很好看啊！！</p>
		</li>
		<li class="line"></li>
	</ul>
	<ul>
		<li >我的足迹</li>
		<li class="pro_foot">
			<img src="">
			<p class="pro_name">{$name}</p>
			<p class="price">{$sell_price}</p>
		</li>
		<li class="pro_foot">
			<img src="">
			<p class="pro_name">{$name}</p>
			<p class="price">{$sell_price}</p>
		</li>
		<li class="pro_foot">
			<img src="">
			<p class="pro_name">{$name}</p>
			<p class="price">{$sell_price}</p>
		</li>
	</ul>
	<div class="clear"></div>
	
</section>
<section class="pro_tab">
	<ul>
		<li class="on">商品详情</li>
		<li>商品评论</li>
		<li>商品咨询</li>
	</ul>
</section>
<section class="pro_con">
	<div class="con">
		{if:isset($content) && $content}
			<article class="article_detail">{$content}</article>
		{/if}
	</div>
	<div class="con none">
		<div id='commentBox'></div>
		<script type='text/html' id='commentRowTemplate'>
		<div class="commet">
			<div class="user">
				<img src="{webroot:<%=head_ico%>}" onerror="this.src='{skin:image/user_ico.jpg}'" />
			</div>
			<dl class="desc">
				<%=contents%>
			</dl>
		</div>
		<%if(recontents){%>
			<div class="recommet">
				<div class="user"><img src="{skin:image/admin_ico.png}"></div>
				<div class="desc"><%=recontents%></div>
			</div>
		<%}%>
		</script>
	</div>
	<div class="con none">
		{if:$this->user}
		<div class="question_btn">
			<a href="{url:/site/consult/id/$id}">我要咨询</a>
		</div>
		{/if}
		<div id='referBox'></div>
		<!--购买咨询JS模板-->
		<script type='text/html' id='referRowTemplate'>
		<div class="commet">
			<div class="user">
				<img src="{webroot:<%=head_ico%>}" onerror="this.src='{skin:image/user_ico.jpg}'" />
			</div>
			<dl class="desc">
				<%=question%>
			</dl>
		</div>
		<%if(answer){%>
			<div class="recommet">
				<div class="user"><img src="{skin:image/admin_ico.png}"></div>
				<div class="desc"><%=answer%></div>
			</div>
		<%}%>

		</script>
	</div>
</section>
<div class="btn_bottom_goods">
	<ul class="btn_ico">
		<li>
			<a href="{url:/}">
				<i class="icon-kefu"></i>
			</a>
		</li>
		<li>
			<a href="{url:/}">
				<i class="icon-guanzhu"></i>
			</a>
		</li>
		<li>
			<a href="{url:/simple/cart}" id="joinCarButton">
				<i class="icon-jiarugouwuche"></i>
			</a>
		</li>
	</ul>
	<div class="btn_tab">
		
		<span id="buyNowButton" class="btn_tab_submit pink">立即购买</span>
	</div>
</div>
<div class="mask" id="mask"></div>
<div class="goods_chose">
	<img class="goods_pic" src="{url:/pic/thumb/img/$item[img]/w/350/h/350}">
	<em class="price">￥<span id="data_sellPrice">{$sell_price}</span></em>
	<em class="num">库存<span id="data_sellPrice">{$store_nums}</span>件</em>
	<div class="close" id="type_close"></div>
	<div class="type">
		<ul>
			<li>颜色</li>
			<li class="active">米色</li>
			<li>橘黄色</li>
		</ul>
		<ul>
			<li>尺寸</li>
			<li class="active">25X15</li>
			<li>25X18</li>
			<li>25X25</li>
			<li>25X30</li>
			<li class="active">25X15</li>
			<li>25X18</li>
			<li>25X25</li>
			<li>25X30</li>
			<li class="active">25X15</li>
			<li>25X18</li>
			<li>25X25</li>
			<li>25X30</li>
			<li class="active">25X15</li>
			<li>25X18</li>
			<li>25X25</li>
			<li>25X30</li>
			<li class="active">25X15</li>
			<li>25X18</li>
			<li>25X25</li>
			<li>25X30</li>
		</ul>
		<ul>
			<li style="width:94%;">数量<div class="num_add"><span  onclick="numDec()">-</span>&nbsp;<input type="text" id="quantity" readOnly="true" value="1"/>&nbsp;<span onclick="numAdd()">+</span></div></li>
		</ul>
		<div style="height:0.4rem;"></div>
		<div class="ok_button">
			<button class="type_ok" id="type_ok">确定</button>
		</div>
	</div>
</div>



<script>
// 点击打开关闭规格页
$(document).ready(function(){
  $("#type_close,#type_ok,#mask").click(function(){
    var goods_chose=$(".goods_chose");
    var ok_button=$(".ok_button");
    var mask=$(".mask");
    goods_chose.animate({bottom: '-4.2rem'},"slow");
    ok_button.animate({bottom: '-4.3rem'},"slow");
    mask.fadeOut(300);
  });
  $("#pro_type").click(function(){
    var goods_chose=$(".goods_chose");
    var ok_button=$(".ok_button");
    var mask=$(".mask");
    goods_chose.animate({bottom: '0rem'},"slow");
    ok_button.animate({bottom: '0.1rem'},"slow");
    mask.fadeIn(300);
  });
});

// 数量加减JS
$(function(){
 $("#quantity").keyup(function(){
  if(isNaN($(this).val()) || parseInt($(this).val())<1){
   $(this).val("1");
   $("#totalPrice").html($("#price").val());
   return;
  }
  var total = parseFloat($("#price").val())*parseInt($(this).val());
  $("#totalPrice").html(total.toFixed(2));
 })

})

/*商品数量+1*/
function numAdd(){
 var num_add = parseInt($("#quantity").val())+1;
 if($("#quantity").val()==""){
  num_add = 1;
 }
 $("#quantity").val(num_add);
 var total = parseFloat($("#price").val())*parseInt($("#quantity").val());
 $("#totalPrice").html(total.toFixed(2));
}
/*商品数量-1*/
function numDec(){
 var num_dec = parseInt($("#quantity").val())-1;
 if(num_dec<1){
  //购买数量必须大于或等于1
  alert("购买数量必须大于或等于1");
 }else{
  $("#quantity").val(num_dec);
  var total = parseFloat($("#price").val())*parseInt($("#quantity").val());
  $("#totalPrice").html(total.toFixed(2));
 }
}


$(function(){
	// 设置焦点图
    $(".goods_photo").MobileSlider({
        width: 720,
        height: 720
    });
    // 隐藏底部焦点图
    hideNav();
	//初始化商品详情对象
	var productInstance = new productClass("{$id}","{$this->user['user_id']}","{$promo}","{$active_id}");

	//城市地域选择按钮事件
	$('.sel_area').focus(
		function(){
			$('.area_box').show();
		}
	);
	$(".article_detail").find('*').each(function(){
		var t = $(this);
		if (t.attr("style")){t.attr("style","")};
		if (t.attr("width")){t.attr("width","")};
		if (t.attr("height")){t.attr("height","")};
	});
	$(".pro_tab").on('click', 'li', function(){
		var t = $(this),i = t.index();
		t.addClass('on').siblings('li').removeClass('on');
		$(".pro_con").children('.con').eq(i).removeClass('none').siblings('.con').addClass('none');
		//滑动按钮绑定事件
		switch(i)
		{
			case 1:
			{
				productInstance.comment_ajax();
			}
			break;

			case 2:
			{
				productInstance.refer_ajax();
			}
			break;

		}
	});
})
</script>
