<script src='{theme:javascript/divselect.js}'></script>
<style type="text/css">
	body{background: #fff;}
</style>
<header class="header_box">
    <div class="header">
    	<div id="main">
		  <div id="dropdown">
		      <p>商品</p>
		      <ul style="display: none;">
		         <li><a class="ul_a" rel="1">商品</a></li>
		         <li><a class="ul_a" rel="2">商家</a></li>
		      </ul>
		  </div>
		  	<form action="">
			  	<input type="text" class="text" placeholder="输入关键词"/>
			</form>
		</div>
    	<a class="qx_a">取消</a>
   </div>
</header>
<div class="s_main">
	<div class="s_title">热门搜索<a class="del_a"></a></div>
	<div class="s_ch clear">
		<a>苹果手机</a>
		<a>收纳箱</a>
		<a>收纳箱</a>
		<a>苹果手机</a>
		<a>苹果手机</a>
		<a>耳机转换头</a>
		<a>收纳箱</a>
	</div>
</div>
<script>
$(function(){
    // 隐藏底部导航
    hideNav();
 });
</script>

