<script src='{theme:javascript/divselect.js}'></script>
<style type="text/css">
	body{background: #fff;}
</style>
<header class="header_box">
    <div class="header">
    	<div id="main">
		  <div id="dropdown">
		      <p>商品</p>
		      <ul style="display: none;">
		         <li><a class="ul_a" rel="1">商品</a></li>
		         <li><a class="ul_a" rel="2">商家</a></li>
		      </ul>
		  </div>
		  	<form method='get' action='{url:/}'>
                <input type='hidden' name='controller' value='site'>
                <input type='hidden' name='action' value='search_list'>
                <input type="hidden" name="type"/>
			  	<input type="text" class="text" name="word" placeholder="输入关键词"/>
			</form>
		</div>
    	<a class="qx_a cff" style="right:0.1rem;" onclick="window.history.back();">取消</a>
   </div>
</header>
<div class="s_main">
	<div class="s_title">热门搜索<a class="del_a"></a></div>
	<div class="s_ch clear">
		{foreach:items=Api::run('getKeywordList') }
        {set:$tmpWord = urlencode($item['word']);}
        <a href="{url:/site/search_list/word/$tmpWord}">{$item['word']}</a>
        {/foreach}
	</div>
</div>
<script>
$(function(){
    // 隐藏底部导航
    hideNav();
 });
	$('[placeholder]').focus(function() { 
	var input = $(this); 
	if (input.val() == input.attr('placeholder')) { 
	input.val(''); 
	input.removeClass('placeholder'); 
	} 
	}).blur(function() { 
	var input = $(this); 
	if (input.val() == '' || input.val() == input.attr('placeholder')) { 
	input.addClass('placeholder'); 
	input.val(input.attr('placeholder')); 
	} 
	}).blur(); 
	
</script>

