<style type="text/css">
    body{
        background: #fff;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <form method='get' action='{url:/}'>
                <input type='hidden' name='controller' value='site'>
                <input type='hidden' name='action' value='search_list'>
                <input type="hidden" name="type" value="2"/>
                <input type="text" class="text" name="word" placeholder="输入关键词"/>
            </form>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a href="{url:/}"><i class="icon-home"></i>首页</a></li>
                <li><a href="{url:ucenter/message}">
                {if:$this->user}
                {set:$msgObj = new Mess($this->user['user_id']);$msgNum = $msgObj->needReadNum();}
                {else:$msgNum = 0;}
                {set:}
                {/if}
                {if:$msgNum > 0}
                <i class="icon-comments-alt"></i>消息
                {else:}
                <i class="icon-comment-alt"></i>消息
                {/if}
                </a></li>
            </ul>
        </div>
   </div>
</header>
{js:areaSelect}
<aside class="goods_sort" style="padding:0 0 0 7%">
    {foreach:items=search_seller::getOrderType()}
    <span class="sort_btn sort_width" onclick="gourl('{echo:search_goods::searchUrl(array('order','by'),array($key,search_goods::getOrderBy($key)))}')">{$item}<i class="down_a"></i></span>
    {/foreach}
</aside>
<section class="goods_list">
    {if:$this->word}
    {set:$defaultWhere = array('search' => $this->word)}
    {else:}
    {set:$defaultWhere=''}
    {/if}
    {set:$queryObj = search_seller::find($defaultWhere,20);$resultData = $queryObj->find();}
    {if:$resultData}
    <ul>
          {foreach:items=$resultData}
        <li>
            <a class="clear" href="{url:/site/home/id/$item['id']}">
               <i class="sellers_i"><img class="sellers_photo" src="{webroot:}{$item['seller_logo']}" alt="{$item['true_name']}">
                
               </i>
                <div class="name_price">
                    <h3 class="seller_name"><strong>{$item['true_name']}
                    {if:$item['is_pay']}
                    <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                    {/if}
                    </strong></h3>
                    <p class="se_m_g">主营商品：{$item['sales']}</p>
                    <p class="se_m_g">所在地：{echo:join(' ',area::name($item['province'],$item['city'],$item['area']))}</p>
                </div>
                <div class="sellers_xl">
                    <span class="xl1">销量{$item['sale']}</span>
                    <span class="xl2">共{echo:statistics::goodsCountSeller($item['id'])}件宝贝</span>
                    <span class="xl3">评分：<em>{echo:Common::gradeWidth(statistics::gradeSeller($item['id']))}</em></span>
                </div>
            </a>
            
        </li>
        {/foreach}
    </ul>
</section>
<div class="down_g">下拉加载更多</div>
<!-- <div class="down_g">没有更多数据</div> -->
{else:}
<p class="nodata">
    对不起，当前系统没有商家
</p>
{/if}

<script>
$(function(){
    // 隐藏底部导航
    hideNav();

    // 切换导航样式

    var order = getUrlParam("order");
    var by = getUrlParam("by");
    var sortBtn = $(".goods_sort").children('.sort_btn');

     if(order=="default"){
        if(by=="desc"){
            sortBtn.eq(0).addClass('on').append('<i class="icon-angle-down"></i>');
        }else{
            sortBtn.eq(0).addClass('on').append('<i class="icon-angle-up"></i>');
        }
        
    }else if (order=="sale"){
        if(by=="desc"){
            sortBtn.eq(1).addClass('on').append('<i class="icon-angle-down"></i>');
        }else{
        sortBtn.eq(1).addClass('on').append('<i class="icon-angle-up"></i>');
        }
    }else if(order=="grade"){
         if(by=="desc"){
        sortBtn.eq(2).addClass('on').append('<i class="icon-angle-down"></i>');
        }else{
        sortBtn.eq(2).addClass('on').append('<i class="icon-angle-up"></i>');
        }
       
    }else{
        sortBtn.eq(0).addClass('on').append('<i class="icon-angle-down"></i>');
    };
});
   
</script>
