<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>商家管理中心--找回密码</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {js:dialog}
    <link rel="stylesheet" href="{skin:css/login.css}" />
</head>

<body>
    <header class="clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li><a href="{url:}">网站首页</a> <span class="divider"></span></li>
                <li class="active">商家中心</li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3 class="text-center w700" style="color:#333;margin-bottom:20px;">商家找回密码</h3>
                        <p class="text-center" style="color:#333"><!-- IWEBSHOP --></p>
                        <form method="post" name="login" action="{url:/systemseller/findPassword}" autoComplete="off" class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="用户名" name="username" type="text" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input name="mobile" class="form-control" placeholder="手机号" type="text" />
                                </div>
                            </div>

                            
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class='form-control smsver' type='text' name='captcha' pattern='^\w{5,10}$' placeholder='验证码'>
                                    <img class="chanimg" src='{url:/simple/getCaptcha}' id='captchaImg' onclick="changeCaptcha();">
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 verification">
                                    <input name="mobile_code" class="form-control smsver" placeholder="短信验证码" type="text" />
                                    <input class="form-control getcode" onclick="sendMessage();" type="button" value="获取验证码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-12">
                                    <button type="submit"  class="btn btn-block btn-success width">找回密码</button>
                                </div>
                            </div>
                        </form>

                        <div style="overflow:hidden;padding: 0 5px;">
                            <a href="{url:/systemseller/index}"><p style="font-size:12px;float:left;margin-left:10px;">请登录</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<footer class="text-center"></footer>
</body>
</html>
<script type="text/javascript">
//发送短信码
function sendMessage(){
    var username = $('input[name="username"]').val();
    var mobile   = $('input[name="mobile"]').val();
    var captcha   = $('input[name="captcha"]').val();
    $.get("{url:/systemseller/send_message_mobile}",{"username":username,"mobile":mobile,'captcha':captcha},function(content){
        if(content == 'success'){
            alert('发送成功，请查看您的手机');
        }else{
            alert(content);
            return;
        }
    });
}
</script>