<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>商家管理中心--重置密码</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {js:dialog}
    <link rel="stylesheet" href="{skin:css/login.css}" />
</head>

<body>
    <header class="clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li><a href="{url:}">网站首页</a> <span class="divider"></span></li>
                <li class="active">商家中心</li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3 class="text-center w700" style="color:#333;margin-bottom:20px;">商家重置密码</h3>
                        <p class="text-center" style="color:#333"><!-- IWEBSHOP --></p>
                        <form method="post" name="login" action="{$this->formAction}" autoComplete="off" class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="新密码" name="password" type="password" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="重复密码" name="repassword" type="password" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class=" col-sm-12">
                                    <button type="submit"  class="btn btn-block btn-success">重置密码</button>
                                </div>
                            </div>
                        </form>

                        <div style="overflow:hidden;padding: 0 5px;">
                            <a href="{url:/systemseller/index}"><p style="font-size:12px;float:left;">请登录</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<footer class="text-center"></footer>
</body>
</html>