.screen{width: 1200px; background: #fff; margin:0 auto;height: 50px; border: 1px solid #e4e4e4;margin-top: 15px;}
.screen li{float: left;line-height: 50px; text-align: center; padding: 0 30px; font-size: 14px;}
.screen li.color{color: #fff; background: #6bb945;}
.screen li:hover{cursor: pointer;}
.merch_list{height: auto;overflow: hidden;margin: 0 auto;margin-top: 8px;background: #fff; border: 1px solid #e4e4e4;}
.merch_list li{border-bottom: 1px solid #e4e4e4;padding: 18px 30px;width: 1200px;overflow: hidden;}
.merch_list .merch_left{float: left;position: relative;}
.merch_list .merch_left .vip_icon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
    border: 0px;
}
.merch_list .merch_left img{width: 120px; height: 120px;border:1px solid #d8d8d8;}
.merch_list .merch_right{float: left;margin-left: 20px;}
.merch_list .merch_right dl{font-size: 14px;}
.merch_list .merch_right dl dt{font-size: 16px; color: #6bb945; font-weight: bold; line-height: 28px;}
.merch_list .merch_right dl dd{line-height: 24px;}
.merch_list .bottom_word{clear: both; padding: 3px 0;}
.merch_list .bottom_word span{line-height: 26px;}
.merch_list li:last-child{border-bottom: none;}

/*翻页*/
.turn_page {
    font-size: 14px;
    border: 1px solid #e4e4e4;
    height: auto;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    background: #fff;
    margin: 6px auto;
}
.turn_page input {
	cursor:pointer;
    padding: 8px 12px;
    margin: 0 3px;
    background: #f5f5f5;
    border: 1px #e5e5e5 solid;
	color: #8c8a8b;
}
.turn_page .turn_red{
	cursor:default;
    background: #ff4400;
    color: #fff;
}
.turn_page .turu_white{ background:#fff; color:#292218;}
.turn_page span{ cursor:default;}
.turn_page span input{cursor: auto;}



/*装修公司首页*/

body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td, menu { margin: 0; padding: 0; resize: none;font-family: "Microsoft YaHei"; }

table { border-collapse: collapse; border-spacing: 0; }

body,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,table,tr,th,td,p,input,dl,dt,dd,ul,ol,li,input,textarea { font-family:"微软雅黑"!important;}

ul, ol, menu { list-style: none; text-align: left; }

fieldset, img { border: none; }

img, object, select, input, textarea, button { vertical-align: middle; box-sizing: content-box; }

input, textarea, select, address, caption, cite, code, dfn, em, i, b, strong, small, th, var, abbr, button, u, s, del { font-style: normal; text-decoration: none; }

article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block; }

code, kbd, pre, samp, tt { font-family: Consolas,"Courier New", Courier, monospace; }

address, cite, dfn, em, var, i { font-style: normal; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

a { text-decoration: none; cursor: pointer; color: #666; }
a:hover, a:focus { outline: none; color: #6bb945; text-decoration: underline; }
a, a * { cursor: pointer; }


.clear{clear:both;}


.header{
    height: 80px;
    background: #ffffff;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px #d9d9d9 solid;
}
.header .head_main{width: 1200px; height: 80px; margin:0 auto;}
.head_main .head_left{
    text-align: center;
    line-height: 80px;
    float: left;
    width: 500px;
}
.head_main .head_left .logo_img{
    width: 200px;
    height: 50px;
    border-right: 1px solid #cdcdcd;
    margin: 15px 0;
    line-height: 50px;
    float: left;
}
.head_main .head_left .logo_img img{
    width: 142px;
    height: 56px;
}
.head_main .head_left .word_img{
    float: left;
    margin-left: 20px;
}
.head_main .head_left .word_img{
    width: 212px; height: 26px;
}
.head_main .head_right{
    text-align: center;
    line-height: 80px;
    float: right;
}
.head_main .head_right ul li{
    float: right;
    margin-left: 30px;
}
.head_main .head_right ul li a{
    color: #3c3c3c; font-size: 14px;
}
.head_main .head_right ul li a:hover{ text-decoration: none;}