{js:my97date}
{set:$seller_id = $this->seller['seller_id']}
{set:$siteConfigData = new Config('site_config');$commissionPer = $siteConfigData->commission ? $siteConfigData->commission : 0;$date=date('Y-m-d');}
<article class="module width_full">
	<header>
		<h3 class="tabs_involved">货款结算单编辑</h3>
	</header>

	<form action="{url:/seller/bill_update}"  method="post" name="bill_edit">
		<input type='hidden' name='id' />
		<div class="module_content">
			<fieldset>
				<label>结算货款起止时间：</label>
				<div class="box">
					<input type='text' class="normal" name='start_time' readonly="readonly" pattern='date' onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'{$date}',disabledDates:['0[2-9]$','1[0-5]$','1[7-9]$','2[0-9]$','3[0-1]$']})" alt='请填写开始日期' title="请填写开始日期" />
					<input type='text' class="normal" name='end_time' readonly="readonly" pattern='date' onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'{$date}',disabledDates:['0[1-9]$','1[0-4]$','1[6-9]$','2[0-9]$']})" alt='请填写结束日期' title="请填写结束日期" />
					<input class="btn" type="button" value="点击计算结算明细" id="checkButton" onclick="checkoutFee();" />
				    <label class="tip">根据选择的日期系统会自动生成结算详情报告，商家必须发货且用户必须收货后才会有统计数据</label>
                </div>
			</fieldset>
            {if:$this->billRow}
            {if:$this->billRow['is_account'] == 1}
			<fieldset class="statements">
				<div class="sta_tit">
					<h5>对账单</h5>
					<img src="{skin:images/main/nzw.png}" />
				</div>
				<ul class="sta_ul">
					<li>
						<label for="">尊敬的：{$this->seller['seller_name']}</label>
					</li>
					<li>
						<label for="">会员编号：{$seller_id}</label>
					</li>
					<li>
						<label for="">首先感谢贵公司对我司平台的大力支持，现就双方结算周期内账务确认如下：</label>
					</li>
					<li class="next_line">
						<label for=""><span class="cycle">结算周期：{if:isset($this->billRow['start'])}{$this->billRow['start']}-{$this->billRow['end']} {/if}</span></label>                       
						<label for=""> <span class="js_date_bill"> 账单日：{if:isset($this->billRow['new_time'])}{$this->billRow['new_time']} {/if}</span></label>
					</li>
				</ul>
				<table border="1">
					<tbody>
					  <tr>
					    <td colspan="6" class="sett_tit">应结贵公司贷款</td>
					  </tr>
					  <tr>
					    <td class="first" colspan="2" width="200">交易总额（元）</td>
                        <td colspan="2">扣除费用项（元）</td>
                        <td rowspan="2">应结算金额（元）</td>
                        <td rowspan="2">其他说明</td>
					  </tr>
					  <tr>
					    <td class="first">销售额</td>
                        <td>运输物流费</td>
                        <td>服务费（销售额 x {$commissionPer}％）</td>
                        <td>其他款项</td>
					  </tr>
					  <tr>
					    <td class="first js_date_sales">{if:isset($this->billRow['orgRealFee'])}{$this->billRow['orgRealFee']}{/if}&nbsp;</td>
					    <td class="js_date_delivery">{if:isset($this->billRow['orgDeliveryFee'])}{$this->billRow['orgDeliveryFee']}{/if}&nbsp;</td>
					    <td class="js_date_percent">{if:isset($this->billRow['commission'])}{$this->billRow['commission']}{/if}&nbsp;</td>
                        <td>{if:isset($this->billRow['otherFee'])} {$this->billRow['otherFee']}{else:}0{/if}</td>
					    <td class="js_date_total">{if:isset($this->billRow['countFee'])}{$this->billRow['countFee']}{/if}&nbsp;</td>
                        <td>{if:isset($this->billRow['otherInfo'])}{$this->billRow['otherInfo']}{/if}</td>
					  </tr>
					  <tr>
					    <td class="first specil" colspan="6"><label>特别说明：</label>
					    	<p>1.《对账单》确认应结贷款无误后，点击确认对账，若有误请点击拒绝，并留言原因 </p><p>2.客服电话：400-659-9591；查询请报交易商名称、会员号</p>
					 	</td>
					  </tr>
					  <tr>
					    <td class="last" colspan="6">同意结算：  
					    	<input type="radio" name="is_agree" value="1" checked="checked" {if:$this->billRow['is_pay'] == 1}disabled="disabled" {/if}>是        
					    	<input type="radio" name="is_agree" value="0" {if:$this->billRow['is_pay'] == 1}disabled="disabled" {/if}>否</td>
					  </tr>
					  </tbody>	
				</table>
			</fieldset>
            {else:}
            <fieldset>
                <label>尚未生成对账单，请耐心等待~~~</label>
            </fieldset>
            {/if}
            {else:}
            <fieldset>
                <label class="js_show_tip"></label>
            </fieldset>
            {/if}
			<fieldset>
				<label>申请结算附言：</label>
				<textarea name="apply_content"></textarea>
			</fieldset>

			<fieldset>
				<label>管理员回复：</label>
				<textarea name="pay_content" disabled="disabled"></textarea>
			</fieldset>
		</div>

		<footer>
			<div class="submit_link">
				<input type="submit" class="alt_btn" value="确 定" />
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>
</article>

<script type="text/javascript">
//表单回填
var formObj = new Form('bill_edit');
formObj.init({echo:JSON::encode($this->billRow)});

//存在结算单数据就要锁定已有数据
{if:$this->billRow}
$("[name='start_time']").prop("disabled",true);
$("[name='end_time']").prop("disabled",true);
$("#checkButton").hide();
{/if}

//计算结算款明细
function checkoutFee()
{
	var startTime = $("[name='start_time']").val();
	var endTime   = $("[name='end_time']").val();
    if(!startTime || !endTime)
    {
        alert("请填写完整的时间段");
        return;
    }
	if(startTime >= endTime)
	{
		alert("请选择正确的结算周期");
		return;
	}
    var start = new Date(startTime);
    var end = new Date(endTime);
    if(end.getMonth()-start.getMonth() > 0)
    {
        alert("只能结算同一个月的订单");
        return;
    }
	$.getJSON("{url:/seller/countGoodsFee}",{"start_time":startTime,"end_time":endTime}, function(json)
	{
		if(json.result == 'success')
		{
            /*$('.next_line span.cycle').html('结算周期：'+json.countData.start_time+'-'+json.countData.end_time);
            $('.next_line span.js_date_bill').html('账单日：'+json.countData.new_time);
            $('.js_date_sales').html(json.countData.orgRealFee);
            $('.js_date_delivery').html(json.countData.orgDeliveryFee);
            $('.js_date_percent').html(json.countData.commission);
            $('.js_date_total').html(json.countData.countFee);*/
            $(".js_show_tip").html('系统会尽快生成对账单，请耐心等待');
		}
		else
		{
			alert(json.data);
		}
	})
}
</script>