{set:$seller_id = $this->seller['seller_id'];$num = count($this->billRow)}
<style type="text/css">
.js_data_1{display: none;}
</style>
<article class="module width_full">
    <header>
        <h3 class="tabs_involved">发票详情</h3>
    </header>

    <form action="{url:/seller/bill_fapiao_save}" name="refundForm" method="post">
        <input type='hidden' name='id' value='{$id}'/>
        <div class="module_content">
            <fieldset>
                <label>原因:</label>
                <div class="box">
                {if:!$this->data}
                <label><input type="radio" name="bill_id" value="-1">开店服务费</label>
                {/if}
                {if:$num}
                <label><input type="radio" name="bill_id" value="0">结算服务费</label>
                {/if}
                </div>
            </fieldset>
            <fieldset class="js_show_bill" style="display: none;">
                <label>结算单选择：</label>
                <div class="box">
                    <select name="bill" onchange="change_bill(this)">
                    <option value="0">请选择结算单</option>
                    {foreach:items=$this->billRow}
                    {set:$para = JSON::decode($item['para']);$commission = $para['commission']}
                    <option value="{$item['id']}" js_data="{$commission}">{$item['start_time']}~{$item['end_time']}</option>
                    {/foreach}
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <label>发票类型:</label>
                <div class="box">
                <label><input type="radio" name="type" value="0" checked="checked">增值税普票</label>
                <label><input type="radio" name="type" value="1">增值税专票</label>
                </div>
            </fieldset>
            
            <fieldset class="js_data_0 js_show_info">
                <label>发票抬头:</label>
                <div class="box">
                <input type="text" name="taitou" value="" pattern="required">
                </div>
            </fieldset>
            
            <fieldset class="js_data_1 js_show_info">
                <label>公司名称:</label>
                <div class="box">
                <input type="text" name="com" value="{$this->seller['seller_name']}" pattern="required">
                </div>
            </fieldset>
            <fieldset class="js_data_1 js_show_info">
                <label>纳税人识别号:</label>
                <div class="box">
                <input type="text" name="tax_no" value="" pattern="required">
                </div>
            </fieldset>
            <fieldset class="js_data_1 js_show_info">
                <label>注册地址:</label>
                <div class="box">
                <input type="text" name="address" value="" pattern="required">
                </div>
            </fieldset>
            <fieldset class="js_data_1 js_show_info">
                <label>联系电话:</label>
                <div class="box">
                <input type="text" name="telphone" value="" pattern="mobi">
                </div>
            </fieldset>
            <fieldset class="js_data_1 js_show_info">
                <label>开户银行:</label>
                <div class="box">
                <input type="text" name="bank" value="" pattern="required">
                </div>
            </fieldset>
            <fieldset class="js_data_1 js_show_info">
                <label>银行账户:</label>
                <div class="box">
                <input type="text" name="account" value="" pattern="required">
                </div>
            </fieldset>
            <fieldset>
                <label>开票金额:</label>
                <div class="box"><input type='text' class='small' max-value='' name='money' value='' pattern='^[0-9]+.?[0-9]{0,2}$' readonly="readonly"/></div>
            </fieldset>
            <footer>
                <div class="submit_link">
                    <input type="submit" class="alt_btn" value="确 定" onclick='return checkForm()' />
                    <input type="reset" value="重 置" />
                </div>
            </footer>
        </div>
    </form>
</article>
<script type='text/javascript' >
    $(function(){
        $('input[name=bill_id]').click(function(){
            var _id = $(this).val();
            if(_id == -1)
            {
                $('.js_show_bill').hide().find('select');
                $('input[name=money]').attr('max-value', '770').val('770');
            }
            else
            {
                $('.js_show_bill').show();
                $('input[name=money]').attr('max-value', '0');
            }
        })
        $('input[name=type]').click(function(){
            $('.js_show_info').hide().find('input').attr('disabled', 'disabled');
            var _id = $(this).val();
            $('.js_data_'+_id).show().find('input').removeAttr('disabled');
        })
    })
    function change_bill(obj)
    {
        $('input[name=bill_id]:checked').val($(obj).val());
        $('input[name=money]').attr('max-value', $(obj).find('option:selected').attr('js_data')).val($(obj).find('option:selected').attr('js_data'));
    }
    function checkForm(){
        var money = $('input[name=money]').val();
        var bill_id = $('input[name=bill_id]').val();
        var max = parseFloat($('input[name=money]').attr('max-value'));
        if(money>max){
            alert('开票金额不得大于服务费总金额');
            return false;
        }
        else if(bill_id == 0)
        {
            alert('请选择结算单');
            return false;
        }
        else return true;
    }
</script>