{set:$seller_id = $this->seller['seller_id']}
<article class="module width_full">
	<header>
		<h3 class="tabs_involved">品牌列表</h3>

		<ul class="tabs">
			<li><input type="button" class="alt_btn" onclick="window.location='{url:/seller/brand_edit}'" value="添加品牌" /></li>
			<li><input type="button" class="alt_btn" onclick="selectAll('id[]')" value="全选" /></li>
			<li><input type="button" class="alt_btn" onclick="delModel();" value="批量删除" /></li>
		</ul>
	</header>

	<form action='{url:/seller/brand_del}' method='post' name='brandForm'>
		<table class="tablesorter" cellspacing="0">
			<colgroup>
				<col width="50px" />
                <col width="100px" />
                <col width="150px" />
                <col width="100px" />
                <col width="50px" />
				<col width="150px" />
			</colgroup>

			<thead>
				<tr>
					<th class="header"></th>
                    <th class="header">品牌名称</th>
                    <th class="header">网址</th>
                    <th class="header">品牌分类</th>
					<th class="header">排序</th>
					<th class="header">操作</th>
				</tr>
			</thead>

			<tbody>
                {set:$catAll = array()}
                {query: name = brand_category}
                    {set:$catAll[$item['id']] = $item['name']}
                {/query}
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
                {query: name=brand where=seller_id eq $seller_id order=sort desc page=$page}
				<tr>
					<td><input type="checkbox" name="id[]" value="{$item['id']}" /></td>
					<td>{$item['name']}</td>
                    <td>{$item['url']}</td>
                    <td>
                    {foreach:items = explode(',',$item['category_ids']) item = $val}
                    {$catAll[$val]} &nbsp;
                    {/foreach}
                    </td>
                    <td>{$item['sort']}</td>
					<td>
						<a href="{url:/seller/brand_edit/id/$item[id]}"><img src="{skin:images/main/icn_edit.png}" alt="修改" /></a>
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/seller/brand_del/id/$item[id]}'});"><img src="{skin:images/main/icn_del.png}" alt="删除" title="删除" /></a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
	{$query->getPageBar()}
</article>