{set:$seller_id = $this->seller['seller_id']}
<article class="module width_full">
	<header>
		<h3 class="tabs_involved">品牌分类列表</h3>

		<ul class="tabs">
			<li><input type="button" class="alt_btn" onclick="addNewCate();" value="添加品牌分类" /></li>
			<li><input type="button" class="alt_btn" onclick="selectAll('id[]')" value="全选" /></li>
			<li><input type="button" class="alt_btn" onclick="delModel();" value="批量删除" /></li>
		</ul>
	</header>

	<form action='{url:/seller/category_del}' method='post' name='cateForm'>
		<table class="tablesorter" cellspacing="0">
			<colgroup>
				<col width="40px" />
                <col width="150px" />
				<col width="150px" />
			</colgroup>

			<thead>
				<tr>
					<th class="header"></th>
					<th class="header">分类名称</th>
					<th class="header">操作</th>
				</tr>
			</thead>

			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
                {query: name=brand_category where=seller_id eq $seller_id order=id desc page=$page}
				<tr>
					<td><input type="checkbox" name="id[]" value="{$item['id']}" /></td>
					<td>{$item['name']}</td>
					<td>
						<a href="javascript:addNewCate({$item['id']});"><img src="{skin:images/main/icn_edit.png}" alt="修改" /></a>
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/seller/category_del/id/$item[id]}'});"><img src="{skin:images/main/icn_del.png}" alt="删除" title="删除" /></a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
	{$query->getPageBar()}
</article>

<script type='text/javascript'>
//添加新规格
function addNewCate(cate_id)
{
	var url = '{url:/seller/category_edit/id/@cate_id@}';
	url = url.replace('@cate_id@',cate_id?cate_id:0);

	art.dialog.open(url,{
		id:'addCateWin',
	    title:'品牌分类设置',
	    okVal:'确定',
        width:'600px',
	    ok:function(iframeWin, topWin){
	    	var formObject = iframeWin.document.forms['cateForm'];
			$.post(formObject.action,$(formObject).serialize(),function(json){
				if(json.flag == 'success')
				{
					window.location.reload();
					return true;
				}
				else
				{
					alert(json.message);
					return false;
				}
			},'json');
	    }
	});
}
</script>