.peis,.zf_way,.submit_ok,.w_paswd{
	height: 2.5rem;
    width: 100%;
    background: #fff;
    border-top: 1px solid #dedede;
    position: fixed;
    bottom: -2.7rem;
    z-index: 12;
}
.peis .ps_select,.zf_way .ps_select{
	height: 1.2rem;
/*    overflow: auto;*/
    border-bottom: 0.01rem solid #ededed;
}
.peis .ps_select ul,.zf_way .ps_select ul{
	height: 1.2rem;
	overflow: auto;
}
.peis ul li,.zf_way ul li{
	height: 0.4rem;
	line-height: 0.4rem;
	border-bottom: 0.01rem solid #ededed;
	padding: 0 0.15rem;
	position: relative;
}

.peis ul li .ps_cont,.zf_way ul li .ps_cont{
	padding-left:0.25rem; 
}
.peis .close,.zf_way .close,.submit_ok .close,.w_paswd .close{
	top: 0.15rem;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    left: 0.1rem;
    background: url("../image/top/guanbi.png") no-repeat;
}
.peis .ps_title span,.zf_way .ps_title span,.submit_ok .ps_title span,.w_paswd span{
	display: block;
	height: 0.48rem;
	line-height: 0.48rem;
	padding: 0 0.15rem;
	border-bottom: 0.01rem solid #ededed;
	text-align: center;
}
.peis .type_ok,.zf_way .type_ok,.submit_ok .type_ok{
	width: 80%;
	height: 0.4rem;
	margin:0 10%;
	text-align: center;
	color: #fff;
	background: #6BB945;
	border: 0px;
	border-radius: 0.05rem;
}
.peis .ok_button,.zf_way .ok_button{
	position: relative;
	top:0.2rem;
}
.zf_way ul li .ps_cont .img_zf{
	width: 0.2rem;
	height: 0.2rem;
}
/*订单详情*/
.submit_ok{
	height: 4rem !important;
	bottom: -4.2rem;
}
.submit_ok .order_line{
	height: 0.4rem;
	line-height: 0.4rem;
	padding: 0 0.15rem;
	position: relative;
}
.submit_ok .order_line span:nth-child(2){
	position: absolute;
	left:1.5rem; 
}
/*输入支付密码*/
.w_paswd{
z-index: 11;
}
.w_paswd .passwd_cont{
	padding: 0.15rem;
}
.w_paswd .passwd_cont .pass .pas_tex{
	border: 1px solid #D3D3D3;
    /*float: left;
    width: 13%;
    margin-left: 1.1%;*/
    width: 98%;
    height: 0.4rem;
    padding: 0 1%;
    font-size: 0.15rem;
    text-align: center;
}
/*.w_paswd .passwd_cont .pass .pas_tex:first-child{
	margin-left:0px; 
}*/
.w_paswd .pas_but{
	margin-top:0.4rem;
}
.w_paswd .passwd_cont .pas_but button{
	display: block;
	padding: 0.1rem 0.15rem;
	text-align: center;
	border-radius: 0.025rem;
	border: 0px;
	width: 38%;
}
.w_paswd .passwd_cont .pas_but .pas_qr{
	float: left;
	background: #6BB945;
	color: #fff;

}
.w_paswd .passwd_cont .pas_but .pas_qx{
	float: right;
	background: #CACACA;
	color: #7b7b7b;
}
/*个人中心我的订单*/
.order_top{
	height: 0.4rem;
	line-height: 0.4rem;
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
}
.order_top .order_tit li{
	float: left;
	width: 20%;
	text-align: center;
}
.order_top .order_tit li a{
	display: block;
}
.order_top .order_tit li a.on{
	color: #6BB945;
}
.user_order{
	margin-top:0.15rem;
}
.cart_sel .good_price{
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: right;
	border-bottom: 1px solid #e2e2e2;
}
.cart_sel .good_an{
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: right;
	border-bottom: 1px solid #e2e2e2;
}
.cart_sel .good_an a{
	padding: 0.08rem 0.18rem; 
	margin-right:0.1rem;
	border-radius: 0.05rem; 
}
.cart_sel .good_an a.quoder{
	background: #E9E9E9;
}
.cart_sel .good_an a.ljpay{
	color: #fff;
	background: #6BB945;
}
/*个人中心我的订单 end*/
/*个人中心订单详情 strat*/
.user_order_detail .order_number{
	height: 0.4rem;
	line-height: 0.4rem;
	background: #fff;
	padding: 0 0.15rem;
	margin-bottom:0.15rem; 
}
.user_order_detail .order_number .order_state{
	float: right;
	color: #6BB945;
}
.user_order_detail  .adders_order{
	padding: 0.15rem;
}
.user_order_detail  .adders_order .adder_height{
	display: block;
}
.adders_order .adder_height .s_adder_p{
	line-height: 0.3rem;
}
.adders_order .adder_height .s_adder_p .tel{
	float: right;
}
.user_order_detail .order_logistics{
	line-height: 0.4rem;
	background: #fff;
	padding: 0 0.15rem;
	position: relative;
	margin-bottom: 0.15rem;
}
.user_order_detail .order_logistics a.info_head{
	display: block;
}
.user_order_detail .order_logistics a.info_head:after{
	content: ' ';
    position: absolute;
    border: #999 solid;
    border-width: 2px 0 0 2px;
    width: 0.10rem;
    height: 0.10rem;
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    right: 0.15rem;
    top: 0.15rem;
}
/*发票*/
.user_order_detail .order_de_fp{
	background: #fff;
	margin-bottom: 0.15rem;
	padding: 0 0.15rem;
}
.user_order_detail .order_de_fp .fp_head{
	height: 0.4rem;
	line-height: 0.4rem;
	border-bottom: 1px solid #e2e2e2;
}
.user_order_detail .order_de_fp .fp_cont{
	padding: 0.1rem;
}
.user_order_detail .order_de_fp .fp_cont span{
	display: block;
	line-height: 0.3rem;
}
/*支付方式*/
.user_order_detail .order_pay_way{
	line-height: 0.4rem;
	padding: 0 0.15rem;
	background: #fff;
}
/*底部*/
.order_detail_bottom{
	position: fixed;
	width: 100%;
	bottom: 0px;
	background: #fff;
	border-top: 1px solid #e2e2e2
}
.order_detail_bottom .bottom_an{
	line-height: 0.45rem;
	text-align: right;
}
.order_detail_bottom .bottom_an a{
	padding: 0.05rem 0.17rem;
	text-align: center;
	margin-right:0.15rem; 
	border-radius: 0.05rem;
}
.order_detail_bottom .bottom_an a.E9{
	background: #E9E9E9;
}
.order_detail_bottom .bottom_an a.B6{
	background: #6BB945;
	color: #fff;
}

/*个人中心订单详情 end*/
/*售后 strat*/
.refunds_top ul{
	height: 0.4rem;
	line-height: 0.4rem;
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
}
.refunds_top ul li{
	float: left;
	width: 50%;
}
.refunds_top ul li a{
	display: block;
	text-align: center;
}
.refunds_top ul li a.on{
	color: #6BB945;
}
.refunds_list .refunds_infor{
	display: block;
	background: #fff;
	margin-bottom: 0.15rem;
	padding: 0.15rem 0;
	border-bottom: 1px solid #e2e2e2;
}
.refunds_list .refunds_infor .infor_div{
	line-height: 0.3rem;
	padding:0 0.15rem;
	position: relative;
}
.refunds_list .refunds_infor .infor_div .infor_date{
	color: #AAAAAA;
}
.refunds_list .refunds_infor .infor_div  label input{
	display: none;
}
.refunds_list .refunds_infor .infor_div label{
	display: block;
	float: right;
	width: 0.7rem;
	height: 0.25rem;
	line-height: 0.25rem;
	text-align: center;
	
}
.refunds_list .refunds_infor .infor_div label.infor_qx{
	border: 1px solid #6BB945;
	color: #6BB945;
}
.refunds_list .refunds_infor .infor_div label.infor_del{
	background: #6BB945;
	color: #fff;
}
.F5A623{
	color: #F5A623;
}
.DF3737{
	color: #DF3737;
}
.b6{
	color: #6BB945;
}
/*售后 end*/

/*提现页面*/

    .tab_content ul li:nth-child(2){
        text-align: left;
        width: 100%;
        margin-top: 0.05rem;
    }
    .tab_content ul li:first-child{
        width: 100%;color: #666;
        font-weight: bold;
        font-size: 0.14rem;
        margin-top: 0.1rem;
    }
    .tab_content ul li input{
        border:1px solid #ccc;
        width: 95%;
        line-height: 0.3rem;
        height: 0.3rem;
        padding-left: 0.1rem;
        font-size: 0.12rem;
    }
    #tab4 .del_but{
        margin-top: 6rem;
    }
