{js:my97date}
{set:$search = IReq::get('search') ? IFilter::act(IReq::get('search'),'strict') : array();}

<div class="headbar">
	<div class="position"><span>统计</span><span>></span><span>商户数据统计</span><span>></span><span>申请发票列表</span></div>
	<div class="operating">
		<div class="search f_l">
			<form name="searchBill" action="{url:/}" method="get">
				<input type='hidden' name='controller' value='market' />
				<input type='hidden' name='action' value='bill_fapiao_list' />

				<span>
					申请时间
					<input type="text" name='search[create_time>=]' value='' class="Wdate" pattern='date' onFocus="WdatePicker()" empty title='选择起始时间' /> 到
					<input type="text" name='search[create_time<=]' value='' class="Wdate" pattern='date' onFocus="WdatePicker()" empty title='选择终止时间' />
				</span>

                <select class="auto" name="search[status=]">
                    <option value="" selected="selected">状态</option>
                    <option value="0">未开</option>
                    <option value="1">已开</option>
                </select>
				<select class="auto" name="search[type=]">
					<option value="" selected="selected">申请类型</option>
					<option value="0">普通</option>
					<option value="1">增值税</option>
				</select>

				<button class="btn" type="submit"><span class="sch">搜 索</span></button>
			</form>
		</div>
	</div>
</div>

<div class="content">
	<table class="list_table">
		<colgroup>
			<col width="260px" />
			<col width="120px" />
            <col width="180px" />
			<col width="200px" />
			<col />
			<col width="100px" />
		</colgroup>

		<thead>
			<tr>
				<th>申请原因</th>
                <th>发票类型</th>
                <th>发票抬头</th>
                <th>申请商家</th>
                <th>状态</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			{set:$where = 1}
			{foreach:items=$search}
			{if:$item !== ""}{set:$where .= " and ".$key."'".$item."'"}{/if}
			{/foreach}
			{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
			{query: name=bill_fapiao as b join=left join seller as s on b.seller_id eq s.id fields=b.*,s.seller_name where=$where page=$page}
			<tr>
				<td>{if:$item['bill_id'] == -1}开店服务费发票{else:}<a href='{url:/market/bill_edit/id/$item[bill_id]}'>结算单 {$item['bill_id']} </a>{/if}</td>
				<td>{if:$item['type']==0}普通{else:}增值税{/if}</td>
                <td>{if:$item['type']==0}{$item['taitou']}{else:}{$item['com']}{/if}</td>
                <td>{$item['seller_name']}</td>
                <td>{echo:Order_Class::getFapiaoStatus($item['status'])}</td>
				<td>
                    {if:$item['status'] == 0}
					<a href="{url:/market/bill_fapiao_edit/id/$item[id]}">
						<img class="operator" title="开票" alt="开票" src="{skin:images/admin/icon_check.gif}" />
					</a>
					{/if}
				</td>
			</tr>
			{/query}
		</tbody>
	</table>
</div>
{$query->getPageBar()}

<script type="text/javascript">
//表单回填
var formObj = new Form('searchBill');
{foreach:items=$search}
formObj.setValue("search[{$key}]","{$item}");
{/foreach}
</script>