{set:$seller_id = isset($this->billRow['seller_id']) ? $this->billRow['seller_id'] : 0}
<div class="headbar">
	<div class="position"><span>统计</span><span>></span><span>商户数据统计</span><span>></span><span>货款结算单修改</span></div>
</div>

<div class="content_box">
	<div class="content form_content">
		<form action="{url:/market/bill_update}"  method="post" name="bill_edit">
			<input type='hidden' name='id' />
			<table class="form_table">
				<colgroup>
					<col width="150px" />
					<col />
				</colgroup>
				<tr>
					<th>商户名称：</th>
					<td>{$this->billRow['seller_name']}</td>
				</tr>
				<tr>
					<th>结算货款起止时间：</th>
					<td>
						<input type='text' class="small" name='start_time' pattern='date' alt='开始日期' title="开始日期" disabled="disabled" />
						<input type='text' class="small" name='end_time' pattern='date' alt='结束日期' title="结束日期" disabled="disabled" />
					</td>
				</tr>
				<tr>
					<th>结算信息：</th>
					<td><!-- <textarea name="log" disabled="disabled"></textarea> -->
						<fieldset class="statements">
							<div class="sta_tit">
								<h5>对账单</h5>
								<img src="{skin:images/admin/nzw.png}" />
							</div>
							<ul class="sta_ul">
								<li>
									<label for="">尊敬的：{$this->billRow['seller_name']}</label>
								</li>
								<li>
									<label for="">会员编号：{$seller_id}</label>
								</li>
								<li>
									<label for="">首先感谢贵公司对我司平台的大力支持，现就双方结算周期内账务确认如下：</label>
								</li>
								<li class="next_line">
									<label for=""><span class="cycle">结算周期： {$this->billRow['start']}-{$this->billRow['end']}</span></label>                       
									<label for=""> <span class="js_date_bill"> 账单日：{$this->billRow['new_time']}</span></label>
								</li>
							</ul>
							<table border="1">
								<tbody>
								  <tr>
								    <td colspan="4" class="sett_tit">应结贵公司贷款</td>
								  </tr>
								  <tr>
								    <td class="first" colspan="2">交易总额（元）</td>
								    <td>扣除费用项（元）</td>
								    <td rowspan="2">应结算金额（元）</td>
								  </tr>
								  <tr>
								    <td class="first">销售额</td>
								    <td>运输物流费</td>
								    <td>服务费（销售额 x {$commissionPer}％）</td>
								  </tr>
								  <tr>
								    <td class="first">{$this->billRow['orgRealFee']}</td>
                                    <td>{$this->billRow['orgDeliveryFee']}</td>
                                    <td>{$this->billRow['commission']}</td>
                                    <td>{$this->billRow['countFee']}</td>
								  </tr>
								  <tr>
								    <td class="first specil" colspan="4"><label>特别说明：</label>
								    	<p>1.《对账单》确认应结贷款无误后，点击确认对账，若有误请点击拒绝，并留言原因 </p><p>2.客服电话：400-659-9591；查询请报交易商名称、会员号</p>
								 	</td>
								  </tr>
								  <tr>
								    <td class="last" colspan="4">商家是否有异议：  
								    	{if:$this->billRow['is_agree']} 否 {else:} 是 {/if}
								  </tr>
								  </tbody>	
							</table>
						</fieldset>
					</td>
				</tr>
				<tr>
					<th>申请结算附言：</th>
					<td>
						<textarea name="apply_content" disabled="disabled"></textarea>
					</td>
				</tr>
				<tr>
					<th>管理员回复：</th>
					<td>
						<textarea name="pay_content"></textarea>
					</td>
				</tr>
				<tr>
					<th>是否同意结算：</th>
					<td>
						<label class="attr"><input type="radio" name="is_pay" value="1" />是</label>
						<label class="attr"><input type="radio" name="is_pay" value="0" />否</label>
					</td>
				</tr>
				<tr><th></th><td><button class="submit" type='submit'><span>确 定</span></button></td></tr>
			</table>
		</form>
	</div>
</div>

<script type="text/javascript">
//表单回填
var formObj = new Form('bill_edit');
formObj.init({echo:JSON::encode($this->billRow)});
</script>