<link rel="stylesheet" href="{skin:style/css/ucenter/change_psw.css}">
<header class="uc_head">
	<h3>修改绑定邮箱</h3>
</header>

<section class="user_form">
	<div class="prog_bar">
		<div class="pro_one"><span>1.手机验证</span></div>
		<div class="pro_two"><span>2.新邮箱验证</span></div>
		<div class="pro_three"><span>3.修改邮箱成功</span></div>
	</div>
 <form action="">
	<div class="prog_info">
		<p>您当前绑定的手机号码：<i>150****789</i></p>
		<p class="form_t">
			<label for="">验证码：</label><input type="text" name="" id="">
			<input class="toobn" type="button" value="获取短信验证码">
		</p>
		<a class="next_steb" href="">下一步</a>
	</div>
 </form>		
</section>


