<link rel="stylesheet" href="{skin:style/css/ucenter/change_psw.css}">
<header class="uc_head">
	<h3>修改绑定邮箱</h3>
</header>

<section class="user_form">
	<div class="prog_bar">
		<div class="pro_one_one"><span>1.邮箱验证</span></div>
		<div class="pro_two_two"><span>2.新邮箱验证</span></div>
		<div class="pro_three"><span>3.修改邮箱成功</span></div>
	</div>
 <form action="{url:/ucenter/changeEmail2}" method="post">
	<div class="prog_info">
		<p class="form_t">
			<label for="email">新邮箱：</label><input class="new_infil" type="text" name="email">
			<input class="toobn" type="button" value="发送邮箱验证码" onclick="sendChangeMail(this);">
		</p>
		<p class="form_t forema">
			<label for="email_code">请填写邮箱验证码：</label><input class="new_infil" type="text" name="email_code" id="">
		</p>
		<input type="submit" class="next_steb ema" value="完成" style="border: 0;"/>
	</div>
 </form>		
</section>
<script type="text/javascript">
function sendChangeMail(_self)
{
    var captcha = $('[name="captcha"]').val();
    var email = $('[name="email"]').val();
    $.get("{url:/ucenter/_sendChangeEmailCode}",{"captcha":captcha,"email":email},function(content)
    {
        if(content)
        {
            alert(content);
            $(_self).prop("disabled",false);
        }
        else
        {
            alert('发送成功')
            times = 60;
            timerHandle = setInterval(function(){
                times--;
                $(_self).val(times + "秒后再次发送");
                $(_self).prop("disabled",true);
                if(times <= 0)
                {
                    $(_self).prop("disabled",false);
                    $(_self).val("发送邮件验证码");
                    clearInterval(timerHandle);
                    times = 60;
                }
            },1000);
        }
    });
}
</script>