<link rel="stylesheet" href="{skin:style/css/ucenter/change_psw.css}">
<header class="uc_head">
	<h3>修改绑定手机</h3>
</header>

<section class="user_form">
	<div class="prog_bar">
		<div class="pro_one_one"><span>1.验证身份</span></div>
		<div class="pro_two"><span>2.新手机验证</span></div>
		<div class="pro_three_three"><span>3.修改手机成功</span></div>
	</div>
	<div class="prog_info">
		<div class="done_box">
		 <img class="done_img" src="{skin:/image/ucenter/done.png}" alt="">
		 <span>恭喜你！您的邮箱修改成功！</span>
		</div>
	</div>
		
</section>


