<link rel="stylesheet" href="{skin:style/css/ucenter/change_psw.css}">
<header class="uc_head">
	<h3>修改绑定手机</h3>
</header>

<section class="user_form">
	<div class="prog_bar">
		<div class="pro_one_one"><span>1.验证身份</span></div>
		<div class="pro_two_two"><span>2.新手机验证</span></div>
		<div class="pro_three"><span>3.修改手机成功</span></div>
	</div>
 <form action="">
	<div class="prog_info">
		<p class="form_t">
			<label for="">新手机号：</label><input class="new_infil" type="text" name="" id="">
			<span class="word_warn">请填写正确的手机号码，我们将验证码发送到你的手机</span>
			<input class="toobn_again" type="button" value="获取短信验证码">
		</p>
		<p class="form_t forin">
			<label for="">请填写短信验证码：</label><input class="new_infil" type="text" name="" id="">
		</p>
		<a class="next_steb" href="">下一步</a>
	</div>
 </form>		
</section>


