
<header class="uc_head">
	<h3>我的足迹</h3>
</header>
{set:$historyObj = Api::run('getHistory',$this->user['user_id'])}

<section class="goods_list">
	{if:$historyObj}
	<ul>
		{foreach:items=$historyObj->find()}
		<li>
			<a target="_blank" href="{url:/site/products/id/$item['goods_id']}">
				<div class="div_img"><img alt="{$item['name']}" src="{url:/pic/thumb/img/$item['img']/w/205/h/205}"><img src="{url:views/nzw/skin/default/image/seller.png}" class="vip_icon"></div>
				<h5>{$item['name']}</h5>
				<em>￥{$item['sell_price']}</em>
				<del>￥{$item['market_price']}</del>
			</a>
			<div class="goods_list_btn">
				<div class="del_fav del_history" onclick="delModel({link:'{url:/ucenter/history_del/id/$item[goods_id]}',msg:'确定删除浏览记录？'});">删除记录</div>
			</div>
		</li>
		{/foreach}
	</ul>
	{$historyObj->getPageBar()}

	{else:}
	<p class="no_tip">
		对不起，没有找到相关商品
	</p>
	{/if}
</section>
