<header class="uc_head_tab">
	<a href='{url:/ucenter/evaluation}'>未评价商品</a>
	<h3>已评价商品</h3>
</header>
<section class="uc_table">
	<table>
		<thead>
			<tr>
				<th>商品名称</th><th>订单编号</th><th>评论时间</th><th>评分</th><th>评价</th>
			</tr>
		</thead>
		<tbody>
			{set:$queryIevaluationList = Api::run('getUcenterEvaluation',$this->user['user_id'],"<> 0")}
			{foreach:items = $queryIevaluationList->find()}
			<tr>
				<td><a href="{url:/site/comments_list/id/$item[goods_id]}" target="_block">{$item['name']}</a></td>
				<td>{$item['order_no']}</td>
				<td>{$item['comment_time']}</td>
				<td>{$item['point']}</td>
				<td>
                    <span class="green bold">已评价</span>
                    {if:$item['status'] == 1}
                    <span><a href="{url:/site/comments/id/$item[id]}">去追评</a></span>
                    {/if}
                </td>
			</tr>
			{/query}
		</tbody>
	</table>
</section>
{$queryIevaluationList->getPageBar()}
