
<header class="uc_head_tab">
	<span class="money">账户余额：<em>￥{$this->memberRow['balance']}</em></span>
	<a href='{url:/ucenter/account_log}'>交易记录</a>
	<h3>提现记录</h3>
</header>

<section class="uc_table">
	<table>
		<col />
		<col />
		<col width="100px" />
		<col width="140px" />
		<col width="80px" />
		<col width="80px" />
		<thead>
			<tr>
				<th>会员备注</th><th>管理员备注</th><th>金额</th><th>申请时间</th><th>状态</th><th>操作</th>
			</tr>
		</thead>
		<tbody>
			{set:$page=(isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
			{set:$user_id = $this->user['user_id']}
			{set:$queryWithdrawList = Api::run('getWithdrawList',$user_id)}
			{foreach:items = $queryWithdrawList->find()}
			<tr>
				<td>{$item['note']}</td>
				<td>{$item['re_note']}</td>
				<td>{$item['amount']} 元</td>
				<td>{$item['time']}</td>
				<td>{echo:AccountLog::getWithdrawStatus($item['status'])}</td>
				<td>
					{if:$item['status']==0}
					<a href="javascript:delModel({link:'{url:/ucenter/withdraw_del/id/$item[id]}','msg':'确定要取消吗？'});">取消</a>
					{else:}
					<a href="javascript:;">删除</a>
					{/if}
				</td>
			</tr>
			{/query}
		</tbody>
	</table>
</section>

{$queryWithdrawList->getPageBar()}

<header class="uc_head">
	<h3>申请提现</h3>
</header>
<section class="user_form">
	<form action='#' method='post' name='withdraw' noComplate="true" class="js_validate_form">
		<dl>
			<dt>持卡人姓名：</dt>
			<dd>
				<input type="text" class="input_text" name='name' pattern='required' alt='请填写真实的持卡人姓名' />
				<span><i class='red'>*</i> 填写持卡人真实的姓名</span>
			</dd>
		</dl>
		<dl>
			<dt>提现金额：</dt>
			<dd>
				<input type="text" class="input_text" name='amount' pattern='float' max_value="{$this->memberRow['balance']}" alt='填写提现金额' maxalt="提现金额不能大于账户余额"/>
				<span><i class='red'>*</i> 要提现的金额，此数值不得大于当前的账户余额</span>
			</dd>
		</dl>
		<dl>
			<dt>开户银行：</dt>
			<dd>
				<input type="text" class="input_text" name='bank' pattern='required' alt='填写开户银行' />
				<span><i class='red'>*</i> 填写开户银行</span>
			</dd>
		</dl>
		<dl>
			<dt>账号：</dt>
			<dd>
				<input type="text" class="input_text" name='account' pattern='required' alt='填写银行账号' />
				<span><i class='red'>*</i> 填写银行账号</span>
			</dd>
		</dl>
		<dl>
			<dt>备注：</dt>
			<dd>
				<textarea name='note' class="input_textarea" alt='填写一些必要的提现信息'></textarea><br />
				<span class="filinfo"><!-- <i class='red'>*</i> 填写必要的提现信息，如开户银行，帐号等 -->请填写备注信息</span>
			</dd>
		</dl>
		<dl>
			<dt></dt>
			<dd><input class="input_submit" type="submit" onclick="setTimeout(payPass, 1000)" value="确定提交"/></dd>
		</dl>
	</form>
</section>


<script type='text/javascript'>
    //输入支付密码
    function payPass()
    {
        var name = encodeURIComponent($('input[name=name]').val());
        var amount = $('input[name=amount]').val();
        var bank = encodeURIComponent($('input[name=bank]').val());
        var account = encodeURIComponent($('input[name=account]').val());
        var note = encodeURIComponent($('textarea[name=note]').val());
        if($('.invalid-text').length == 0)
        {
            art.dialog.open(creatUrl("block/payPass/name/"+name+"/amount/"+amount+'/bank/'+bank+'/account/'+account+'/note/'+note),
            {
                "id":"payPassWindow",
                "title":"支付密码",
                "width":380,
                "ok":function(iframeWin, topWin){
                    var formObject = iframeWin.document.forms[0];
                    $.getJSON("{url:/ucenter/withdraw_act}",$(formObject).serialize(),function(content){
                        if(content.result == false)
                        {
                            alert(content.msg);
                            return;
                        }
                        window.location.reload();
                    });
                    return false;
                },
                "okVal":"确定",
                "cancel":true,
                "cancelVal":"取消",
            });
        }
    }
</script>
