// gray
$c55:#555;
$c22:#222;
$c33:#333;
$c99:#999;
$c77:#777;
$c00:#000;
$cff:#fff;
$caa:#aaa;
$ccc:#ccc;
$cf0:#f0f0f0;
$cdd:#ddd;
$cee:#eee;
$cf9:#f9f9f9;
$cf7:#F7F7F7;
$cfa:#fafafa;
$cf2:#f2f2f2;
$cf60:#6bb945;
// colour
$red:#e71f19;
$red2:#c33;
$blue:#2d64b3;
$sblue:#0a99c8;
$qblue:#81dae8;
$green:#379339;
$cyan:#399;
$gold:#A49D86;
$pink:#F85D92;
$pink2:#F13E7A;
$yellow:#f5c53a;
$orange:#6bb945;