	<title>找回密码</title>

	<main>	
			<div class="tab_reg">
				<div class="reg_top">
					<div class="tab_btn">
						<h3 class="reg_mob color">手机找回密码</h3>
						<h3 class="reg_mail">邮箱找回密码</h3>
					</div>
					<div class="tab_right"><a href="{url:/simple/login}">请登录</a></div>
				</div>


				<div class="conten">
			<!--手机号注册  -->
					<div class="reg_content mobile">
                        <form action="{url:/simple/find_password_mobile}" method="post" id="mobileWay">
							<div>
								<label for="mobile">手机号：</label>
                                <input name="mobile" class="input_text first" type="text" pattern="mobi" alt="请输入正确的手机号" />
							</div>
                            <div class="verfy">
                                <div class="auth_code">
                                    <label for="captcha">验证码：</label>
                                    <input class='input_text text two' type='text' name='captcha' pattern='^\w{5,10}$' alt='填写图片所示的字符'>
                                </div>
                                <div class="box_auth">
                                    <img src='{url:/simple/getCaptcha}' id='captchaImg' onclick="changeCaptcha();">
                                </div>
                            </div>
                            <div class="verfy">
                                <div class="auth_code">
                                    <label for="mobile_code">验证码：</label>
                                    <input class='input_text text two' type='text' name='mobile_code' alt="" pattern='^\w{4,6}$'>
                                </div>
                                <div class="box_auth">
                                    <input class="input_button gain" onclick="sendMessage();" type="button" value="获取验证码">
                                </div>
                            </div>
							
							<div class="mob_btn">
								<input type="submit" value="找回密码">
							</div>
                        </form>
					</div> 

<!-- 邮箱注册 -->
					<div class="reg_content email" style="display:none;">
                        <form action="{url:/simple/find_password_email}" method="post" id="mailWay">
							<div>
								<label for="email">邮箱：</label>
                                <input name="email" class="input_text text four" type="text" pattern="email" alt="请输入正确的邮件地址">
							</div>
                            <div class="verfy">
                                <div class="auth_code">
                                    <label for="captcha">验证码：</label>
                                    <input class='input_text text two' type='text' name='captcha' pattern='^\w{5,10}$' alt='填写图片所示的字符'>
                                </div>
                                <div class="box_auth">
                                    <img src='{url:/simple/getCaptcha}' id='captchaImgEmail' onclick="changeCaptcha(this);">
                                </div>
                            </div>							
							<div class="mob_btn">
								<input type="submit" value="找回密码">
							</div>
                        </form>
					</div>
			<script>
				$(function(){
					var tabmob = $(".tab_btn .reg_mob");
					var tabmail = $(".tab_btn .reg_mail");
					var mob = $(".reg_content.mobile");
					var email = $(".reg_content.email");
                    tabmail.click(function(){
                        tabmail.addClass("color");
                        tabmob.removeClass("color");
                        email.show().find('input').removeAttr('disabled');
                        email.find('img').trigger('click');
                        mob.hide().find('input').attr('disabled', 'disabled');
                    })
                    tabmob.click(function(){
                        tabmail.removeClass("color");
                        tabmob.addClass("color");
                        email.hide().find('input').attr('disabled', 'disabled');
                        mob.show().find('input').removeAttr('disabled');
                        mob.find('img').trigger('click');
                    })
				})
                
                //发送短信码
                function sendMessage(){
                    var username = $('.reg_content.mobile [name="username"]').val();
                    var mobile   = $('.reg_content.mobile [name="mobile"]').val();
                    var captcha   = $('.reg_content.mobile [name="captcha"]').val();
                    $.get("{url:/simple/send_message_mobile}",{"username":username,"mobile":mobile,'captcha':captcha},function(content){
                        if(content == 'success'){
                            alert('发送成功，请查看您的手机');
                        }else{
                            alert(content);
                            return;
                        }
                    });
                }
			</script>
				
					<div class="ad_box">
						<img src="{skin:/image/index/reg_r.png}" alt="">
					</div>
				</form>
				</div>



			</div>
		    <div class="containt"></div>		
	</main>