<title>注册</title>
<style type="text/css">
	html{background: #f9f9f9;}.footer_bot{display: none;}#cnzz_stat_icon_1260508109{display: none;}.indenti_cont {text-align: center;}.indenti_cont p{line-height: 50px;}.indenti_cont p a{color: #6bb946;}
</style>
	<main style="background:#f9f9f9;">	
			<div class="tab_main">
				<div class="reg_top">
					<div class="tab_btn">
						<h3 class="reg_person">完善信息</h3>
						<h4 class="reg_title">亲，欢迎加入耐装网！请耐心完善相关信息，参与我们吧！</h4>
						<img src="{skin:/image/register/upload_title_2.png}">
					</div>
				</div>


				<div class="indenti_cont">
					<h1>认证信息已提交成功！</h1>	
					<p>后台审核需要2-3个工作日，审核通过会发消息通知您！</p>
					<p>接下来随便逛逛吧！<a href="{url:/}">进入首页</a></p>
				</div>


			</div>	
	</main>