<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<link rel="stylesheet" href="../skin/default/style/css/simple/register.css">
<script src="../javascript/jquery_1.6.2.main.js"></script>
<body>
	<header>
		<div class="header">
			<div class="head_main">
				<div class="head_left">
					<div class="logo_img"><a href=""><img src="../skin/default/image/index/logo.png" alt=""></a></div>
					<div class="word_img"><img src="../skin/default/image/index/word.png" alt=""></div>
				</div>
				<div class="head_right">
					<ul>
						<li>客服热线：400-611-6880</li>
						<li><a href="">帮助中心</a></li>
						<li><a href="">首页</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header >
	<main>	
			<div class="tab_reg">
				<div class="reg_top">
					<div class="tab_btn">						
						<h3 class="reg_mail">用户登录</h3>
					</div>
					<div class="tab_right"><a href="">注册新账号</a></div>
				</div>


				<div class="conten">
				<form action="">
			<!--登录  -->
					<div class="reg_content">	
							<div class="user">
								<label for=""><img src="../skin/default/image/index/user.png" alt=""></label><input type="text" name="" id="" class="text" maxlength="20" placeholder="邮箱/手机号">
							</div>
							<div class="pass">
								<label for=""><img src="../skin/default/image/index/pass.png" alt=""></label><input type="text" name="" id="" class="text" maxlength="20" placeholder="********">
							</div>
							<div class="verfy">
								<div class="auth_code">
									<label for="">验证码：</label><input type="text" name="" id="" class="text" maxlength="20" placeholder="请输入验证码">
								</div>
								<div class="box_auth">
									<img src="../skin/default/image/index/getcaptcha.jpg" alt="">
								</div>
							</div>
							
							
							
							<div class="sava_pass">
								<input type="checkbox" name="" id=""><label for="">自动登录</label>
								<a href="">忘记密码？</a>	
								
							</div>	
							<div class="mob_btn">
								<a href="">登录</a>
							</div>
					</div> 
				
					<div class="ad_box">
						<img src="../skin/default/image/index/reg_r.png" alt="">
					</div>
				</form>
				</div>



			</div>
		    <div class="containt"></div>		
	</main>
	<div class="footer_bot">Copyright 2008-2015 vip.com，All Rights Reserved ICP证：粤 B2-20080</div>
</body>
</html>