<title>登录</title>
	<main>	
			<div class="tab_reg">
				<div class="reg_top">
					<div class="tab_btn">						
						<h3 class="reg_mail">用户登录</h3>
					</div>
					<div class="tab_right"><a href="{url:/simple/reg}">注册新账号</a></div>
				</div>


				<div class="conten">
				<form action="{url:/simple/login_act}" method='post'>
                    {if:$this->getError()}
                    <div class="prompt">
                        {echo:$this->getError()}
                    </div>
                    {/if}
			<!--登录  -->
					<div class="reg_content">	
							<div class="user">
								<label for="login_info"><img src="{skin:/image/index/user.png}" alt=""></label>
                                <input class="input_text text" type="text" name="login_info" value="{echo:ICookie::get('loginName');}" pattern='required' alt='邮箱/手机号' />
							</div>
							<div class="pass">
								<label for="password"><img src="{skin:/image/index/pass.png}" alt=""></label>
                                <input class="input_text text" type="password" name="password" pattern='^\S{6,32}$' alt='填写密码' />
							</div>
							<div class="verfy">
								<div class="auth_code">
                                    <label for="captcha">验证码：</label><input type="text" name="captcha" class="text" pattern='^\w{5,10}$' placeholder="请输入验证码">
								</div>
								<div class="box_auth">
									<img src='{url:/simple/getCaptcha}' id='captchaImg' onclick="changeCaptcha();">
								</div>
							</div>
							
							
							
							<div class="sava_pass">
								<input type="checkbox" name="is_auto"><label for="is_auto">自动登录</label>
								<a href="{url:/simple/find_password/}">忘记密码？</a>	
								
							</div>	
							<div class="mob_btn">
								<input type="submit" value="登录"></a>
							</div>
					</div> 
				
					<div class="ad_box">
						<img src="{skin:/image/index/reg_r.png}" alt="">
					</div>
				</form>
				</div>



			</div>
		    <div class="containt"></div>		
	</main>
	