<title>注册</title>
	<main>	
			<div class="tab_main">
				<div class="reg_top">
					<div class="tab_btn">
						<h3 class="reg_person">完善信息</h3>
					</div>
					<div class="tab_right"><a href="{url:/simple/login}">请登录</a></div>
				</div>


				<div class="conten">   
				<!--个人用户  -->
					<div class="reg_content person">
                        
					</div> 


					<script>
						$(function(){
							$(".agreement").click(function(){
								$(this).toggleClass('checked');
							});

						})
					</script>

				
					<div class="ad_box">
						<img src="{skin:/image/index/reg_r.png}" alt="">
					</div>
				</div>



			</div>	
	</main>