<title>注册</title>
	<main style="background:#f9f9f9;">	
			<div class="tab_main">
				<div class="reg_top">
					<div class="tab_btn">
						<h3 class="reg_person">完善信息</h3>
						<h4 class="reg_title">亲，欢迎加入耐装网！请耐心完善相关信息，参与我们吧！</h4>
						<img src="{skin:/image/register/upload_title_1.png}">
						<h5 class="reg_note">温馨提示：1、支持的文件格式是jpg/gif/png/jpeg &nbsp;2、文件大小应该小于100KB &nbsp;3、请不要上传裸体/版权/名誉相关的图片</h5>
					</div>
				</div>


				<div class="conten">
				<!--个人用户  -->
					<div class="reg_content person">
                        
					</div> 


					<script>
						$(function(){
							$(".agreement").click(function(){
								$(this).toggleClass('checked');
							});

						})
					</script>
				
					<div class="ad_box">
						<img src="{skin:/image/index/reg_r.png}" alt="">
					</div>
				</div>



			</div>	
	</main>