<title>重置密码</title>
    <main>    
            <div class="tab_reg">
                <div class="reg_top">
                    <div class="tab_btn">                        
                        <h3 class="reg_mail">忘记密码</h3>
                    </div>
                </div>


                <div class="conten">
                <form action='{$this->formAction}' method='post'>
            <!--登录  -->
                    <div class="reg_content">   
                            <div class="setPass">
                                <label for="password">新密码：</label>
                                <input class="input_text setpas text" type="password" name='password' pattern="^\S{6,32}$" bind='repassword' alt='填写6-32个字符' placeholder="填写6-32个字符">
                            </div>
                            <div class="setPass">
                                <label for="repassword">确认密码：</label>
                                <input class="input_text text" type="password" name='repassword' pattern="^\S{6,32}$" bind='password' alt='重复上面所填写的密码' placeholder="重复上面所填写的密码">
                            </div>
                            <div class="mob_btn">
                                <input type="submit" value="修改密码"></a>
                            </div>
                    </div> 
                
                    <div class="ad_box">
                        <img src="{skin:/image/index/reg_r.png}" alt="">
                    </div>
                </form>
                </div>



            </div>
            <div class="containt"></div>        
    </main>