{js:areaSelect}
<link rel="stylesheet" href="{skin:style/css/seller/seller.css}">
<script src="{theme:javascript/turn_page.js}"></script>

<div style="background:#f6f6f6;padding-bottom:50px;">
<section class="web">
	<div class="screen">
		<ul>
			<li class="color">默认排序</li>
			<li>销量</li>
			<li>信用</li>
		</ul>
	</div>
	<div class="merch_list">
		<ul>
			<li>
				<div class="merch_left">
					<a href=""><img src="{skin:image/seller.png}" alt=""></a>
				</div>
				<div class="merch_right">
					<dl>
						<dt>卓禾家具旗舰店</dt>
						<dd>主营：林业家具</dd>
						<dd>所在地：山西  太原市  小店区（人口含高新经济区）小店区</dd>
						<dd>主营商品：林业家具、电器</dd>
					</dl>
				</div>
				<div class="bottom_word">
					<span>销量898</span>   
					<span>共2719件宝贝</span>
					<p>好评率：99.8%</p>
					
				</div>
			</li>
			<li>
				<div class="merch_left">
					<a href=""><img src="{skin:image/seller.png}" alt=""></a>
				</div>
				<div class="merch_right">
					<dl>
						<dt>卓禾家具旗舰店</dt>
						<dd>主营：林业家具</dd>
						<dd>所在地：山西  太原市  小店区（人口含高新经济区）小店区</dd>
						<dd>主营商品：林业家具、电器</dd>
					</dl>
				</div>
				<div class="bottom_word">
					<span>销量898</span>   
					<span>共2719件宝贝</span>
					<p>好评率：99.8%</p>
					
				</div>
			</li>
		</ul>
	</div>

	<div class="turn_page"> 
             
               <form action="" method="post">
	                <input name="" type="button" id="aaab" value="上一页" />
	                <input class="turn_red ye" name="" type="button" value="1" />
	                <input class="ye" name="" type="button" value="2" />
	                <input class="ye" name="" type="button" value="3" />
	                <input name="" type="button"  id="aaaa" value="下一页" />
	                <span>共<i>1</i>页，</span><span>到第<input class="turu_white" name="" type="text" value="1" size="1" maxlength="" id="aaac" />页</span>
	                <input class="turu_white" name="" type="button" id="aaad" value="确定" />
                </form>
               
    </div> 
            

</section>
</div>



