<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>耐装网商户注册须知</title>
    <style type="text/css">
        .main{width: 900px; margin: 0 auto;font-family: tahoma,Helvetica, Arial,"\5FAE\8F6F\96C5\9ED1"; *font-family: "\5FAE\8F6F\96C5\9ED1";}
        p{color: #555;line-height: 25px;}
    </style
    
</head>
<body>
<div class="main">
    <p style="text-align:center;">
        <b>商家注册协议</b>
    </p>
    <p>
        <b>【特别提示】</b>1.在使用耐装网（<a href="http://www.nz826.com"><u>www.nz826.com</u></a>）服务之前，您应当认真阅读并遵守《耐装网服务协议》（以下简称“本协议”），请您务必审慎阅读、充分理解各条款内容，特别是应当重点阅读免除或限制责任的条款、争议解决和法律适用等重要条款，该等条款可能以加粗字体显示。如您对协议有任何疑问，请向耐装网客服咨询。
    </p>
    <p>
        2.如您不同意本协议，请不要注册或使用耐装网服务；您一旦进入注册流程并勾选“我同意”，当您按照注册页面提示填写信息、阅读并同意本协议且完成注册程序后，即表示您已充分阅读、理解并同意本协议的全部内容，包括对协议条款所做的任何修改，并自愿成为耐装网的用户（以下称“用户”）。本协议即构成您与耐装网之间有约束力的法律文件。
    </p>
    <p>
        <b>一、协议范围</b>
    </p>
    <p>
        1、本协议由您与耐装网的经营者共同缔结，本协议具有合同效力。有关耐装网平台经营者的信息请查看耐装网首页底部公布的公司信息和证照信息。
    </p>
    <p>
        2、除另行声明外，耐装网提供的所有服务均受本协议约束。如果您不同意本协议的约定，您应立即停止注册或停止使用耐装网平台服务。
    </p>
    <p>
        3、本协议内容包括协议正文、《耐装网交易规则》及耐装网已经发布或将来可能发布的各类规则、公告或通知（以下合称“规则”）。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。
    </p>
    <p>
        4、耐装网有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行变更公告，无需另行单独通知您。变更后的协议和规则一经在网站公布后，立即或在公告明确的特定时间自动生效。若您在前述变更公告后继续使用耐装网平台服务的，即表示您一经阅读、理解并接受经修订的协议和规则。若您不同意相关变更，应当立即停止使用耐装网平台服务。
    </p>
    <p>
        <b>二、商家账户与入驻</b>
    </p>
    <p>
        1、主体资格
    </p>
    <p>
        您确认，在您完成注册程序或以其他耐装网允许的方式实际使用耐装网平台服务时，您应当是在中华人民共和国境内合法登记成立并有效存续的法人或其他组织，或者具有完全民事权利能力和完全民事行为能力的中国公民，并且您应当具备与耐装网交易品种相关的行业背景。若您不具备前述主体资格，则您应承担因此而导致的一切后果，且耐装网有权注销或永久冻结您的账户，并向您索偿相应损失。
    </p>
    <p>
        2、商家入驻
    </p>
    <p>
        2.1、申请入驻的商家应具备提供满足平台要求以及行业标准的产品和服务的能力。耐装网有权根据（包括但不仅限于）商家经营品牌的具体情况、公司经营状况、产品质量、服务水平、诚信程度等其他因素退回商家申请。
    </p>
    <p>
        2.2、申请入驻的商家应按照耐装网要求提供必要的企业信息及资质材料，包括但不限于企业营业执照、组织机构代码证、税务登记证、商标注册证、品牌授权证明等。耐装网对商家提交信息和资料进行审核，如因商家提交的资料不符合要求，耐装网有权拒绝商家的入驻申请。申请入驻的商家须如实提供并确保企业信息及资质材料的真实性，若存在虚假或隐瞒真实情况的，耐装网有权终止合作，由此而引起的相关损失及费用由商家自行承担，商家同时应承担违约责任，赔偿耐装网一切损失。
    </p>
    <p>
        2.3、耐装网将结合行业发展、国家规定及用户需求不定期更新标准，耐装网有权在商家申请入驻及后续经营阶段要求商家提供其他资质。在商家经营过程中，耐装网将对商家的商品和服务进行监督，有权对商家不符合平台要求或者违规行为进行管理及处罚，情节严重的扣除保证金，关店终止合作，由此而引起的相关损失及费用由商家自行承担。
    </p>
    <p>
        2.4、商家应认真遵守诚信经营原则，遵守法律法规，并履行与耐装网签订的各项协议。
    </p>
    <p>
        2.5、申请入驻流程
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;商家入驻流程具体详见帮助中心流程说明。
    </p>
    <p>
        2.6、服务资费
    </p>
    <p>
        2.6.1会员服务费
    </p>
    <p>
        耐装网实行商家会员制服务，商家与耐装网签署相关协议成为耐装网会员方可入驻耐装网平台，耐装网会费分为四档：基础会员、黄金会员、钻石会员、私董会会员。会费按年度收取，如商家主动要求停止店铺服务或因违规行为或资质造假被清退的不予返还；会费依据相应的服务期计算并缴纳。
    </p>
    <p>
        申请开店须注册成为基础会员，缴纳770元（会费）作为年度店铺使用费，使用权限为一年，到期需续租。
    </p>
    <p>
        会费详情及服务请询耐装网运营经理。
    </p>
    <p>
        2.6.2技术服务费
    </p>
    <p>
        耐商家可与耐装网签约，委托装网提供如店面装修、商品上架、发布广告、广告制作、营销策划等增资服务缴纳的费用。技术服务费详情请询耐装网运营经理。
    </p>
    <p>
        <b>三、商家注册与经营</b>
    </p>
    <p>
        1、用户应当严格遵守耐装网设置的注册流程完成注册并遵守《商户注册协议》。
    </p>
    <p>
        2、&nbsp;商家遵守耐装网平台标准并有效签署《商户注册协议》等服务/合作协议，达到协议约定的开通服务条件。
    </p>
    <p>
        3、商家及其销售的商品或提供的服务须具备相应资质。
    </p>
    <p>
        4、商家命名规则
    </p>
    <p>
        4.1耐装网商家ID及域名由耐装网系统自动生成，无法人为修改。
    </p>
    <p>
        4.2商家申请商家名信息时，应遵守国家法律法规，不得包含违法或涉嫌侵犯他人权利等相关信息。
    </p>
    <p>
        4.3商家名不得与已经开通的商家名称重复，未通过审批的商家需更换其他商家名称重新提交申请。<br />
4.4商家名称审批通过后无法修改，但商家资质不符合本规则约定或存在侵权情形除外。
    </p>
    <p>
        5商家名称命名通用形式（参考）
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以品牌名+商品类目+专营店”的形式命名，如泰祺鸿（品牌名）+壁布（商品类目）+专营店。
    </p>
    <p>
        6、商家名称及商品(服务)不得含有以下内容：<br />
6.1有损于国家和社会公共利益、有消极政治影响；有损民族尊严、含有民族歧视内容；<br />
6.2可能对公众造成欺骗或者误解，或引起社会不良心理反应；<br />
6.3政党名称、国家机关名称、社会团体名称，外国国家（地区）名称、国际组织名称；<br />
6.4侵犯他人知识产权或未经当事主体授权，使用品牌名称、明星或知名人士姓名；或国家领导人、老一辈革命家的名字；<br />
6.5有不文明、格调低级、庸俗等不雅词汇；<br />
6.6协议约定经营范围以外或与经营主体无关；含有除耐装网以外的电子商务平台信息；<br />
6.7违法、违规信息或法律、行政法规规定禁止的。
    </p>
    <p>
        7、在考核年度内，若商家出现严重违规等情形，耐装网有权清退该商家并关闭其网上商家。
    </p>
    <p>
        8、商家商品(服务)
    </p>
    <p>
        8.1商家经营的商品(服务)须具有国家行政管理机关颁发的注册商标证书、国家指定质量检测部门出具的质量认证证书、检验报告及提供自生产厂家至商家的连续正规的商品网络销售授权，三无商品及假冒伪劣商品严禁在商家中售卖。&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p>
        8.2商品(服务)信息包含商品(服务)基本信息（标题、价格、版本等）、商品(服务)简介、规格参数、商品主图。商家须保证录入的信息完整，且需与商品(服务)的实际属性一致。
    </p>
    <p>
        &nbsp;8.3商品(服务)标题样式
    </p>
    <p>
        中文品牌（英文品牌）+商品名称（型号）+（与商品相关的非关键属性）+规格+（商品货号）。括号内为选填内容，中文品牌、商品名称为必填信息。
    </p>
    <p>
        8.4耐装网商品(服务)分类管理
    </p>
    <p>
        商品须按耐装网平台分类目录进行分类上线，耐装网平台分商品按二级类目分类，商家可依照商品属性归类。耐装网商品(服务)分类如下：
    </p>
    <table>
        <tbody>
            <tr>
                <td width="490" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        一级类目
                    </p>
                </td>
                <td width="490" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        二级类目
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="center" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        装修设计施工
                    </p>
                </td>
                <td style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        装修公司
                    </p>
                    <p align="center" style="text-align:center;">
                        设计师联盟
                    </p>
                    <p align="center" style="text-align:center;">
                        效果图库
                    </p>
                    <p align="center" style="text-align:center;">
                        VR体验
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="center" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        基础建材
                    </p>
                </td>
                <td style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        基础工程
                    </p>
                    <p align="center" style="text-align:center;">
                        管材管件
                    </p>
                    <p align="center" style="text-align:center;">
                        电工电料
                    </p>
                    <p align="center" style="text-align:center;">
                        五金工具
                    </p>
                    <p align="center" style="text-align:center;">
                        装修板材
                    </p>
                    <p align="center" style="text-align:center;">
                        油漆涂料
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="center" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        瓷石地板
                    </p>
                </td>
                <td style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        瓷砖
                    </p>
                    <p align="center" style="text-align:center;">
                        石材
                    </p>
                    <p align="center" style="text-align:center;">
                        地板
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="center" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        门窗
                    </p>
                </td>
                <td style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        门
                    </p>
                    <p align="center" style="text-align:center;">
                        窗
                    </p>
                    <p align="center" style="text-align:center;">
                        阳光房
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="center" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        橱柜卫浴
                    </p>
                </td>
                <td style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        橱柜
                    </p>
                    <p align="center" style="text-align:center;">
                        卫浴
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="center" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        家具电器
                    </p>
                </td>
                <td style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        家具
                    </p>
                    <p align="center" style="text-align:center;">
                        电器
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="center" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        软装家饰
                    </p>
                </td>
                <td style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        花艺花瓶
                    </p>
                    <p align="center" style="text-align:center;">
                        地毯地垫
                    </p>
                    <p align="center" style="text-align:center;">
                        布艺刺绣
                    </p>
                    <p align="center" style="text-align:center;">
                        字画墙贴
                    </p>
                    <p align="center" style="text-align:center;">
                        摆件
                    </p>
                    <p align="center" style="text-align:center;">
                        节庆饰品
                    </p>
                    <p align="center" style="text-align:center;">
                        创意家居
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="center" style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        工装大全
                    </p>
                </td>
                <td style="border:1px solid black;">
                    <p align="center" style="text-align:center;">
                        &nbsp;
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        &nbsp;
    </p>
    <p>
        8.5商品(服务)介绍样式
    </p>
    <p>
        商品(服务)介绍应用文字、图片或视频等图文并茂形式，文字、图片或视频须清晰明了，应保证图片或视频正常显示，不得盗用他人品牌或图片填充详情内容。
    </p>
    <p>
        &nbsp;8.6商品(服务)价格
    </p>
    <p>
        商家上传商品(服务)信息及价格至耐装网产品审核部门，耐装网确定平台价格并通知商家，此价格即为该商品(服务)在耐装网平台销售时的价格，是该商品(服务)做折扣或直降前的基础价格。如商家因价格输入失误而发生的损失由商家自行承担解决，耐装网保留由此给平台带来负面影响的处置权利。
    </p>
    <p>
        8.7商家如发现商品(服务)缺陷，应立即向有关行政部门报告和告知用户，并采取停止销售、警示、召回、无害化处理、销毁、停止生产或者服务等措施。因此产生的费用由商家承担。如商家未能及时采取上述措施，因此引起的相关费用由商家自行承担，同时赔偿耐装网的一切损失，耐装网保留由此给平台带来负面影响的处置权利。<u></u>
    </p>
    <p>
        9、商家广告
    </p>
    <p>
        9.1广告应符合《广告法》及其他法律法规。真实、合法、符合精神文明建设的要求。
    </p>
    <p>
        9.2广告应符合中国加入的国际公约要求、不得违反国际通行惯例和道德准则的。
    </p>
    <p>
        9.3广告应具有可识别性，能够使用户明确辨明为广告，广告阐述应当清楚、明白，不得使用户产生误解，不得使用使用绝对化的语言。使用数据、统计资料、调查结果、文摘、引用语，应当真实、准确，并表明出处。
    </p>
    <p>
        9.4广告中提示设计专利产品或者专利方法的，应当标明有效的专利号和专利种类。
    </p>
    <p>
        9.5表明推销促销商品、提供服务附带赠送礼品的，应当标明赠送的品种、数量、期限。
    </p>
    <p>
        9.6不得发布含有评比活动、获奖内容，内容（经国家行政机关批准的评比活动除外）。
    </p>
    <p>
        9.7不得出现比较广告、事例广告。
    </p>
    <p>
        10、商家经营
    </p>
    <p>
        10.1 “商品如实描述”及对其所售商品/服务质量承担保证责任是商家的基本义务。“商品如实描述”是指商家在商家页面、商品页面、促销页面等耐装网平台提供的所有渠道中，对商品的基本属性、瑕疵等必须说明的信息进行真实、完整的描述。
    </p>
    <p>
        10.2商家应保证其出售的商品在合理期限内可以正常使用，提供的服务符合承诺标准，包括商品不存在危及人身安全的不合理危险、具备商品应当具备的使用性能、符合商品或其包装上注明采用的标准、符合提供服务时承诺的标准，且承诺标准不低于国家/行业标准等。
    </p>
    <p>
        10.3商家应配备专门的客服团队（人员）处理来自耐装网买家的问题，包括但不限于商品的咨询、配送、售后、投诉等内容。
    </p>
    <p>
        10.4所有商家均有义务为用户开具国家税务局批准监制印制的通用机打发票、电子版发票（普通发票）或增值税专用发票。发票原则上要求随商品寄出，放入包裹内明显位置，如发票短缺，须在发货前告知用户具体补寄时间并得到用户认可。对于用户投诉错、漏发票，商家在接到投诉后三日内补寄，并提供快递信息给用户，补寄发票产生的快递费用由商家承担。
    </p>
    <p>
        10.5商家不得泄露耐装网的商业机密及未公开信息。
    </p>
    <p>
        10.6耐装网实施“7日无理由退换货”规则。如商家无明确公示，即视为执行此规则。
    </p>
    <p>
        10.7商家须按照耐装网系统设置的交易流程进行交易。
    </p>
    <p>
        10.8如商家商家关闭，耐装网将按照约定及规则办理商家关闭手续。
    </p>
    <p>
        11、市场管理措施
    </p>
    <p>
        11.1耐装网鼓励商家积极提升自身经营水平，提供更优质的商品及服务，对综合表现优秀的商家给予奖励、扶持，对违规商家给与处罚。耐装网将实行商家积分管理，根据商家经营行为做加减积分处理，具体办法由耐装网公布。
    </p>
    <p>
        11.2市场管理处罚措施包括
    </p>
    <p>
        警告：指耐装网通过口头或书面的形式对商家的不当行为进行提醒和告诫。
    </p>
    <p>
        下架：指将商家在售商品/服务做暂停销售处理。
    </p>
    <p>
        限制参加营销活动：指限制商家参加耐装网官方发起的营销活动。
    </p>
    <p>
        单个商品搜索降权：指调整商品在搜索结果里的排序。
    </p>
    <p>
        全店商品搜索降权：指调整商家商家内所有商品在搜索结果里的排序。
    </p>
    <p>
        商家屏蔽：指在搜索、导航、营销等各项服务中对商家商家及商品等信息进行屏蔽。
    </p>
    <p>
        支付违约金：指根据协议约定或本规则规定由商家向买家和（或）耐装网支付的违约金。
    </p>
    <p>
        关闭商家：指删除商家的商家，并禁止创建商家。
    </p>
    <p>
        查封账户：指永久禁止商家使用违规账户登录耐装网、登录商家后台管理系统。
    </p>
    <p>
        11.3新闻媒体曝光或国家质监部门通报的质量不合格的品牌、品类或批次的商品及信息，耐装网将对商家在售的相关商品及信息进行临时性下架或删除处理。
    </p>
    <p>
        11.4针对耐装网市场管理行为，商家可在处理之时起十日内，通过耐装网平台客服提交违规申诉申请，商家提交申诉资料后由耐装网平台客服核实处理。
    </p>
    <p>
        <b>四、特别授权</b>
    </p>
    <p>
        您完全理解并不可撤销地授予耐装网下列权利：
    </p>
    <p>
        1、一旦您同意本协议，则耐装网有权立即按您的承诺或协议约定的方式对您的账户采取限制措施，包括中止或终止向您提供服务。您了解并同意，耐装网无须就此限制措施或公示行为向您承担任何的责任。
    </p>
    <p>
        2、一旦您违反本协议，或与耐装网签订的其他协议的约定，耐装网有权以任何方式通知结算银行，要求其对您的权益采取限制措施，包括但不限于要求结算银行将您资金账户内的款项支付给耐装网指定的对象，要求结算银行中止、终止对您提供部分或全部服务，且在其经营或实际控制的任何网站公示您的违约情况。
    </p>
    <p>
        <b>五、责任范围和责任限制</b>
    </p>
    <p>
        1、耐装网负责按“现状”和“可得到”的状态向您提供耐装网平台服务。耐装网对平台服务不作任何明示或暗示的保证，包括但不限于耐装网平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，耐装网也不对平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。
    </p>
    <p>
        2、您应当了解耐装网平台上的信息系用户自行发布，且可能存在风险和瑕疵。耐装网仅作为交易平台。耐装网仅作为您销售商品或服务信息、物色交易对象、就耐耐商品和/或服务的交易进行协商及开展交易的场所，但耐装网无法控制交易各方履行其在贸易协议中各项义务的能力。耐装网不构成对用户进行交易的任何指引或误导。
    </p>
    <p>
        4、您了解并同意，耐装网不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿；使用或未使用耐装网平台服务。第三方未经批准使用您的账户或更改您的数据。您对耐装网平台服务的误解。任何非因耐装网的原因而引起的与耐装网平台服务有关的其他损失。
    </p>
    <p>
        5、不论在何种情况下，耐装网均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，黑客攻击，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。
    </p>
    <p>
        <b>七、协议终止</b>
    </p>
    <p>
        1、耐装网有权依据法律规定、本协议约定、以及耐装网相关规则的规定，中止、终止向您提供部分或全部耐装网平台服务，暂时冻结或永久冻结（注销）您的账户在耐装网的权限，直至终止本协议，且无须为此向您或任何第三方承担任何责任。
    </p>
    <p>
        2、您的账户服务被终止后，耐装网没有义务向您或第三方转发任何您未曾阅读或发送过的信息。您在使用耐装网平台服务期间存在违法行为或违反本协议和/或规则的行为的，耐装网平台经营者仍可依据本协议向您主张权利。
    </p>
    <p>
        4、耐装网终止向您提供平台服务后，对于您在服务终止之前的交易行为依下列原则处理，您应独立处理并完全承担进行以下处理所产生的任何争议、损失或增加的任何费用，并应确保耐装网免于因此产生任何损失或承担任何费用：您在服务终止之前已经上传至平台的商品尚未交易的，耐装网有权在您终止服务的同时删除此项商品或服务的相关信息；您在服务终止之前已经与其他用户达成买卖合同，但合同尚未实际履行的，耐装网有权删除该买卖合同及其交易商品的相关信息；您在服务终止之前已经与其他用户达成买卖合同且已部分履行的，耐装网可以不删除该项交易，但耐装网有权在终止服务的同时将相关情形通知您的交易对方。
    </p>
    <p>
        <b>八、隐私政策</b>
    </p>
    <p>
        耐装网将在平台公布并不定时修订隐私权政策，隐私权政策构成本协议的有效组成部分。
    </p>
    <p>
        九、法律适用、管辖与其他
    </p>
    <p>
        1、本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及/或行业惯例。
    </p>
    <p>
        2、因本协议产生之争议，双方应当协商解决。协商不成，双方约定将争议提交上海仲裁委员会按其当时有效的仲裁规则进行仲裁，仲裁实行一裁终局制，仲裁裁决一经仲裁庭作出即发生法律效力。
    </p>
    <p>
        3、本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。
    </p>
</div>
</body>
</html>