<style type="text/css">
    body{
        background: #fff;
    }
</style>
<link rel="stylesheet" href="{skin:style/bases.css}">
{set:$queryAccountLogList = Api::run('getUcenterAccoutLog',$this->user['user_id'])}
{set:$logList = $queryAccountLogList->find()}
<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2>提现记录</h2>
        
    </div>
</header>


<script>
$(function(){
    // 隐藏底部导航
    hideNav();
})
</script>

<script type="text/javascript">  
  
// $(document).ready(function() {  
  
//     //Default Action  
//     $(".tab_content").hide(); //Hide all content  
//     $("ul.tabs li:first").addClass("active").show(); //Activate first tab  
//     $(".tab_content:first").show(); //Show first tab content  
      
//     //On Click Event  
//     $("ul.tabs li").click(function() {  
//         $("ul.tabs li").removeClass("active"); //Remove any "active" class  
//         $(this).addClass("active"); //Add "active" class to selected tab  
//         $(".tab_content").hide(); //Hide all tab content  
//         var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content  
//         $(activeTab).fadeIn(); //Fade in the active content  
//         return false;  
//     });  
  
// });  

$(document).ready(function() {  
    $("#pas_xq,#pas_qd,#type_close").click(function(){ 
        var mask=$(".mask");
        var w_paswd=$(".w_paswd");
        w_paswd.animate({bottom: '-2.7rem'},"slow");
        mask.fadeOut(300);
    });
  //打开支付密码
    $("#del_but").click(function(){
      var w_paswd=$(".w_paswd")
      var mask=$(".mask");
      w_paswd.animate({bottom: '0rem'},"slow");
      mask.fadeIn(300);
    })

}); 
</script>  




<div class="container">        
     
    <div class="tab_container">  
         
          
        <div id="tab4" class="tab_content" style="display: block; ">  
            <div class="content_list">
            
            <div class="checked_on">                
                <ul>
                    <li class="time">收款人姓名</li>
                    <li><input type="text" placeholder="请输入收款人姓名"></li>
                </ul>
                <ul>
                    <li class="time">提现金额</li>
                    <li><input type="text" placeholder="请输入提现金额"></li>
                </ul>
                <ul>
                    <li class="time">开户银行</li>
                    <li><input type="text" placeholder="请输入开户银行"></li>
                </ul>
                <ul>
                    <li class="time">持卡人姓名</li>
                    <li><input type="text" placeholder="请输入持卡人姓名"></li>
                </ul>
                <ul>
                    <li class="time">收款人账号</li>
                    <li><input type="text" placeholder="请输入账号"></li>
                </ul>
                <ul>
                    <li class="time">银行账户</li>
                    <li><input type="text" placeholder="请输入银行账户"></li>
                </ul>
                <ul>
                    <li class="time">备注说明</li>
                    <li><input type="text" placeholder="请输入备注说明"></li>
                </ul>
            </div>
            <button class="del_but" id="del_but">申请提现</button>
                    <div class="clear"></div>
            </div>
        </div>  
    </div>  
  
</div> 

<div class="mask" id="mask"></div>
<!-- 支付密码 strat-->
<div class="w_paswd">
    <div class="ps_title">
        <div class="close" id="type_close"></div>
        <span><strong>请输入支付密码</strong></span>
    </div>
    <div class="passwd_cont ">
        <form>
            <div class="pass clear">
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/> 
            </div>   
            <div class="pas_but clear">
                <button class="pas_qr" id="pas_qd">确定</button>
                <button class="pas_qx" id="pas_xq">取消</button>
            </div>

        </form>
    </div>
</div>
<!-- 支付密码 end-->