<style type="text/css">
    body{
        background: #fff;
    }
</style>
{set:$queryAccountLogList = Api::run('getUcenterAccoutLog',$this->user['user_id'])}
{set:$logList = $queryAccountLogList->find()}
<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2>账单明细</h2>
    </div>
</header>
<script>
$(function(){
    // 隐藏底部导航
    hideNav();
})
</script>
<div class="container">  
      
    <ul class="tabs">  
        <li class="active"><a >交易记录</a></li>  
        <li><a href="{url:ucenter/withdraw_list}">提现记录</a></li>  
    </ul>  
    <div class="tab_container"> 
        {if:$logList}
        <div id="tab1" class="tab_content" style="display: block; "> 
            {foreach:items = $logList}
            <div class="content_list">
               
                <div class="checked_on">
                    <ul>
                        <li>{$item['note']}</li>
                        <li>{echo:$item['amount'] > 0 ?  '+'.$item['amount'] : $item['amount']}</li>
                    </ul>
                    <ul>
                        <li class="time">{$item['time']}</li>
                        <li class="time">{$item['amount_log']}</li>
                    </ul>
                </div>           
                    <div class="clear"></div>     
            </div>  
            {/foreach}
        </div>  
          
        {$queryAccountLogList->getPageBar()}  
        {else:}
        <div style="text-align: center;font-size: 0.15rem;padding: 0.4rem 0;">暂时没有帐户变动记录<div>
        {/if}
         
    </div>  
  
</div> 