<link rel="stylesheet" href="{skin:style/bases.css}">
<header class="header_login">
	<div class="header_title">
		<a class="return_a"onclick="window.history.back();"></a>
		<h2>退款/售后</h2>
	</div>
</header>
<section class="refunds_top">
	<ul>
		<li><a href="{url:ucenter/refunds}" >退货申请</a></li>
		<li><a href="javascript:;" class="on">换货申请</a></li>
	</ul>
</section>
{set:$queryRefundmentDocList = Api::run('getRefundmentDocList',$this->user['user_id'],2);$data = $queryRefundmentDocList->find();}
{if:$data}
<section class="refunds_list">
    {foreach:items = $data}
	<div class="refunds_infor">
		<a href="{url:/ucenter/refunds_detail/id/$item[id]}">
			<div class="infor_div">
				<span>订单号：{$item['order_no']}</span>
			</div>
			<div class="infor_div">
				<span>处理状态：<em>{echo:Order_Class::refundmentText($item['pay_status'],2)}</em></span>
			</div>
		</a>
		<div class="infor_div">
			<span class="infor_date">{$item['time']}</span>
            {if:$item['pay_status']==0}
            <label class="infor_qx"><input type="button" onclick='delModel({link:"{url:/ucenter/refunds_del/id/$item[id]}"})'/>取消</label>
            {else:}
            <label class="infor_del"><input type="button" onclick='delModel({link:"{url:/ucenter/refunds_del/id/$item[id]}"})'/>删除</label>
            {/if}
		</div>
	</div>
    {/foreach}
</section>
{else:}	
<section class="nodata">
	您当前没有换货信息
</section>
{/if}

<script>
//DOM加载完毕
$(function(){
	// 隐藏底部导航
	hideNav();
})
</script>
