<script src="{theme:javascript/style.js}"></script>
<header class="header_login">
	<div class="header_title">
		<a class="return_a"onclick="window.history.back();"></a>
		<h2>我的足迹</h2>
		<a class="a_gd"></a>
        <div class="s_nav">
        	<div class="c-tip-arrow" style="left: 30px;"><em></em><ins></ins></div>
            <ul>
                <li><a href="{url:/}"><i class="icon-home">首页</i></a></li>
                <li><a href="{url:/ucenter/message}">
                {if:$this->user}
                {set:$msgObj = new Mess($this->user['user_id'],$this->user['type']);$msgNum = $msgObj->needReadNum();}
                {else:}
                {set:$msgNum = 0;}
                {/if}
                {if:$msgNum > 0}
                <i class="icon-comments-alt">消息</i>
                {else:}
                <i class="icon-comment-alt">消息</i>
                {/if}
                </a></li>
            </ul>
        </div>
	</div>
</header>
{set:$historyObj = Api::run('getHistory',$this->user['user_id'])}
{if:$historyObj}
<section class="goods_list">
	<ul>
		{foreach:items=$historyObj->find()}
		<li>
            <div class="clear">
                <a href="{url:/site/products/id/$item['goods_id']}">
                <i class="photo">
                <img class="goods_photo" src="{url:/pic/thumb/img/$item[img]/w/140/h/140}" alt="{$item['name']}">
                {if:goods_class::getSellerPay($item['seller_id'])}
                <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                {/if}
                </i>
                <div class="name_price">
                    <h3 class="name"><strong>{$item['name']}</strong></h3>
                    
                    <em class="price">￥{$item['sell_price']}</em>
                    <span class="xl del_icon" onclick="delModel({link:'{url:/ucenter/history_del/id/$item[goods_id]}',msg:'确定删除浏览记录？'});">删除</span>
                </div></a>
            </div>                
        </li>
		<!-- <li>
			<a href="{url:/site/products/id/$item['goods_id']}">
				<i class="photo">
					<img class="goods_photo" src="{url:/pic/thumb/img/$item[img]/w/140/h/140}" alt="{$item['name']}">
				</i>
				<h3 class="name"><strong>{$item['name']}</strong></h3>
			</a>
			<del class="del" onclick="delModel({link:'{url:/ucenter/favorite_del/id/$item[id]}',msg:'是否取消收藏？'});">
				取消收藏
			</del>
		</li> -->
		{/foreach}
	</ul>
    {$historyObj->getPageBar()}
</section>
{else:}
<section class="nodata">您还没有查看任何宝贝呢!</section>
{/if}

<script>
$(function(){
	// 隐藏底部导航
	hideNav();
})
</script>
