<div id="pageInfo" data-title="个人中心"></div>

<header>
    <div class="user_main_info">
        {set:$user_ico = $this->user['head_ico']}
        <img src="{if:$user_ico}{webroot:$user_ico}{else:}{skin:image/user_ico.png}{/if}" class="user_ico">
        
        <!--   未登录时显示此内容 
        <a href="" class="button">登录</a>
        <a href="" class="button" style="margin-left:0.2rem;">立即注册</a> -->
        
        <!-- 已登录时显示此内容与账户余额 -->
        <span class="user_name">{$this->user['username']}</span>
        <a class="header_so_btn" href="{url:ucenter/message}">
        {if:$msgNum > 0}
        <i class="icon-comments-alt"></i>
        {else:}
        <i class="icon-comment-alt"></i>
        {/if}
        </a>
    </div>
    <div class="info">账户余额<span>￥{$user['balance']}</span></div>
</header>
<!-- <section class="user_main_info">
    <ol>
        <li>积分：<em>{$user['point']}</em></li>
        <li>代金券：<em>{$propData['prop_num']} 张</em></li>
    </ol>
</section>
{set:$icoConfig = array(
    "我的订单"   => "icon-pencil",
    "我的积分"   => "icon-github-alt",
    "我的代金券" => "icon-tag",
    "退款申请"   => "icon-file",
    "站点建议"   => "icon-book",
    "商品咨询"   => "icon-comment",
    "商品评价"   => "icon-thumbs-up",
    "短信息"     => "icon-file",
    "收藏夹"     => "icon-flag",
    "帐户余额"   => "icon-jpy",
    "在线充值"   => "icon-money",
    "地址管理"   => "icon-map-marker",
    "个人资料"   => "icon-file-alt",
    "修改密码"   => "icon-lock",
)} -->
<nav class="user_main_nav">
    <div class="user_order">
        <span class="title">我的订单</span>
        <span class="more"><a href="{url:ucenter/order}">查看全部订单</a></span>
    </div>
    <!-- <h3>
        <i class="icon-user"></i>
        个人中心
    </h3> -->
    <ul>
        <li class="order_oper"><a href="{url:ucenter/order/_s/1}"><img src="{url:views/mobile/skin/default/image/top/ucenter_02.png}"></a></li>
        <li class="order_oper"><a href="{url:ucenter/order/_s/2}"><img src="{url:views/mobile/skin/default/image/top/ucenter_03.png}"></a></li>
        <li class="order_oper"><a href="{url:ucenter/order/_s/3}"><img src="{url:views/mobile/skin/default/image/top/ucenter_04.png}"></a></li>
        <li class="order_oper"><a href="{url:ucenter/order/_s/4}"><img src="{url:views/mobile/skin/default/image/top/ucenter_05.png}"></a></li>
        <li class="order_oper"><a href="{url:ucenter/refunds}"><img src="{url:views/mobile/skin/default/image/top/ucenter_06.png}"></a></li>
    </ul>
    <ul>
        <li class="ucenter_oper"><a href="{url:ucenter/account_log}"><img src="{url:views/mobile/skin/default/image/top/ucenter_08.png}"></a></li>
        <li class="ucenter_oper"><a href="{url:ucenter/favorite}"><img src="{url:views/mobile/skin/default/image/top/ucenter_10.png}"></a></li>
        <li class="ucenter_oper" style="border-right:none;"><a href="{url:ucenter/setup_list}"><img src="{url:views/mobile/skin/default/image/top/ucenter_12.png}"></a></li>
        <li class="ucenter_oper"><a href="{url:site/help_index}"><img src="{url:views/mobile/skin/default/image/top/ucenter_16.png}"></a></li>
        <li class="ucenter_oper"><a href="{url:ucenter/history}"><img src="{url:views/mobile/skin/default/image/top/ucenter_17.png}"></a></li>
        <li class="ucenter_oper" style="border-right:none;"><a href="{url:ucenter/message}"><img src="{url:views/mobile/skin/default/image/top/ucenter_18.png}"></a></li>
    </ul>
</nav><!-- 
<a href="{url:/simple/logout}" class="home_main_logout">退出登录</a> -->

<script>
$(function() {
    // 设置首页导航为当前
    $(".nav_user").addClass('on');
})


</script>
