{js:artTemplate} {js:areaSelect} {js:my97date}
<div id="pageInfo" data-title="个人资料"></div>


				<!-- <li>
					<span class="input_item">所在地区</span>
					<select name="province" child="city,area"class="input_select f3"></select>
					<select name="city" child="area" class="input_select f3"></select>
					<select name="area" class="input_select f3"></select>
				</li> -->
			


<style type="text/css">
    body{
        background: #fff;
    }
    .main_head .sear_t a{
    	width: 100%;
    }
    .chk_1 + label{
    	color: #666;
    }
	.help_bar .set_list ul li span{
	    width: auto;display: inline-block;
	    text-align: left;
	}
	.help_bar .set_list ul li label{
	    text-align: left;padding-left: 0.2rem;
	}
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="">个人信息设置</a>
        </div>
        <a class="qx_a" href="{url:ucenter/info}">完成</a>
   </div>
</header>

<section class="help_bar">
	<div class="set_list">
		<form action='{url:/ucenter/info_edit_act}' name='user_info' method="POST" role="form">
		<input type="hidden" name='callback' value="{$callback}" />
			<ul>
				<li class="upfilebox">
					<input accept="image/*" type="file"><img src="{url:views/mobile/skin/default/image/user_ico.png}" class="user_ico"><span class="user_name">{$this->user['username']}</span><i class="icon-more"></i>
				</li>
				<li>
					<input type="text" name="true_name" class="input_text" placeholder="请输入昵称"></li>
	                                  <li class="choice">
	                                  		<span>性别</span>
	                                  		<label class="radio">男<input type="radio" name="sex" value="1" ><i></i></label>  
    					<label class="radio">女<input type="radio" name="sex" value="2" checked><i></i></label>  
	                                  </li>
	                                  <li>	                                  		
					<input type="text" name="birthday" class="input_text" pattern='date' onFocus="WdatePicker()" placeholder="请输入出生日期"/>
	                                  </li>
	                                  <li>	                                  		
					<input type="text" name="telephone" class="input_text" value="" pattern="" placeholder="请输入固定电话"/>
	                                  </li>
	                                  <li>	                                  		
					<input type="text" name="qq" class="input_text" value="" pattern="" placeholder="请输入QQ号"/>
	                                  </li>
	                                  <li>	                                  		
					<input type="text" name="zip" class="input_text" value="" pattern="" placeholder="请输入邮编"/>
	                                  </li>
	                                  <li>	                                  		
					<input type="text" name="？？？" class="input_text" value="" pattern="" placeholder="请输入装修风格"/>
	                                  </li>
	                                  <li>	                                  		
					<input type="text" name="contact_addr" class="input_text" value="" pattern="" placeholder="请输入详细地址"/>
	                                  </li>
				
					<section class="input_li">
					        <input type="submit" class="input_submit" value="保存">
					    </section>
				
			</ul>
		</form>
	</div>
</section>
    


<script>
//DOM加载完毕
$(function(){
	// 内页隐藏页底导航
	hideNav();
	//初始化地域联动
	var areaInstance = new areaSelect('province');
	{if:$this->memberRow}
	{set:$area = explode(',',trim($this->memberRow['area'],','))}
	areaInstance.init({"province":"{$area[0]}","city":"{$area[1]}","area":"{$area[2]}"});
	{else:}
	areaInstance.init();
	{/if}
});

//表单回填
var formObj = new Form('user_info');
formObj.init({echo:JSON::encode($this->memberRow)});

</script>
