{js:artTemplate} {js:areaSelect} {js:my97date}
<div id="pageInfo" data-title="个人资料"></div>
<style type="text/css">
    body{
        background: #fff;
    }
    .main_head .sear_t a{
    	width: 100%;
    }
    .chk_1 + label{
    	color: #666;
    }
    .choice .radio{
    	margin: 0;
    }
</style>
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="javascript:;">个人信息设置</a>
        </div>
        <a class="qx_a" href="{url:ucenter/info_edit}">编辑</a>
   </div>
</header>

<section class="help_bar">
	<div class="set_list">
        <ul>
            <li class="upfilebox">
                {set:$user_ico = $this->user['head_ico']}
                <img src="{if:$user_ico}{webroot:$user_ico}{else:}{skin:image/user_ico.png}{/if}" class="user_ico"><span class="user_name">{$this->user['username']} </span>
            </li>
            <li>
                <span>姓名</span>
                {$this->memberRow['true_name']}
            </li>
            <li class="choice">
            <span>性别</span>
            <label class="radio">{if:$this->memberRow['sex'] == 1}男{else:}女{/if}</label>   
            </li>
            <li>	               
            <span>出生日期</span>
            <label class="radio">{$this->memberRow['birthday']}</label> 
            </li>
            <li>	   
            <span>固定电话</span>
            <label class="radio">{$this->memberRow['telephone']}</label> 
            </li>
            <li>	                                  		
            <span>QQ</span>
            <label class="radio">{$this->memberRow['qq']}</label> 
            </li>
            <li>	                                  		
            <span>邮编</span>
            <label class="radio">{$this->memberRow['zip']}</label> 
            </li>
            <li>	                                  		
            <span>装修风格</span>
            <label class="radio">{$this->memberRow['desc_info']}</label> 
            </li>
            <li>
            <span>详细地址</span>
            <label class="radio">{$this->memberRow['contact_addr']}</label> 
            </li>
			        
        </ul>
	</div>
</section>
    


<script>
//DOM加载完毕
$(function(){
	// 内页隐藏页底导航
	hideNav();
});
</script>
