<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2>配送信息追踪</h2>
    </div>
</header>
<section class="logistics_cont">
	<!-- 订单号 strat-->
  <div class="dh">
    <p class="dh-num">
      <span class="colab">物流单号&nbsp;&nbsp;</span>
      <span>140106199010</span>
    </p>
    <p class="dh-th">
      <span class="colab">配送方式&nbsp;&nbsp;</span>
      <span>邮政</span>
    </p>
  </div>
  <!-- 订单号 end-->
  <!-- 流程跟踪 strat -->
  <div class="play">
    <div class="play-con-one">
      <div class="con-line">
        <div class="play-height">您的订单在【xx仓库中心】提货30%</div>
        <div class="play-height colab">
          <span>2016-05-26</span>
          <span>13:22</span>
        </div>
      </div>
    </div>
    <div class="play-con">
      <div class="con-line">
        <div class="play-height colab">李晓明正在提货</div>
        <div class="play-height colab">
          <span>2016-05-26</span>
          <span>13:22</span>
        </div>
      </div>
    </div>
    <div class="play-con">
      <div class="con-line">
        <div class="play-height colab">李晓明正在提货</div>
        <div class="play-height colab">
          <span>2016-05-26</span>
          <span>13:22</span>
        </div>
      </div>
    </div>
    <div class="play-con">
      <div class="con-line">
        <div class="play-height colab">您的订单有耐耐网【xxxx仓库】发货完成</div>
        <div class="play-height colab">
          <span>2016-05-26</span>
          <span>13:22</span>
        </div>
      </div>
    </div>
    <div class="play-con">
      <div class="con-line">
        <div class="play-height colab">已申请提货</div>
        <div class="play-height colab">
          <span>2016-05-26</span>
          <span>13:22</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 流程跟踪 end-->
</section>
<script>
//DOM加载完毕
$(function(){
    // 隐藏底部导航
    hideNav();
})
</script>