<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2>配送信息追踪</h2>
    </div>
</header>
<section class="logistics_cont">
	<!-- 订单号 strat-->
  {if:isset($this->data)}
  <div class="dh">
    <p class="dh-num">
      <span class="colab">物流单号&nbsp;&nbsp;</span>
      <span>{$delivery_code}</span>
    </p>
    <p class="dh-th">
      <span class="colab">配送方式&nbsp;&nbsp;</span>
      <span>{$freight_name}</span>
    </p>
  </div>
  <!-- 订单号 end-->
  <!-- 流程跟踪 strat -->
  <div class="play">
    {foreach:items = $this->data}
    
    <div {if:$key == 0} class="play-con-one" {else:} class="play-con" {/if}>
      <div class="con-line">
        <div class="play-height colb6">{$item['station']}</div>
        <div class="play-height cola">
          <span>{$item['time']}</span>
        </div>
      </div>
    </div>
    {/foreach}
  </div>
  {else:}
  <div class="dh" style="text-align: center;">{$this->msg}</div>
  {/if}
  <!-- 流程跟踪 end-->
</section>
<script>
//DOM加载完毕
$(function(){
    // 隐藏底部导航
    hideNav();
})
</script>