
<style type="text/css">
    body{
        background: #fff;
    }
    .coupon_list li{
    	border: 0;
    }
</style>
{set:$id=IReq::get('id');$msgObj=new IModel('message');$content=$msgObj->getObj('id='.$id);}
<header class="header_login">
	<div class="header_title">
		<a class="return_a"onclick="window.history.back();"></a>
		<h2 id="pageInfo" data-title="我的消息">我的消息</h2>
	</div>
</header>

<div id="pageInfo" data-title="短消息"></div>

<section class="coupon_list">
	<ul>
		<li class="read">
			<div class="title">{$content['title']}</div>
			<div class="author">耐耐网推送</div>
			<time>{$content['time']}</time>
		</li>
		<li>
			{$content['content']}	
		</li>
	</ul>
</section>


<script>

$(function(){
	// 隐藏底部导航
	hideNav();
    
    //消息标记为已读
    var id = '{$id}';
    $.get("{url:/ucenter/message_read}",{"id":id},function(data){});
});
</script>