{set:$paymentList=Api::run('getPaymentListByOnline')}
<div id="pageInfo" data-title="在线充值"></div>
<form action="{url:/block/doPay}" method="POST" class="form-inline form" role="form">
<section class="login input_li">
    <ul>
        <li>
            <input type="text" name="recharge" class="input_text" placeholder="请输入充值金额" pattern='^[0-9]*$' initmsg="" alt="请输入金额">
        </li>
        {if:$paymentList}
        <li>
            {foreach:items = $paymentList}
            <label class="input_radio block">
                <input type="radio" {if:$key==0}checked{/if} name="payment_id" value="{$item['id']}">
                <span>{$item['name']} {$item['note']}，手续费：{if:$item['poundage_type']==2}￥{$item['poundage']}{else:}{$item['poundage']}%{/if}</span>
            </label>
            {/foreach}
        </li>
        {else:}
        <li>没有线上支付方式</li>
        {/if}
    </ul>
</section>
<div class="btn_bottom">
    <div class="btn_tab">
        <label class="btn_tab_submit blue">确认充值<input type="submit"></label>
    </div>
</div>
</section>
</form>
<script>
$(function(){
    // 隐藏底部导航
    hideNav();
});
</script>