{set:$item = $this->order_info;}
{set:$orderStatus = Order_Class::getOrderStatus($item)}
<link rel="stylesheet" href="{skin:style/bases.css}">
<header class="header_login">
	<div class="header_title">
		<a class="return_a"onclick="window.history.back();"></a>
		<h2>订单详情</h2>
	</div>
</header>
<!-- <div id="pageInfo" data-title="订单详情"></div> -->
<section class="user_order_detail cart_2">
	<div class="order_number">
		<span>订单编号：</span>
		<span class="order_state">待发货</span>
	</div>
	<div class="cart_sel">
		<div class="cart_goods" >
			<div class="cart_title">
                <a class="name clear" href="">
                    <img src="{skin:image/top/gouwuche_kong@2x.png}"/>
                    <span class="sel_name">七彩云小铺</span>
                    <span class="sel_cz sel_cz_bj">交易成功</span>
                </a>
            </div>
			<ul>
				<li>
					<div class="cart_list_goods">
                    <a class="clear">
                        <div class="cart_list_photo"><img src="{skin:image/top/gouwuche_kong@2x.png}" alt="{$item['name']}"></div>
                        <div class="cart_list_info">
                            <h3 class="cart_list_info_title">奇异小家</h3>
                            <p class="cart_list_info_info">
                                颜色分类:黄色
                            </p>
                            <p class="cart_list_info_price ">
                                <em>￥29</em>
                                <del class="old_price">￥59</del>
                            </p>
                        </div>
                        <div class="good_num">×3</div>
                        </a>
                    </div>
				</li>
				<li>
					<div class="cart_list_goods">
                    <a class="clear">
                        <div class="cart_list_photo"><img src="{skin:image/top/gouwuche_kong@2x.png}" alt="{$item['name']}"></div>
                        <div class="cart_list_info">
                            <h3 class="cart_list_info_title">奇异小家</h3>
                            <p class="cart_list_info_info">
                                颜色分类:黄色
                            </p>
                            <p class="cart_list_info_price ">
                                <em>￥29</em>
                                <del class="old_price">￥59</del>
                            </p>
                        </div>
                        <div class="good_num">×3</div>
                        </a>
                    </div>
				</li>
			</ul>
			<div class="good_price">
				共1件商品&nbsp;合计：￥98.00（含运费￥0.00）
			</div>
			<div class="good_an">
				<a class="quoder" href="">退换货</a>
				<a class="ljpay" href="">联系客服</a>
			</div>
		</div>
	</div>
	 <!--地址管理 开始-->
    <div class="con_order">
        <div class="adders_order" style="display: block;">
            <a class="adder_height">
                <p class="s_adder_p">
                    <span>收货人：张三</span>
                    <span class="tel">18652656789</span>
                </p>
                <p class="s_adder_p">
                    收货地址：北京市大兴区大兴亦庄开发区文化园高兴街道34号
                </p>
            </a>
        </div>
    </div>
    <!--地址管理 结束-->
    <div class="order_logistics">
        <a class="info_head">
            <span>配送信息追踪</span>
        </a>
    </div>
    <div class="order_de_fp">
    	<div class="fp_head">发票信息：增值税普票<!-- 注：无发票则显示“无” --></div>
    	<div class="fp_cont">
    		<span>发票抬头：耐耐云商</span>
    	</div>
    </div>
    <div class="order_pay_way">
    	<span>支付方式：预存款</span>
    </div>
</section>
<div style="height:0.48rem"></div>
<footer class="order_detail_bottom">
	<div class="bottom_an">
		<a class="E9">删除订单<!-- 取消订单 --></a>
		<a class="B6">立即评价 <!-- 立即支付，确认收货 --></a>
	</div>
</footer>
<script>
	$(function(){
		hideNav()
	})
</script>
