<header class="header_login">
	<div class="header_title">
		<a class="return_a"onclick="window.history.back();"></a>
		<h2>申请售后</h2>
	</div>
</header>
<form action="{url:/ucenter/refunds_update}" method="post" callback="checkForm();">

	<input type="hidden" name="order_id" value="{$this->orderRow['id']}" />
	<section class="refunds_edit">
		<div class="base">
			<strong>订单号：</strong>
			<span>{$this->orderRow['order_no']}</span><br>
		</div>
		<div class="base">
			类型：
            {if:Order_Class::isRefundmentApply($this->orderRow)}
            <input type="radio" name="type"  class="radio" value="1" checked/>退货
            {/if}
            {if:Order_Class::isChangeApply($this->orderRow)}
            <input type="radio" name="type"  class="radio" value="2" checked/>换货
            {/if}
		</div>
		<div class="input_li goods">
			<strong>选择退换商品：</strong>
            
			{foreach:items=Api::run('getOrderGoodsListByGoodsid',array('#order_id#',$this->orderRow['id'])) item=$good}
			{set:$good_info = JSON::decode($good['goods_array']);$refundsDB = new IModel('refundment_doc');}
            {if:$good['is_send'] != 2 && !$refundsDB->getObj("if_del = 0 and (pay_status = 0 or pay_status = 3 or pay_status = 4) and FIND_IN_SET($good[id],order_goods_id)", 'id')}
			<label class="input_radio block">
				<input type="checkbox" name="order_goods_id[]" value="{$good['id']}">
				<span>{$good_info['name']}{if:$good_info['value']}{$good_info['value']}{/if} × {$good['goods_nums']}件</span>
			</label>
			{/if}
			{/foreach}
		</div>
		<div class="input_li note">
			<strong>备注理由：</strong>
			<div>
				<textarea name="content" id="content" class="input_textarea" pattern="required" initmsg="" alt="填写备注信息"></textarea>
			</div>
		</div>
	</section>
	<div class="btn_bottom">
		<div class="btn_tab">
			<label class="btn_tab_submit blue">提交申请<input type="submit"></label>
		</div>
	</div>
</form>

<script type="text/javascript">
$(function(){
	// 隐藏底部导航
	hideNav();
})

//提交表单检查
function checkForm(){
    if($('[name="order_goods_id[]"]:checked').length == 0){
        alert('请选择要退款的商品');
        return false;
    }
	if($('#content').val() == ''){
		alert('请填写退款原因');
		return false;
	}
	return true;
}
</script>