<link rel="stylesheet" href="{skin:style/bases.css}">
<header class="header_login">
	<div class="header_title">
		<a class="return_a"onclick="window.history.back();"></a>
		<h2>退款/售后</h2>
	</div>
</header>
<section class="refunds_top">
	<ul>
		<li><a href="{url:ucenter/refunds}" >退货申请</a></li>
		<li><a href="{url:ucenter/refunds_barter}" class="on">换货申请</a></li>
	</ul>
</section>
<section class="refunds_list">
	<div class="refunds_infor">
		<a href="{url:ucenter/refunds_detail}">
			<div class="infor_div">
				<span>订单号：20161202094825498364</span>
			</div>
			<div class="infor_div">
				<span>处理状态：<em>申请换货</em></span>
			</div>
		</a>
		<div class="infor_div">
			<span class="infor_date">2016-12-02 09:54:40</span>
			<label class="infor_qx"><input type="button"/>取消</label>
		</div>
	</div>
	<div class="refunds_infor">
		<a href="{url:ucenter/refunds_detail}">
			<div class="infor_div">
				<span>订单号：20161202094825498364</span>
			</div>
			<div class="infor_div">
				<span>处理状态：<em class="F5A623">换货成功</em></span>
			</div>
		</a>
		<div class="infor_div">
			<span class="infor_date">2016-12-02 09:54:40</span>
			<label class="infor_del"><input type="button"/>删除</label>
		</div>
	</div>
	<div class="refunds_infor">
		<a href="{url:ucenter/refunds_detail}">
			<div class="infor_div">
				<span>订单号：20161202094825498364</span>
			</div>
			<div class="infor_div">
				<span>处理状态：<em class="DF3737">换货失败</em></span>
			</div>
		</a>
		<div class="infor_div">
			<span class="infor_date">2016-12-02 09:54:40</span>
			<label class="infor_del"><input type="button"/>删除</label>
		</div>
	</div>
</section>
	
<!-- <section class="nodata">
	您当前没有退款信息
</section> -->

<script>
//DOM加载完毕
$(function(){
	// 隐藏底部导航
	hideNav();
})
</script>
