<style type="text/css">
    body{
        background: #fff;
    }
    .main_head .sear_t a{
    	width: 100%;
    }
</style>
{if:$this->user}
{set:$msgObj = new Mess($this->user['user_id']);$msgNum = $msgObj->needReadNum();}
{else:}
{set:$msgNum = 0;}
{/if}
<script src="{theme:javascript/style.js}"></script>
<header class="header_box main_head">
    <div class="header">
        <a class="return_a" onclick="window.history.back();"></a>
        <div class="sear_t">
            <a href="">设置</a>
        </div>
        <a class="a_gd"></a>
        <div class="s_nav">
            <ul>
                <li><a href="{url:/}"><i class="icon-home">首页</i></a></li>
                <li><a href="{url:/ucenter/message}">
                {if:$msgNum > 0}
                <i class="icon-comments-alt">消息</i>
                {else:}
                <i class="icon-comment-alt">消息</i>
                {/if}
                </a></li>
            </ul>
        </div>
   </div>
</header>

	<section class="help_bar">
		<div class="article_list">
			<ul>
				<li><a href="{url:ucenter/info}">个人信息设置<i class="icon-more"></i></a></li>
				<li><a href="{url:ucenter/payPass_edit}">支付密码设置<i class="icon-more"></a></i></li>
                <li><a href="{url:ucenter/password}">登录密码设置<i class="icon-more"></i></a></li>
                <li><a href="{url:ucenter/changePhone}">修改手机号<i class="icon-more"></i></a></li>
                <li><a href="{url:ucenter/changeEmail}">修改邮箱号<i class="icon-more"></i></a></li>
                <li><a href="{url:ucenter/address}">管理收货地址</a><i class="icon-more"></i></li>
			</ul>
		</div>
	</section>
    <section class="input_li">
        <input type="submit" class="input_submit" value="退出" onclick="window.location = '{url:/simple/logout}'">
    </section>