<style type="text/css">
    body{
        background: #fff;
    }
    .tab_content ul li:nth-child(2){
        text-align: left;
    }
</style>
<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2>提现详情</h2>
        
    </div>
</header>

<script>
$(function(){
    // 隐藏底部导航
    hideNav();
})
</script>
<div class="container">        
     
    <div class="tab_container">  
         
         {if:$this->withdrawRow}
        <div id="tab4" class="tab_content" style="display: block; ">  
            <div class="content_list">
            
            <div class="checked_on">                
                <ul>
                    <li class="time">会员备注</li>
                    <li>{$this->withdrawRow['note']}</li>
                </ul>
                    <div class="clear"></div>
                <ul>
                    <li class="time">处理状态</li>
                    <li>{echo:AccountLog::getWithdrawStatus($this->withdrawRow['status'])}</li>
                </ul>
                <ul>
                    <li class="time">管理员备注</li>
                    <li>{$this->withdrawRow['re_note']}</li>
                </ul>
                <ul>
                    <li class="time">提现金额</li>
                    <li>￥{$this->withdrawRow['amount']}</li>
                </ul>
                {if:isset($this->withdrawRow['charge']) && $this->withdrawRow['charge']}
                <ul>
                    <li class="time">手续费</li>
                    <li>￥{$this->withdrawRow['charge']}</li>
                </ul>
                <ul>
                    <li class="time">实收金额</li>
                    <li>￥{$this->withdrawRow['am']}</li>
                </ul>
                {/if}
                <ul>
                    <li class="time">申请时间</li>
                    <li>{$this->withdrawRow['time']}</li>
                </ul>
                <ul>
                    <li class="time">开户姓名</li>
                    <li>{$this->withdrawRow['name']}</li>
                </ul>
                <ul>
                    <li class="time">开户行</li>
                    <li>{$this->withdrawRow['bank']}</li>
                </ul>
                <ul>
                    <li class="time">银行账号</li>
                    <li>{$this->withdrawRow['account']}</li>
                </ul>
                <ul>
                    <li class="time">账户余额</li>
                    <li>￥{$this->memberRow['balance']}</li>
                </ul>
            </div>
            <button class="del_but">删除</button>
                    <div class="clear"></div>
            </div>
        </div> 
        {/if} 
    </div>  
  
</div> 