<style type="text/css">
    body{
        background: #fff;
    }
</style>
{set:$queryWithdrawList = Api::run('getWithdrawList',$this->user['user_id'])}
{set:$items = $queryWithdrawList->find()}
<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2>账单明细</h2>
        {if:$items}
        <a class="qx_a" href="{url:ucenter/withdraw}">编辑</a>
        {/if}
    </div>
</header>
<script>
$(function(){
    // 隐藏底部导航
    hideNav();
})
</script>

<div class="container">  
      
    <ul class="tabs">  
        <li><a href="{url:ucenter/account_list}">交易记录</a></li>  
        <li class="active"><a >提现记录</a></li>  
    </ul>  
    <div class="tab_container">  
         
          
        <div id="tab4" class="tab_content" style="display: block; ">  
            {if:$items}
            {foreach:items = $items}
            <div class="content_list">
            
            <div class="checked_on"> 
                <a href="{url:/ucenter/withdraw_detail/id/$item['id']}">              
                <ul>
                    <li>{$item['note']}</li>
                    <li>{$item['amount']}</li>
                </ul>
                    <div class="clear"></div>
                <ul>
                    <li class="time">{$item['time']}</li>
                    <li class="time">{echo:AccountLog::getWithdrawStatus($item['status'])}</li>
                </ul>
                </a> 
            </div>
            <div class="clear"></div>
            </div>
            {/foreach}
            {$queryWithdrawList->getPageBar()}
            {/if}
        </div>  
    </div>  
  
</div> 