{js:artTemplate}
{js:areaSelect}
{if:isset($this->companyInfo['paper_img']) && $this->companyInfo['paper_img']}
{set:$paper_img_url = JSON::decode($this->companyInfo['paper_img']);$count=count($paper_img_url);}
{/if}
<div class="headbar">
	<div class="position"><span>会员</span><span>></span><span>装修公司管理</span><span>></span><span>编辑装修公司</span></div>
</div>

<div class="content_box">
	<div class="content form_content">
		<form action="{url:/member/company_add}" method="post" name="companyForm" enctype='multipart/form-data'>
			<input name="id" value="" type="hidden" />
            {if:$this->companyInfo['is_lock'] == 2}
            <input type="hidden" name="is_lock" value="2">
            {/if}
			<table class="form_table">
				<colgroup>
					<col width="150px" />
					<col />
				</colgroup>

				<tbody>
					<tr>
						<th>登陆用户名：</th>
						<td><input class="normal" name="username" type="text" value="" /></td>
					</tr>
					<tr>
						<th>密码：</th><td><input class="normal" name="password" type="password" bind='repassword' empty /><label>* 登录密码</label></td>
					</tr>
					<tr>
						<th>确认密码：</th><td><input class="normal" name="repassword" type="password" bind='password' empty /><label>* 重复确认密码</label></td>
					</tr>
                    <tr>
                        <th>公司名称：</th>
                        <td><input class="normal" name="true_name" type="text" value="" pattern="required" /></td>
                    </tr>
					<tr>
						<th>联系人：</th>
						<td><input class="normal" name="contacts_name" type="text" value="" pattern="required" /></td>
					</tr>
                    <tr>
                        <th>商户logo：</th>
                        <td>
                            <input type='file' name='head_ico' />
                            {if:isset($this->companyInfo['head_ico']) && $this->companyInfo['head_ico']}
                            <p><a target="_blank" href="{webroot:}{$this->companyInfo['head_ico']}"><img src='{webroot:}{$this->companyInfo['head_ico']}' style='width:180px;border:1px solid #ccc' /></a></p>
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <th>三证合一</th>
                        <td>
                            <input type="radio" name="card_type" value="1" {if:isset($count) && $count ==1} checked="checked" {/if}>是&nbsp;
                            <input type="radio" name="card_type" value="2" {if:isset($count) && $count > 1} checked="checked" {/if}>否
                        </td>
                    </tr>
                    
                    <tr class="card_type_1" {if:isset($count) && $count >1} style="display: none;" {/if}>
                        <th>商户营业执照：</th>
                        <td>
                            <input type='file' name='paper_img' />
                            {if:isset($paper_img_url['paper_img'])}
                            <p><a target="_blank" href="{webroot:$paper_img_url['paper_img']}"><img src='{webroot:$paper_img_url['paper_img']}' style='width:320px;border:1px solid #ccc' /></a>
                            </p>
                            {/if}
                        </td>
                    </tr>
                    <tr class="card_type_2" {if:isset($count) && $count == 1} style="display: none;" {/if}>
                        <th>商户营业执照：</th>
                        <td>
                            <input type='file' name='paper_imgs' />
                            {if:isset($paper_img_url['paper_imgs'])}
                            <p><a target="_blank" href="{webroot:$paper_img_url['paper_imgs']}"><img src='{webroot:$paper_img_url['paper_imgs']}' style='width:320px;border:1px solid #ccc' /></a>
                            </p>
                            {/if}
                        </td>
                    </tr>
                    <tr class="card_type_2" {if:isset($count) && $count == 1} style="display: none;" {/if}>
                        <th>税务登记证：</th>
                        <td>
                            <input type='file' name='tax_img' />
                            {if:isset($paper_img_url['tax_img'])}
                            <p><a target="_blank" href="{webroot:$paper_img_url['tax_img']}"><img src='{webroot:$paper_img_url['tax_img']}' style='width:320px;border:1px solid #ccc' /></a>
                            </p>
                            {/if}
                        </td>
                    </tr>
                    <tr class="card_type_2" {if:isset($count) && $count == 1} style="display: none;" {/if}>
                        <th>组织机构代码证：</th>
                        <td>
                            <input type='file' name='code_img' />
                            {if:isset($paper_img_url['code_img'])}
                            <p><a target="_blank" href="{webroot:$paper_img_url['code_img']}"><img src='{webroot:$paper_img_url['code_img']}' style='width:320px;border:1px solid #ccc' /></a>
                            </p>
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <th>法人身份证：</th>
                        <td>
                            <input type='file' name='identity_card' />
                            {if:isset($this->companyInfo['identity_card']) && $this->companyInfo['identity_card']}
                            <p><a target="_blank" href="{webroot:}{$this->companyInfo['identity_card']}"><img src='{webroot:}{$this->companyInfo['identity_card']}' style='width:320px;border:1px solid #ccc' /></a></p>
                            {/if}
                        </td>
                    </tr>
					<!--<tr>
						<th>收款账号：</th>
						<td><textarea class="normal" name="account" empty></textarea><label>标明开户行，卡号，账户名称等</label></td>
					</tr>-->
					<tr>
						<th>固定电话：</th>
						<td><input type="text" class="normal" name="phone" pattern="phone" /></td>
					</tr>
					<tr>
						<th>手机号码：</th>
						<td><input type="text" class="normal" name="mobile" pattern="mobi" /></td>
					</tr>
					<tr>
						<th>邮箱：</th>
						<td><input type="text" class="normal" name="email" pattern="email" /></td>
					</tr>
					<tr>
						<th>地区：</th>
						<td>
							<select name="province" child="city,area"></select>
							<select name="city" child="area"></select>
							<select name="area"></select>
						</td>
					</tr>
					<tr>
						<th>详细地址：</th><td><input class="normal" name="address" type="text" empty value="" /></td>
					</tr>
					<!--<tr>
						<th>客服QQ号码：</th>
						<td><input class="normal" name="server_num" type="text" empty value="" /><label>输入客服QQ号码，可以商品详情页面对客户进行解答</label></td>
					</tr>
					<tr>
						<th>企业官网：</th>
						<td><input class="normal" name="home_url" type="text" pattern="url" empty value="" alt="请填写完整的URL地址，比如：http://www.aircheng.com" /><label>填写完整的网址</label></td>
					</tr>-->
					<tr>
						<th>排序：</th>
						<td><input type='text' class='small' name='sort' /></td>
					</tr>
					<tr>
						<th>是否开通：</th>
						<td>
							<label class='attr'><input type='radio' name='is_lock' value='0' checked='checked' />开通</label>
                            <label class='attr'><input type='radio' name='is_lock' value='1' />{if:$this->companyInfo['is_lock'] == 2}驳回{else:}锁定{/if}</label>
							<label class='attr'><input type='radio' name='is_lock' value='2' disabled="disabled" />新申请</label>
							<label>锁定后商户无法登陆进行管理</label>
						</td>
					</tr>
                    <tr>
                        <th>审核意见：</th>
                        <td>
                            <textarea class="normal" name="suggest" empty maxlength="255"></textarea><label>不超过255个字符</label>
                        </td>
                    </tr><!--
                    <tr>
                        <th>是否VIP：</th>
                        <td>
                            <label class='attr'><input type='radio' name='is_vip' value='0' checked='checked' />否</label>
                            <label class='attr'><input type='radio' name='is_vip' value='1' />是</label>
                        </td>
                    </tr>
                    <tr>
                        <th>是否推荐：</th>
                        <td>
                            <label class='attr'><input type='radio' name='is_recomm' value='0' checked='checked' />否</label>
                            <label class='attr'><input type='radio' name='is_recomm' value='1' />是</label>
                        </td>
                    </tr>
                    <tr>
                        <th>是否已开发票：</th>
                        <td>
                            <label class='attr'><input type='radio' name='is_invoice' value='0' checked='checked' />否</label>
                            <label class='attr'><input type='radio' name='is_invoice' value='1' />是</label>
                        </td>
                    </tr>
					<tr>
						<th>是否付费：</th>
						<td>
							<label class='attr'><input type='radio' name='is_pay' value='0' checked='checked' />否</label>
							<label class='attr'><input type='radio' name='is_pay' value='1' />是</label>
						</td>
					</tr>-->
					<tr>
						<td></td><td><button class="submit" type="submit"><span>确 定</span></button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<script language="javascript">
//DOM加载完毕
$(function()
{
//修改模式
{if:$this->companyInfo}
var formObj = new Form('companyForm');
formObj.init({echo:JSON::encode($this->companyInfo)});

//锁定字段一旦注册无法修改
if($('[name="id"]').val())
{
	var lockCols = ['company_name'];
	for(var index in lockCols)
	{
		$('input:text[name="'+lockCols[index]+'"]').addClass('readonly');
		$('input:text[name="'+lockCols[index]+'"]').attr('readonly',true);
	}
}
{/if}

//地区联动插件
var areaInstance = new areaSelect('province');
areaInstance.init({echo:JSON::encode($this->companyInfo)});

$('input[name=card_type]').click(function(){
    var _v = $(this).val();
    if(_v == 1)
    {
        $('tr.card_type_1').show().find('input').removeAttr('disabled');
        $('tr.card_type_2').hide().find('input').attr('disabled', 'disabled');
    }
    else
    {
        $('tr.card_type_2').show().find('input').removeAttr('disabled');
        $('tr.card_type_1').hide().find('input').attr('disabled', 'disabled');
    }
})
});
</script>
