<div class="headbar">
	<div class="position">
		<span>会员</span><span>></span><span>装修公司管理</span><span>></span><span>装修公司回收站</span>
	</div>
	<div class="operating">
		<a href="javascript:;"><button class="operating_btn" type="button" onclick="window.location='{url:/member/company_list}'"><span class="import">返回列表</span></button></a>
		<a href="javascript:void(0);" onclick="selectAll('id[]')"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="company_restore()"><button class="operating_btn" type="button"><span class="recover">还原</span></button></a>
		<a href="javascript:void(0)" onclick="company_del()"><button class="operating_btn" type="button"><span class="delete">永久删除</span></button></a>
	</div>
</div>

<form action="{url:/member/company_recycle_del}" method="post" name="company_list" onsubmit="return checkboxCheck('id[]','尚未选中任何记录！')">
	<div class="content">
		<table class="list_table">
			<colgroup>
				<col width="40px" />
				<col width="140px" />
				<col width="140px" />
				<col width="100px" />
				<col width="100px" />
				<col width="80px" />
				<col width="150px"/>
				<col width="70px" />
			</colgroup>

			<thead>
				<tr>
					<th>选择</th>
					<th>登录用户名</th>
					<th>真实名称</th>
					<th>座机</th>
					<th>移动电话</th>
					<th>状态</th>
					<th>注册日期</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				{set:$page=(isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query:name=company as c join=left join user as u on c.user_id eq u.id where=c.is_del eq 1 order=u.id desc page=$page pagesize=20}
				<tr>
					<td><input name="id[]" type="checkbox" value="{$item['id']}" /></td>
					<td title="{$item['username']}">{$item['username']}</td>
					<td title="{$item['true_name']}">{$item['true_name']}</td>
					<td title="{$item['phone']}">{$item['phone']}</td>
					<td title="{$item['mobile']}">{$item['mobile']}</td>
					<td>{echo:$item['is_lock'] == 0 ? '正常':($item['is_lock'] == 1 ? '锁定' : '待审核')}</td>
					<td title="{$item['create_time']}">{$item['create_time']}</td>
					<td>
						<a href="{url:/member/company_recycle_restore/id/$item[id]}"><img class="operator" src="{skin:images/admin/icon_recover.gif}" alt="恢复" /></a>
						<a href="javascript:void(0)" onclick="delModel({link:'{url:/member/company_recycle_del/id/$item[id]}'})"><img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" /></a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</div>
	{$query->getPageBar()}
</form>

<script language="javascript">
function company_del()
{
	$("form[name='company_list']").attr('action','{url:/member/company_recycle_del}');
	confirm('确定要删除所选中的装修公司吗？<br />删除的装修公司不可以找回。','formSubmit(\'company_list\')');
}
function company_restore()
{
	$("form[name='company_list']").attr('action','{url:/member/company_recycle_restore}');
	confirm('确定要还原所选中的装修公司吗？','formSubmit(\'company_list\')');
}
</script>
