// base by fungleo
html {background:$cff;font-size: 100px;}
body {color: $BaseC;line-height: 1;font-size: 1.2rem*0.1;}
body,button, input, select, textarea {font-family:tahoma,Helvetica, Arial,"\5FAE\8F6F\96C5\9ED1";*font-family:"\5FAE\8F6F\96C5\9ED1";}

hr {border: none;height: 1px;background: $cee; @extend .mt;@extend .mb;}
.gehang {width: 1rem*0.1;height: 1rem*0.1;overflow: hidden;text-indent: -9999px;clear: both;display: block;}
.block {display: block;}
.none {display:none}
.clear {clear: both;}

.mtb {margin-top:1.6rem*0.1;}
.mt {margin-top: 0.8rem*0.1;}
.mbb {margin-bottom:1.6rem*0.1;}
.mb {margin-bottom: 0.8rem*0.1;}

.fzbbbb {font-size: 3.2rem*0.1;}
.fzbbb {font-size: 2.4rem*0.1;}
.fzbb {font-size: 2.2rem*0.1;}
.fzb {font-size: 2rem*0.1;}
.fzbs {font-size: 1.9rem*0.1;}
.fzmb {font-size: 1.8rem*0.1;}
.fzm {font-size: 1.7rem*0.1;}
.fzms {font-size: 1.6rem*0.1;}
.fzsb {font-size: 1.5rem*0.1;}
.fzs {font-size: 1.4rem*0.1;}
.fzss {font-size: 1.3rem*0.1;}
.fzssb {font-size: 1.2rem*0.1;}
.fzssm {font-size: 1.1rem*0.1;}
.fzsss {font-size: 1rem*0.1;}
.fzssss {font-size: 0.9rem*0.1;}
.fzsssss {font-size: 0.8rem*0.1;}

.fl {float: left;}
.fr {float: right;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align: center;}

// 文字颜色
.c55{color: $c55;}
.c22{color: $c22;}
.c99{color: $c99;}
.c00{color: $c00;}
.cff{color: $cff;}
.cdd{color: $cdd;}
.cee{color: $cee;}
.cf9{color: $cf9;}
.cfa{color: $cfa;}
.cf60{color: $cf60;}
.red{color: $red;}
.blue{color: $blue;}
.green{color: $green;}
.cyan{color: $cyan;}
.gold{color: $gold;}
.pink{color: $pink;}
.yellow{color: $yellow;}

// 背景颜色

.bg_c55{background-color: $c55;}
.bg_c22{background-color: $c22;}
.bg_c99{background-color: $c99;}
.bg_c00{background-color: $c00;}
.bg_cff{background-color: $cff;}
.bg_cdd{background-color: $cdd;}
.bg_cee{background-color: $cee;}
.bg_cf9{background-color: $cf9;}
.bg_cfa{background-color: $cfa;}
.bg_cf60{background-color: $cf60;}
.bg_red{background-color: $red;}
.bg_blue{background-color: $blue;}
.bg_green{background-color: $green;}
.bg_cyan{background-color: $cyan;}
.bg_gold{background-color: $gold;}
.bg_pink{background-color: $pink;}
.bg_yellow{background-color: $yellow;}

.cf{
	zoom:1;
	&:before,&:after {content:"";display:table;}
	&:after {clear:both;}
}

%before {
	display: block;content: "";position: absolute;
}
.error_404 {
	width: 80vw;height: 30vw;margin:30vw 10vw 10vw;text-indent: -9999px;
	background:url("../image/404.png") center/contain no-repeat;
}
.bg00 {background: rgba(#000,0.5);width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 10;}
