@charset "utf-8";

/* Hschubin */
*{margin: 0;padding: 0;}
html {  font-family:"微软雅黑"}
a {color: inherit;text-decoration: none;outline-style: none;}
ul, ol, li {list-style: none;}
p ,input {color: inherit;}
img {border: 0 none;}
body { margin: 0;min-width: 1300px}
.body-bg {background: #f4f4f4;}

/*头部*/
.top_bj{ width:100%; height:138px; margin:auto; background:url(../img/top_bj.jpg) repeat-x;}
.top{ width:1300px; height:138px; margin:auto; background-image:url(../img/top.gif)}
.top_tel{   height:91px; float:left}
.logo{ width:244px; height:47px; float:left}
.top_text{ width:379px; height:91px; float:right}

/*导航*/
.nav1 {display: block;width: 528px; float:left;position: relative; z-index:400}
.nav1 li {position: relative;float: left;width: 132px;font-size: 16px;line-height: 2.9em;text-align: center;color: #e6e6e6; background: #242424; }
.nav1 a {display: block;}
.nav1 li.present{ background-color:#343434;color:#FFF}
.sub-nav1 {position: absolute;top: 2.9em;left: 0;right: 0;display: none; background-color:#099}
.nav1 a:hover {color: #fff;background: #333; }


/*首页banner*/ 
.banner {position: relative;}
.banner .bd li {height: 676px;}
.banner .hd {position: absolute; bottom: 6px; left: 50%; z-index: 10; margin: 0 auto; text-align: center;}
.banner .hd-bg {position: absolute;bottom: 0;height: 20px;width: 100%;background: rgba(0,0,0,.5);}
.banner .hd li {float: left; width: 33px; height: 7px; margin-right: 4px; background: #5e5e60;}
.banner .hd li.on {background: #fccf04;}


/*banner快速报价*/ 
.kubj{ width:281px; height:412px;position: absolute;left: 75%;  z-index:200; background-image:url(../img/ksyy1.png); margin-top:50px}
.kubj1{ width:224px; height:300px; margin:95px 0 0 26px;}
.kubj2{ width:221px; height:35px; background-image:url(../img/ks.gif); margin-bottom:15px; float:left}
.kubj3{border-width:1px;border-style:solid;border-color:#FFF;height:20px;color: #999; margin:6px 0 0 10px; font-family:"微软雅黑"}
.kubj4{ width:110px; height:35px; background-image:url(../img/yzm1.png); margin-bottom:15px; float:left}
.kubj5{border-width:1px;border-style:solid;border-color:#FFF;height:20px;color: #999; margin:6px 0 0 10px; font-family:"微软雅黑"}

.xz {display: block;width: 300px; float:left;position: relative; z-index:100; margin-bottom:10px}
.xz li {position: relative;float: left;width: 80px;font-size: 14px;line-height: 35px;color: #999; background: #FFF;border: 1px solid  #CCC; margin-right:17px; padding-left:20px}
.xz a {display: block;}
.xz li.present{ background: #FFF;color: #ea1f1f;border: 1px solid #ea1f1f; }



 


 
 

/*右侧客服*/
.side-btns {position: fixed;right: 0;left: 0;bottom: 0; z-index:10000}
.side-btn {position: fixed ;bottom: 20%;right:1%;width: 72px;background: #fcfcfc;border: 1px solid #e8e8e8; }
.side-btn a {display: block;height: 82px;padding-bottom: 5px;padding-top:5px;font-size: 12px;line-height: 1;text-align: center;color: #666;border-bottom: 1px solid #e8e8e8; }
.side-btn-icon {display: block;height: 50px;background-position: center center;background-repeat: no-repeat; padding-top:5px}
.side-btn li:hover {background: #f2f2f2;}
.side-btn .back-to-top {height: 28px;padding-top: 39px;background: #e8e8e8 url(../img/back-to-top.png) center 22px no-repeat;}

.side-pannel {position: fixed;left: 50%;margin-left: 496px;z-index: 99}
.side-bar {border: 1px solid #E7E7E7;border-bottom: none;bottom: 100px;background: #fff}
.side-bar a {display: block;cursor: pointer;width: 70px;height: 60px;border-bottom: 1px solid #E7E7E7;position: relative;color: #676767;text-align: center}
.side-bar a span {line-height: 20px}
.side-bar a.qr i {width: 277px;height: 259px;position: absolute;left: -277px;top: 50%;margin-top: -120px;display: none;background-position: 0 0}
.side-bar a.qr:hover i {display: block}
.side-bar a.qr i {background-image: url(../images/weixin.png)}
.g-icon-weibo1 {height: 25px;width: 27px;margin-top: -12px;background-position: -72px 0}
.g-icon-qr1 {height: 33px;width: 36px;margin-top: -16px;background-position: -36px 0}

/*二维码*/
.qr {display: block;cursor: pointer;width: 70px;height: 60px;  position: relative; text-align: center}
.qr i {width: 210px;height: 230px;position: absolute;left: -217px;top: 50%;margin-top: -110px;display: none;background-position: 0 0}
.qr:hover i {display: block}
.qr i {background-image: url(../img/weixin.png)}


/*底部快速报价*/
 
.foot_ksbj{ width:120px; height:30px;   border:#CCC 1px solid;appearance:none;  left:0; margin:0 0 5px 684px; bottom:0;
 background:url(../img/foot_ksbj.jpg) ; line-height:24px;select:-ms-expand; appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none; color:#999; font-family:"微软雅黑"; margin-top:30px; position:absolute; z-index:100}
 
 .foot_ksbj1{ width:120px; height:30px;   border:#CCC 1px solid;appearance:none;  left:0; margin:0 0 5px 812px; bottom:0;
 background:url(../img/foot_ksbj.jpg) ; line-height:24px;select:-ms-expand; appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none; color:#999; font-family:"微软雅黑"; margin-top:30px; position:absolute; z-index:100}
 
.store-location-select {position: relative;float: left;width: 116px;margin-right: 10px;font-size: 14px;line-height: 30px;color: #3c3c3c;background: url(../img/store-local-select.png);}

.store-location-select select {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;filter: alpha(opacity=0);}

.select-item {display: block;padding-left: 9px;}



.main-box {position: relative;width: 100%; max-width: 1200px; display: block;margin: 0 auto;*zoom: 1;}
.fix-btn {position: fixed;left: 0;bottom: 0;z-index: 100;width: 351px;height: 128px;background: url(../img/fix-btn1.png);}

.fix-bar {position: fixed;left: 0;bottom: 0;right: 0;z-index: 100;display: none;height: 128px;background: url(../img/opacity-bg-black.png); background: rgba(0,0,0,.8);  }
.fix-bar_box{ width:1200px; height:128px; margin:auto}
.fix-bar .main-box {height: 110px;padding-top: 95px;background: url(../img/fix-bg1.png); position: fixed; z-index:50; width:1200px; margin:-80px auto 0 auto}
.fix-bar-message {float: right;width: 416px; margin-right:100px; height:108px}
.fix-bar-message label {float: left;clear: left;width: 290px;padding-left: 5px;margin-bottom: 7px;font-size: 12px;line-height: 30px;color: #666;background: #fff;}
.fix-bar-message input {width: 150px;margin-left: 5px;color: #333;border: 0 none;}
.fix-submit {position: absolute;top: 90px;right: 104px;width: 33px;height: 88px;padding: 16px 30px 0;font-size: 26px;line-height: 36px;text-align: center;color: #fff;background: #c60000;}
.fix-submit input {position: absolute;top: 0;left: 0;width: 93px;height: 104px;margin-left: 0;background: none;}
.fix-close {position: absolute;top: 90px;right: 40px;width: 21px;height: 20px;background: url(../img/fix-close.png);  z-index:50; }


.index_tj{ width:100%; height:500px; margin:auto; background:url(../img/tj.jpg) center}
.index_yz{ width:100%; height:375px; background-color:#bd1717; margin:auto}
.index_yz1{ width:1300px; height:375px; margin:auto; }
.index_yz2{ width:1300px; height:50px; color:#FFF; font-family:"微软雅黑"; font-size:34px; text-align:center; font-weight:bold;letter-spacing:2px; padding-top:50px}
 

/*首页业主推荐图片滚动*/
.Exhibitor{ width:1300px; overflow:auto;}
.hl_main5_content{width:1300px; height:200px;   float:left; margin-top:20px;}
.h1_main5_title{ height:30px; background:#999; line-height:30px; padding-left:10px; font-size:14px; font-weight:bold;}
.hl_main5_content1{width:1185px; overflow:hidden; float:left; margin-left:8px}
.hl_main5_content1 ul{width:1600px; overflow:hidden; margin-top:20px;}
.hl_main5_content1 ul li{ float:left; width:220px; display:inline; height:151px}
.hl_main5_content1 ul li img{ width:220px; }
.hl_scrool_leftbtn{width:40px; height:85px; float:left; margin-left:10px; margin-top:50px; cursor:pointer; background:url(../images1/index_yz_left.png) no-repeat}
.hl_scrool_rightbtn{width:40px; height:85px;   float:right; margin-right:5px; margin-top:50px; cursor:pointer; background:url(../images1/index_yz_right.png) no-repeat}

/*业主推荐图片点击放大图片背景调试*/
.demoList { width:1300px; overflow:hidden; height:170px}
.demoList li { float:left; width:151px; border:1px solid # FFF; padding:1px; background:#7a7a7a; margin:7px; display:inline; position:relative; z-index:0; overflow:hidden;}
/*.demoList li:hover { border:1px solid #000; background:#222; }*/
.demoList li a { display:block; width:275px; overflow:hidden; cursor:pointer; }
.demoList li samp,.demoList li div { height:150px; width:275px; position:absolute; left:5px; top:5px; z-index:1; }
.demoList li samp { background:url(images1/zoom.png) no-repeat center center; }
.demoList li div { background:#000; }
.demoList li span,.demoList li b {  display:block; position:absolute;  bottom:1px; width:220px; z-index:1; height:20px; text-align:center; line-height:20px; font-size:12px; color:#fff; text-shadow:1px 1px 0 #000; font-weight:normal;   }
.demoList li span { background:#000; }
/* jQuery jcLightBox css */
#jc-Mod { position:absolute; z-index:99; display:none; left:0; right:0; bottom:0; top:0; cursor:pointer; }
#jc-Box { position:absolute; left:0; top:0; z-index:100; display:none; }
#box-top { height:24px; position:relative; background:url(../images1/box-top.png) repeat-x 0 0; }
#box-top-left { background:url(../images1/box-ra.png) no-repeat 0 0; height:24px; width:24px; position:absolute; left:-24px; top:0; }
#box-top-right { background:url(../images1/box-ra.png) no-repeat -25px 0; height:24px; width:24px; position:absolute; right:-24px; top:0; }
#box-btm { height:24px; position:relative;  background:url(../images1/box-bottom.png) repeat-x 0 0; }
#box-btm-left { background:url(../images1/box-ra.png) no-repeat 0 -25px; height:22px; width:24px; position:absolute; left:-24px; top:0; }
#box-btm-right { background:url(../images1/box-ra.png) no-repeat -25px -25px; height:22px; width:24px; position:absolute; right:-24px; top:0; }
#box-cen { background:url(../images1/box-left.png) repeat-y 0 0; position:relative; left:-24px;}
#box-cen-right { background:url(../images1/box-right.png) repeat-y right 0; position:relative; right:-48px;}
#box-cen-img { position:relative; left:-24px; background:#000; }
#box-pn { position:absolute; left:10px; top:32px; height:30px; width:70px; z-index:101; }
#box-prev { background:#000; float:left; width:32px; height:30px; cursor:pointer; }
#box-next { background:#000; float:right; width:32px; height:30px; cursor:pointer;}
#box-pn a { display:block; height:20px; position:relative; top:5px; left:5px; background:url(../images1/sprite.png) no-repeat;}
#box-next a { background-position:0 -20px; }
#box-prev a { background-position:0 -40px; }
#box-close { background:url(../images1/box-close.png);height:60px; width:42px; position:absolute; top:14px; right:-50px; cursor:pointer; z-index:101; }
#box-close a { display:block; height:20px; position:relative; top:20px; left:8px; background:url(../images1/sprite.png) no-repeat 0 0;}
#box-text { height:50px; position:absolute; left:0; }
#box-text samp { display:block; position:absolute; background:url(../img/arrow.png) no-repeat; height:12px; width:12px; left:48%; top:-8px; z-index:1;}
#box-text-left { background:url(../images1/box-text.png) no-repeat; height:50px; width:10px; position:absolute; left:0; top:0;}
#box-text-cen { color:#fff; text-shadow:1px 1px 0 #000; text-align:center; background:url(../images1/box-text-cen.png) repeat-x; height:50px; line-height:50px; margin:0 10px; padding:0 30px; font-size:15px;overflow:hidden;}
#box-text-right { background:url(../images1/box-text.png) no-repeat right 0; height:50px; width:10px; position:absolute; right:0; top:0;} 


/*首页服务流程*/
.index_fw{ width:100%; height:615px; background-color:#5e5e5e; margin:auto}
.index_fw1{ width:1300px; height:615px; margin:auto;}
.index_fw2{ width:1300px; height:117px; background-image:url(../img/index_fw.gif); margin-top:80px; float:left}
.index_fw3{  width:500px; height:117px; margin:auto; text-align:center}
.index_fw4{ width:1300px; height:250px; float:left;}

/*首页服务流程图标*/
.index1{ width:1300px;   margin:  auto;  }
.index2{ width:1300px; height:439px; margin:auto; padding:auto}
.index3{ width:1300px; height:353px; margin-top:78px}
.index3 li{ width:162px; height:300px;float: left; overflow:hidden; text-align:center; }
.index3 li .hiding{ display:none;margin:0 auto 22px auto}
.index3 li .showing{ display:block;margin:0 auto 22px auto }
.index3 li:hover .showing{display:none; }
.index3 li:hover .hiding{ display:block; }
.index3 li p{ width:265px;    text-align: center; font-size:14px; color:#767676; margin-top:15px}
 
 
/*首页十大与众不同*/
.index5{ width:100%px; height:1115px; background-image:url(../img/yzbt_bj.gif); margin:auto}
.index6{ width:1300px; height:auto; margin:auto;  }
.index7{ width:1300px; height:117px; background-image:url(../img/index11-08_57.gif); margin-top:80px; float:left; margin-bottom:50px}
.index8{ width:1210px; height:494px;  background:url(../img/index11-08_58.jpg); float:left; margin-left:45px;}
.index9{ width:230px; height:232px; float:left; margin:10px 0 0 10px;}
.index10{ width:185px; padding:64px 0 0 25px; font-size:16px; color:#FFF; line-height:26px;}
.index10 a:hover{ color:#CCC}
.index11{ width:185px; padding:64px 0 0 25px; font-size:16px; color:#333; line-height:26px;}
.index11 a:hover{ color:#828282}

.index12{ width:1300px; height:117px; background-image:url(../img/wshxz.png); margin-top:158px; float:left; margin-bottom:50px}
.index13{ width:25px; height:34px; background-image:url(../img/jtx.gif); margin:50px auto 0 auto}

.index14{ width:100%; height:1050px; margin:auto; background:url(../img/index14.gif) repeat-y center}
.index15{ width:1300px; height:1050px; margin:auto}
.index16{ width:1300px; height:50px; font-size:38px; color:#FFF; font-weight:bold; text-align:center; margin-top:60px; float:left}
.index17{ width:919px; height:130px; float:left; margin:53px 0 0 230px;}
.index17 li{ width:173px; height:64px; float:left; text-align:center}
.index17 li p{ color:#FFF; font-size:14px; text-align:center}


/*首页品质优势轮播图（优劣对比）*/
.index18{ width:1300px; height:733px; float:left; background:url(../img/index11-08_86.png)  }
.ban{ width:1256px; height:733px; position:relative; overflow:hidden;margin:40px auto 0 auto;}
.ban2{ width:1142px; height:475px; position:relative; overflow:hidden; margin:32px 0 0 60px}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:1142px; height:500px;}
.prev{cursor:pointer;}
.num{ height:82px;overflow:hidden; width:1142px; position:relative; margin:60px 0 0 295px}
.min_pic{ padding-top:10px; width:1000px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:143px; height:45px; margin-right:30px; padding:1px;  background:url(../images/xuxian.png) no-repeat; text-align:center; color:#FFF; font-size:16px; line-height:45px}
.num ul li.on{ padding:0; background:url(../images/xuxian1.png)}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:40px; margin-right:20px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-top:40px;cursor:pointer;float:right;}

.prev1{ position:absolute; top:220px; left:3px; width:28px; height:51px;z-index:100;cursor:pointer;}
.next1{ position:absolute; top:220px; right:25px; width:28px; height:51px;z-index:100;cursor:pointer;}

.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:absolute; left:0; top:0; display:none;}
.pop_up{ width:500px; height:500px; padding:10px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-255px; margin-top:-255px; display:none; z-index:99;}
.pop_up_xx{ width:40px; height:40px; position:absolute; top:-40px; right:0; cursor:pointer;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; top:0;}
.pop_up2 ul li{ width:500px; height:500px; float:left;}


/*首页风格*/
.index19{ width:1300px; margin:auto; margin:80px auto 0 auto;background-image:url(../img/index11-08_57.gif);}
 
/*套餐背景*/
.tcbj{ width:100%; height:1406px; background:url(../img/tcbj.gif) repeat-x}
.tc{ width:1300px; height:1406px; margin:auto;}
.tc1{ width:1300px; height:117px;margin:35px auto 10px auto;background-image:url(../img/index11-08_100.jpg); float:left}
.tc2{ width:1300px; height:564px; float:left}
.tc3{ width:300px; height:48px;position: absolute; z-index:100; margin:400px 0 0 60px}
.tc4{ width:1300px; height:624px; float:left}
.tc5{ width:293px; height:48px;position: absolute; z-index:10; margin:430px 0 0 950px}
.index21{ width:100%; height:562px;  margin:auto;background:url(../img/index11-08_129.jpg) no-repeat center;}
.index22{ width:1200px; height:562px; margin:auto}
.index22_123{ width:124px; height:34px; float:left; padding-left:355px; padding-top:371px; border:none}


/*关于沪佳*/
.index23{ width:100%; height:650px; margin:auto; background-color:#f7f7f7}
.index24{ width:1300px; height:650px; margin:auto}
.index25{ width:576px; float:left; margin:50px 0 0 24px;}
.index26{ width:280px; height:20px; float:left; font-size:16px; text-transform:uppercase}
.index27{ width:576px; height:165px; float:left; margin:20px 0 20px 0}
.index28{ width:576px; height:150px; font-size:12px; color:#333; line-height:26px; float:left}
.index29{ width:583px; float:left; margin:50px 0 0 50px;}
.index30{ width:584px; float:left; margin-top:20px}
.index31{ width:80px; height:81px; float:left; background:url(../img/index11-08_141.gif)}
.index32{ width:80px; height:50px; font-size:28px; font-weight:bold; text-align:center; line-height:44px}
.index33{width:80px; height:30px; font-size:14px;  text-align:center; line-height:28px; color:#666}
.index34{ width:460px; height:20px; float:left; margin:5px 0 0 30px; font-size:14px; color:#333; font-weight:bold}
.index34 a:hover{ color:#900}
.index35{ width:460px; height:45px; float:left; margin:10px 0 0 30px; font-size:12px; color:#666; line-height:22px}
.index36{ width:572px; float:left; margin:15px 0 0 5px;}
.index36 li{ width:572px; height:39px; float:left; background-image: url(../img/index11-08_145.gif); }
.index36 li a{font-size:12px; color: #333; line-height:38px; padding-left:20px; float:left}
.index36 li a:hover{width:480px; height:39px;background-image: url(../img/index11-08_h.png); color:#be1313}
.index23_about{ width:1300px; margin:auto;background-image: url(../img/index11-about.png); margin-top:60px; float:left}

.index37{ width:1300px; margin:auto; height:370px;}
.index38{ width:874px; float:left; margin:30px 0 0 30px}
.index39{ width:874px; float:left;}
.index40{ width:874px; height:95px; float:left}
.index41{ width:437px; height:95px; float:left; margin:25px 0 10px 0}
.index41 img{ width:150px; height:95px; float:left;}
.index42{ width:260px; height:20px; float:left; font-size:14px; margin:5px 0 0 12px }
.index42 a:hover{ color:#900}
.index43{ width:260px; float:left; height:60px; font-size:12px; line-height:18px; color:#999;margin:8px 0 0 12px }
.index44{ width:12px; height:295px; float:left; background-image:url(../img/st.gif); margin-top:15px; margin-left:15px}
.index45{ width:290px; float:left; margin:30px 0 0 18px}
.index46{ width:290px; height:110px; float:left; margin-top:20px}
.index47{ width:280px; float:left; height:90px; font-size:12px; line-height:24px; color:#999;margin:8px 0 0 12px }

/*脚部*/
.foot{ width:100%; height:402px; background:url(../img/foot_bj.gif) repeat-x; margin:0 auto 0 auto}
.foot1{ width:1200px; height:402px; margin:auto}
.fooot_logo{ width:334px; height:231px; margin:auto}
.foot_text{ width:1200px; height:20px; float:left; text-align:center; font-size:12px; color: #CCC; margin-top:20px}
.foot_text a{ padding:0 10px 0 10px}
.foot_text a:hover{ color:#e31b20;}
.foot_left{ width:600px; height:20px; font-size:12px; color:#FFF; float:left; margin-top:95px}
.foot_right{ width:600px; height:20px; font-size:12px; color:#FFF; float:right; text-align:right;margin-top:95px}


/*装修报价*/
.zxbj{ width:100%; height:820px; margin: auto; background:url(../img/zxbj_bj.jpg) center}
.zxbj1{ width:1202px; height:820px;  margin:auto}
.zxbj2{ width:500px; height:20px; float:left; font-size:12px; margin:30px 0 20px 60px; color:#666}
.zxbj3{ width:1202px; float:left; background:url(../img/zxbj.png) no-repeat; height:649px;}
.zxbj4{ width:1202px; height:50px; font-size:32px; color:#FFF; text-align:center; font-weight:bold;letter-spacing:4px; margin-top:20px}
.zxbj5{ width:1202px; height:45px; font-size:14px; color:#FFF; text-align:center; margin-top:20px; line-height:22px}
.zxbj6{ width:1000px; height:300px; float:left; margin:50px 0 0 100px}
.zxbj7{ width:420px; height:37px; float:left; margin:23px 0 0 50px }
.zxbj8{ width:317px; height:35px;  margin-bottom:15px; float:left; border:#CCC 1px solid}
.zxbj9{border-width:1px;border-style:solid;border-color:#FFF;height:20px;color: #999; margin:6px 0 0 5px; font-family:"微软雅黑"; background-color:#FFF}
.zxbj_text{float:left; font-size:14px; line-height:32px; padding-right:10px; color:#666666}
.zxbj8_yzm{ width:100px; height:35px;  margin-bottom:15px; float:left; border:#CCC 1px solid}

.zxbj10 { width:317px; height:35px;  margin-bottom:15px; float:left;  }

 
.store-location-select1 {position: relative;float: left;width: 319px;margin-right: 10px;font-size: 14px;line-height: 37px;color: #3c3c3c;background: url(../img/zxbj_x.gif);}
.select1-item {display: block;padding-left: 9px;}
.store-location-select1 select  {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;filter: alpha(opacity=0);}

.zxbj11 { width:124px; height:34px; float:left; padding-left:360px; padding-top:51px; border:none}


/*当前位置背景*/
.dq_bj{ width:1300px; height:44px; float:left; margin-top:17px; background-color:#FFF}
.dq{ width:500px;  float:left; font-size:12px; color:#666; padding:15px 0 0 20px}

/*预约到店*/
.sjs6{ width:190px; height:36px;    float:left; border:#CCC 1px solid;appearance:none; float:left;margin-right:10px;
 background:url(../img/sjs5.gif) ; line-height:24px;select:-ms-expand; appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none; color:#999; font-family:"微软雅黑"}


.yd{ width:100%; margin:auto; background-color:#eeeeee; overflow:hidden}
.yd1{ width:1300px; height:auto; margin:auto;overflow:hidden}

.yd2{ width:1300px; margin:30px 0 50px 0; float:left}
.yd2 li{ width:360px; height:294px; float:left; background:url(../img/yydd-img-bj.gif) repeat-x; margin:10px 30px 20px 30px}
.yd2 li a img{ width:352px; height:242px; float:left; margin:4px; }
.yd2_bj{ width:360px; height:43px; background: #f2f2f2; float:left}
.yd2_text{ width:200px; height:20px; font-size:14px; color:#333; float:left; padding:12px 0 0 10px}
.yd2_text a:hover{ color:#900}
.yd2_text1{ width:30px; height:20px; float:right; padding:13px 10px 0 0; font-size:12px; color: #666}
.yd2_pf{ width:68px; height:155px;position: fixed;z-index: 99; top:20%; left:13%}

.yd4{ width:410px; height:489px; float:left; margin:0 10px 20px 10px}
.yd3{ width:119px; height:33px; position:absolute; z-index:100px; margin:436px 0 0 146px;}
.yd3_mh{ width:119px; height:33px; position:absolute; z-index:100px; }


.yd5{ width:1300px; margin:30px 0 50px 0; float:left}

/*预约到店-图片展示*/
.yd-img-box{width:100%; margin:auto; overflow:hidden }
.yd_banner{ width:100%; height:291px; margin:auto; text-align:center}

#bNav{margin-top:50px; text-align:center; background:url(../img/about_3.gif) repeat-x; width:100%}
#bNav ul{padding:4px 0;margin:0;overflow:hidden;}
#bNav ul li{display:inline;  font-size:14px; padding:15px 40px 15px 40px; background-color:#e8e8e8; margin-left:10px}
 
#bNav ul li a:hover{ color: #900; } 
#bNav ul li.present{ background-color:#ac131b;color:#ffffff}
#bNav ul li.present A:link{color:#FFF}


.paging_1{ width:1250px; height:120px;   margin-top:50px; float:left}
.paging_2{float:left;width:500px; font-size:14px }
.paging_2 {PADDING-RIGHT: 10px; PADDING-LEFT: 10px;   margin:20px 0 20px 330px; display:inline; TEXT-ALIGN: center} 
.paging_2 A {BORDER: #a81414 1px solid; padding:10px 15px 10px 15px; MARGIN: 2px; color: #a81414 !important;  TEXT-DECORATION: none}
.paging_2 A:hover {BORDER: #a81414 1px solid; BACKGROUND-COLOR: #a81414; color:#FFF!important ;FONT-WEIGHT: bold;text-decoration:none;}
.paging_2 A:active {BORDER-RIGHT: #a81414 1px solid; BORDER-TOP: #a81414 1px solid; BORDER-LEFT: #5192ce 1px solid; COLOR:#a81414; BORDER-BOTTOM: #a81414 solid}
.paging_2 SPAN.current {BORDER:#a81414 1px solid;  FONT-WEIGHT: bold; MARGIN: 2px; COLOR:#FFF;  padding:10px 15px 10px 15px;
                         BACKGROUND-COLOR: #a81414}

.paging_2 SPAN.disabled {BORDER: #a81414 1px solid; PADDING:0 5px 2px 5px;MARGIN: 2px; COLOR: #5192ce; PADDING-TOP: 2px;}


/*内页图片点击放大*/
#jquery-overlay {position: absolute;top: 0;left: 0;z-index:9999;width: 100%;height: 500px;}
#jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 10000;text-align: center;line-height: 0;}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav {position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev {left: 0;float: left;}
#lightbox-nav-btnNext {right: 0;float: right;}
#lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {padding: 0 10px;color: #666;}
#lightbox-container-image-data #lightbox-image-details {width: 70%;float: left;text-align: left;}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {display: block;clear: left;padding-bottom: 1.0em;}
#lightbox-secNav-btnClose {width: 66px;float: right;padding-bottom: 0.7em;}

/*只能匹配设计师*/
.sjs{ width:100%; height:534px; margin:auto; background:url(../images/sjs.jpg) center no-repeat}
.sjs1{ width:1300px; height:534px; margin:auto}
.sjs2{ width:690px; height:379px;  background-image:url(../img/sjs1.png); float:left; margin-top:70px;}
.sjs3{ width:500px; height:40px; font-size:28px; color:#bb1d1d; font-weight: bold; margin:30px 0 0 46px;}
.sjs4{ width:630px; height:220px; float:left; margin:10px 0 0 46px;}
.sjs5{ width:190px; height:30px;  margin-bottom:15px; float:left; border:#CCC 1px solid; background-color:#FFF; margin-right:10px; padding-bottom:4px}
.sjs6{ width:190px; height:36px;    float:left; border:#CCC 1px solid;appearance:none; float:left;margin-right:10px;
 background:url(../img/sjs5.gif) ; line-height:24px;select:-ms-expand; appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none; color:#999; font-family:"微软雅黑"}
.sjs7{ width:583px; height:90px;  margin-bottom:15px; float:left; border:#CCC 1px solid; background-color:#FFF; margin-right:10px;  color:#a4a4a4; padding:5px;font-family:"微软雅黑"; word-spacing:8px}
.sjs8{ width:240px; height:29px; float:right; margin:15px 52px 0 0 }
.sjs9{ width:1300px; margin:30px 0 50px 0; float:left}
.sjs9 li{ width:250px; height:467px; float:left; background-color:#f5f5f5; margin:5px 20px 40px 25px}
.sjs9_img{ width:250px; height:280px; }
.sjs9_name{ width:232px; height:28px; font-size:14px; color:#FFF; background-color:#d44747; line-height:26px; padding-left:18px;} 
.sjs9_text{ width:232px; height:105px; color:#8c8c8c; font-size:12px; line-height:20px; margin:15px 0 0 10px}
 
 
 
 /*阳光基金*/
.fund{ width:100%; background-color:#fdf1d9; margin:auto; overflow: hidden}
.fund_banner{ width:100%; height:771px; margin:auto; text-align:center}
.fund_box{ width:1200px; margin:auto; overflow: hidden }
.fund_box1{ width:1150px; float:left; margin:20px 0 20px 37px}
.fund_new{ width:100%; height:848px; margin:auto; background:url(../img/ygjj_new_bj.jpg) center} 
.fund_new_left{ width:680px; margin:540px 0 0 44px; float:left}
.fund_new_left1{ width:651px; height:39px; float:left; background:url(../img/fun_new2.png) no-repeat; }
.fund_new_left1 a{color:#b41717; font-size:18px; line-height:39px; float:left; padding-left:18px}
.fund_new_left1 a:hover{  font-weight:bold}
.fund_new_left2{ width:630px; height:75px; line-height:24px; font-size:12px; color:#666; float:left; margin:8px 0 0 17px}
.fund_new_left3{ width:640px; float:left; margin:15px 17px}
.fund_new_left3 li{ width:635px; height:39px; float:left; background-image: url(../img/fun_new1.png); }
.fund_new_left3 li a{font-size:12px; color: #666; line-height:38px; padding-left:20px; float:left}
.fund_new_left3 li a:hover{  height:39px;background: url(../img/fun_new2.png) no-repeat; color:#be1313}

.fund_bj2{width:100%; background-color:#fef5e8; margin:auto; overflow: hidden; padding-top:50px}
.fund_new_more{ width:495px; height:46px; position: absolute; z-index:400; margin:300px 0 0 530px}

 /*阳光基金图片切换*/
.fund_new_img{ width:430px; height:305px; float:left; margin:534px 0 0 10px}
.code{ height:auto; padding:20px; border:1px solid #9EC9FE; background:#ECF3FD;}
.code pre{ font-family:"Courier New";font-size:14px;}
.info{ font-size:12px; color:#666666; font-family:Verdana; margin:20px 0 50px 0; }
.info p{ margin:0; padding:0; line-height:22px; text-indent:40px;}
.importInfo{ font-family:Verdana; font-size:14px;}

/*关于沪佳*/
.about_left{ width:185px; float:left; margin:20px 0 20px 0}
.about_left1{ width:183px; border:#CCC 1px solid; padding:15px 0 15px 0; float:left; background-color:#FFF; margin-bottom:20px}
.about_left1 li{ width:183px; height:43px; float:left; margin:5px 0 5px 0; color:#424242; font-size:18px;   line-height:44px}
.about_left1 li a{ padding:0 0 0 60px;}
.about_left1 li:hover{ color:#900; }
.about_left1 li.present{background-image:url(../img/fund_left1.gif)}
.about_right{ width:1043px;border:#CCC 1px solid; padding:15px 0 15px 35px; float:right; background-color:#FFF;  margin:20px 0 50px 0}
.about_right1{ width:1000px; height:32px; float:left; background:url(../img/about_st.gif) no-repeat; font-size:18px; color:#333; line-height:32px; padding-left:20px; }
.about_right2{ width:990px; float:left; font-size:16px; color:#666; line-height:44px; margin:30px 0 50px 10px}

/*新闻*/
.about_new{ width:1000px; float:left; height:32px; margin:15px 0 40px 0}
.about_new li{ width:105px; height:32px; background-color:#ebebeb; float:left; text-align:center; line-height:32px; color:#5e5e5e; font-size:16px; margin-right:15px}
.about_new li:hover{ color:#9e1515}
.about_new li.present{ background-color:#9e1515; color:#FFF}
.about_new1{ width:1000px; height:40px; color:#5e5e5e; font-size:20px; float:left; text-align:center; font-weight:bold}
.about_new2{ width:1000px; height:20px; color: #999; font-size:12px; float:left; text-align:center}
.about_new3{width:200px; height:30px; color: #999; font-size:14px; float:left; text-align:center; line-height:28px; border:#CCC 1px solid; margin:20px 0 0 10px}
.about_new3:hover{ background:#CCC; color: #FFF}
.about_new4{width:200px; height:30px; color: #999; font-size:14px; float:right; text-align:center;line-height:28px; border:#CCC 1px solid; margin:20px 45px 50px 0}
.about_new4:hover{ background:#CCC; color: #FFF}

.news-list{ margin-top:40px}
.news-list li {float: left;width: 1010px;margin-bottom: 30px;border: 1px solid #e5e5e5; height:145px}
.news-list li:hover {background: #f4f4f4;}
.news-list li .date {margin: 40px 26px 0 26px;float: left;}
.news-list li .tp11{ width:138px; height:80px; float:left; margin:35px 10px 0 5px}
.news-list li .date h4 ,
.news-list li .date p {font-size: 48px;font-family: Arial;font-weight: normal;color: #4b4b4b;line-height: 1;}

.news-list li .date p {font-size: 14px;}
.news-list li .news-info {float: left;padding:35px 10px;float:left}
.news-list li .news-info p {max-width: 700px;}
.news-list li .news-tit {font-size: 20px;color: #4b4b4b; }
.news-list li .news-nr {font-size: 12px;color: #999; line-height:20px; padding-top:10px}

/*荣誉资质*/
.honor{ width:1300px; float:left; margin:10px 0 30px 0}
.honor li{ width:409px; height:410px; float:left; background-color:#f6f6f6; margin:20px 10px 10px 12px}
.honor1{ color:#666; font-size:14px; text-align:center; float:left; width:390px; margin:10px; line-height:26px}

/*豪华套餐*/
.h_box2{ width:100%; margin:auto; height:750px; background:url(../images/j_02.jpg) center}
.h_box3{ width:100%; margin:auto; height:216px; background:url(../images/j_03.jpg) center}
.h_box4{ width:100%; margin:auto; height:574px; background:url(../images/j_04.jpg) center}
.h_box_j1{ width:100%; margin:auto; height:467px; background:url(../images/pc_09.jpg) center}

.h_box_j2{ width:100%; margin:auto; height:802px; background:url(../images/pc_05.jpg) center}
.h_box_j3{ width:100%; margin:auto; height:759px; background:url(../images/pc_06.jpg) center}

.h_box5{ width:100%; margin:auto; height:515px; background:url(../images/j_05.jpg) center}
.h_box6{ width:100%; margin:auto; height:347px; background:url(../images/j_06.jpg) center}

.h_box7{ width:100%;  margin:100px auto 0 auto; height:488px; background:url(../images/j_07.jpg) center}
.h_box7_an{ width:1200px; height:150px; margin:auto}
.h_box7_an1{ width:122px; height:25px;position: absolute; z-index:100; margin-left:780px; margin-top:110px}

.h_box8{ width:100%; margin:auto; height:42px; background:url(../images/j_08.jpg) center}
.h_box9{ width:100%; margin:auto; height:285px; background:url(../images/j_09.jpg) center}
.h_box10{ width:100%; margin:auto; height:363px; background:url(../images/j_10.jpg) center}
.h_box11{ width:100%; margin:auto; height:590px; background:url(../images/j_11.jpg) center}

.h_box12{ width:100%; margin:auto; height:337px; background:url(../images/j_12.jpg) center}
.h_box12_an{ width:1200px; height:300px; margin:auto}
.h_box12_an1{ width:122px; height:25px;position: absolute; z-index:20; margin-left:610px; margin-top:260px}

.h_box13{ width:100%; margin:auto; height:320px; background:url(../images/j_13.jpg) center}
.h_box14{ width:100%; margin:0 auto 100px 0; height:758px; background:url(../images/j_14.jpg) center}


/*别墅套餐*/
.b_box{ width:100%; margin:auto; height:640px; background:url(../images/b_01.jpg) center}
.b_box1{ width:100%; margin:100px auto 0 auto; height:522px; background:url(../images/b_02.jpg) center}
.b_box2{ width:100%; margin:auto; height:806px; background:url(../images/b_03.jpg) center}

.b_djyy{ width:1200px; height:400px; margin:auto;}
.b_djyy1{ width:209px; height:48px; float:left; margin:290px 0 0 30px}

 
/*招聘*/
.hire-list {width: 1000px; font-size: 12px;line-height: 50px;text-align: center;border: 1px solid #f0f0f0;border-collapse: collapse;border-radius: 6px; float:left; margin:30px auto}
.hire-list tbody {border-radius: 6px;}
.hire-list tr {background: #fbfbfb;border-bottom: 1px solid #e2e2e2;}
.hire-list-tit {border-radius: 6px 6px 0 0;}
.hire-list-tit-first {border-top-left-radius: 6px;}
.hire-list-tit-last {border-top-right-radius: 6px;}
.hire-list th {color: #fff;background: #404040;}
.hire-list td {width: 20%;}
 
.hire-list a {display: block;color: #00004f;}
.job-require {display: none;width: 100%;padding: 15px 50px;text-align: left;line-height: 2;background: #fff url(../images/hire-list-bg.png) top repeat-x;}
.job-require-tit {font-weight: bold;}

.job-require li {list-style: decimal;margin-left: 10px;}