<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="image/x-icon" href="{webroot:favicon.ico}" rel="icon">
    <link rel="stylesheet" href="{skin:style/css/company/company.css}">
    <link rel="stylesheet" type="text/css" href="{skin:style/css/company/design.css}">
</head>
{js:jquery}
{js:dialog}
{js:form}
{js:validate}
{js:artTemplate}
<body>
    <header>
        <div class="header">
            <div class="head_main">
                <div class="head_left">
                    <div class="logo_img" style="border:0;"><a href="{url:/}"><img src="{if:$this->_siteConfig->logo}{webroot:$this->_siteConfig->logo}{else:}{skin:image/logo.png}{/if}" alt=""></a></div>
                    <ul class="nav">
                        <li><a href="{url:/}">首页</a></li>
                        <li class="current"><a href="{url:/}">装修公司</a></li>
                        <li><a href="{url:/}">设计师</a></li>
                        <li><a href="{url:/}">建材商城</a></li>
                        <li><a href="{url:/site/bbs_list}">家装论坛</a></li>
                    </ul>
                </div>
                <div class="head_right">
                    <ul>
                        <li>客服热线：400-659-9591</li>
                        <li class="busiman"><a href="{url:/seller/index}">商家入驻<i></i></a></li>
                        <div class="busioption">
                                            <p><a href="{url:/simple/seller}">申请开店</a></p>
                                            <p><a href="{url:/seller/index}">商家登录</a></p>
                        </div>
                        
                        <li><a href="{url:/simple/reg}">注册</a></li>
                        <li><a href="{url:/simple/login}">登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $(".busiman a,.busioption").hover(function(){
                    $(".busioption").show();
                    $(".busiman a i").addClass("checked");
                });
                $(".busioption").mouseleave(function(){
                    $(".busioption").hide();
                    $(".busiman a i").removeClass("checked");
                });
            })
        </script>
    </header>
<div class="design_top_bag">
    <div class="design_top">
        <div class="design_img">
            <img src="{url:views/nzw/skin/default/image/company/commp_logo.jpg}">
        </div>
        <div class="designer_infor">
            <h3 class="company_name">张洋<img class="glory" src="{url:views/nzw/skin/default/image/company/company_glory.png}"></h3>
            <div class="design_busines">
                <span>杭州</span>&nbsp;&nbsp;|&nbsp;
                <span>擅长现代简约风格、日式风格、地中海风格</span>
            </div>
            <div class="design_qm">个人签名：肉体是灵魂的居所，家是自我的延伸，好的空间呈现，是使用者与设计师沟通合作的成功</div>
            <p class="design_case_p"><span>作品&nbsp;&nbsp;<i>12套</i></span> <span>评价数量&nbsp;&nbsp;<i>2200</i></span></p>
        </div>
        <div class="design_pj">
            <div class="star_box padd_top">
                <strong class="items a5">设计水平：</strong>
                <span class="red_star"></span>
                <span class="red_star"></span>
                <span class="red_star"></span>
                <span class="red_star"></span>
                <span class="red_star"></span>
                <!-- 有几个星输出几个span -->
            </div>

            <div class="star_box padd_top2">
                <strong class="items a5">服务态度：</strong>
                <span class="red_star"></span>
                <span class="red_star"></span>
                <span class="red_star"></span>
                <span class="red_star"></span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="nav_top">
    <nav class="design_nav">
            <ul>
                <li><a>主页</a></li>
                <li><a>设计作品</a></li>
                <li><a>业主评价</a></li>
                <li><a>讨论贴</a></li>
            </ul>
        </nav>
</div>
    {viewcontent}
    <!-- 底部文件 -->
    <div class="foot">
        <div class="help">
            {set:$catIco = array('help-new','help-delivery','help-pay','help-user','help-service')}
            {foreach:items=Api::run('getHelpCategoryFoot') item=$helpCat}
            <dl class="help_{echo:$key+1}">
                <dt>{$helpCat['name']}</dt>
                {foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',$helpCat['id']))}
                <dd><a href="{url:/site/help/id/$item[id]}">{$item['name']}</a></dd>
                {/foreach}
            </dl>
            {/foreach}
            <div class="contact">
                <div class="tel">扫码关注耐装网</div>
                <div class="mail"><img src="{skin:/image/index/code.png}" alt=""></div>
            </div>
        </div>
        
        <div class="copy border">
            <!-- {echo:IFilter::stripSlash($this->_siteConfig->site_footer_code)} -->
            <div class="footer" style="text-align:center;">
                <p class="copyright">copyright @ 2014-2017 耐装网络科技（大连）有限公司版权所有 网站备案/许可证号：<a >沪ICP备16014698号</a></p>
                <p class="copyright">服务电话：4006599591 地址：上海浦东新区唐镇上丰路977号B座</p>
                <p class="copyright">违法信息举报信箱：shensu@nainaiwang.com</p>
                <p class="copyright">技术支持：耐耐云商科技有限公司技术研发中心</p>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260508109'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260508109%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>