<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>{echo:$this->_siteConfig->name}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{js:jquery}
	{js:form}
	{js:validate}
	{js:dialog}
	{js:artTemplate}
	<!--[if IE]><script src="{theme:javascript/html5.js}"></script><![endif]-->
	<script src="{theme:javascript/common.js}"></script>
	<script src='{theme:javascript/site.js}'></script>
	<link rel="stylesheet" href="{skin:style/style.css}">
<script src="{theme:javascript/FengTab.js}"></script>
<link rel="stylesheet" href="{skin:style/css/scroll_index/scroll_index.css}">
</head>
<body>
<!--

模版使用字体图标为优化过的 awesome 3.0 图标字体库

使用帮助见:http://www.bootcss.com/p/font-awesome/

 -->
<header class="header web">
	<div class="top_line">
		<div class="welcome">
			欢迎您来到{echo:$this->_siteConfig->name}！
			{if:$this->user}
				<a href="{url:/ucenter/index}">个人中心</a>
				<a href="{url:/simple/logout}">退出</a>
			{else:}
				<a href="{url:/simple/login}">登录</a>
				<a class="reg" href="{url:/simple/reg}">免费注册</a>
			{/if}
		</div>
		<ul class="top_tool">
			<li>
				<a href="{url:ucenter/index}">个人中心</a>
				<dl>
					<dd><a href="{url:ucenter/order}">我的订单</a></dd>
					<dd><a href="{url:ucenter/address}">收货地址</a></dd>
					<dd><a href="{url:ucenter/integral}">我的积分</a></dd>
					<dd><a href="{url:ucenter/account_log}">我的资金</a></dd>
				</dl>
			</li>
			<li class="busiman">
				<a href="{url:/seller/index}">商家管理</a>
				<div class="agment">
					<p><a href="{url:/simple/seller}">申请开店</a></p>
					<p><a href="{url:/seller/index}">商家登录</a></p>
				</div>
			</li>
			<li class="message"><a href="">消息</a></li>
			<!--<li><a href="{url:/seller/index}">商家管理</a></li>
			<li><a href="{url:/site/help_list}">使用帮助</a></li>
			<li>客服电话：<em>4008-669-889</em></li>-->
			<li><a href="{url:/}">在线客服</a></li>
			<li><a href="{url:/}">关于我们</a></li>
		</ul>
	</div>
	<div class="header_main">
		<h1 class="logo">
			<!-- 这里的LOGO图片会自动靠左居中.因此只需要制作一个透明的LOGO图片即可 LOGO最大尺寸 400*90 -->
			<a href="{url:}">
				<img src="{if:$this->_siteConfig->logo}{webroot:$this->_siteConfig->logo}{else:}{skin:image/logo.png}{/if}">
			</a>
		</h1>
		<div class="header_search">
			<form method='get' action='{url:/}'>
				<input type='hidden' name='controller' value='site'>
				<input type='hidden' name='action' value='search_list'>
				<div class="search_box">
					<input class="input_keywords" type="text" name='word' autocomplete="off" placeholder="输入关键词">
					<input class="input_submit" type="submit" value="">
				</div>

				<div class="search_xz">
					<input type="button" class="search_select" value="商品">
					<input type="hidden" name="type"/>
					<ul id="search_list">
                        <li js_data="1">商品</li>
						<li js_data="2">商家</li>
					</ul>
				</div>
				<!--搜索框下拉JS-->
				<script>
					$(function(){
						$(".search_select").click(function(){
							if($("#search_list").is(":hidden")){
								$("#search_list").show()
								$(".search_select").addClass('down');
							}else{
								$("#search_list").hide()
								$(".search_select").removeClass('down');
							}
						})
						$("#search_list li").each(function(){
							$(this).hover(function(){
								$(this).css('background','#f7f7f7');
							},function(){
								$(this).css('background','#FFF');
							})

						})
						$("#search_list li").each(function(){
							var _t = $(this)
									,_v = _t.attr('js_data');
							_t.click(function(){
								$('.search_select').val(_t.text());
								$('input[name=type]').val(_v);
								$('#search_list').hide();
								$(".search_select").removeClass('down');
							})
						})
					});
				</script>

			</form>
			<div class="hot_words">
				{foreach:items=Api::run('getKeywordList') }
				{set:$tmpWord = urlencode($item['word']);}
				<a href="{url:/site/search_list/word/$tmpWord}">{$item['word']}</a>
				{/foreach}
			</div>
		</div>
		<!--<div class="header_cart" name="mycart">-->
			<!--<em class="count" name="mycart_count"]>0</em>-->
			<!--<i class="icon-shopping-cart"></i>-->
			<!--<a href="{url:/simple/cart}" class="go_cart">去购物车结算</a>-->
			<!--<div class="cart_simple" id="div_mycart"></div>-->
		<!--</div>-->
		<div class="servicetel">
			<img src="{skin:image/index/iphone.png}" alt="">
			<span>客服热线：<i>400-659-9591</i></span>
		</div>
		<!--购物车模板 开始-->
		<script type='text/html' id='cartTemplete'>
		<div class='cart_panel'>
			<ul class='cart_list'>
				<%for(var item in goodsData){%>
				<%var data = goodsData[item]%>
				<li id="site_cart_dd_<%=item%>">
					<em>共<%=data['count']%>件</em>
					<a target="_blank" href="{url:/site/products/id/<%=data['goods_id']%>}">
						<img src="{webroot:<%=data['img']%>}">
						<h5><%=data['name']%></h5>
					</a>
					<span>￥ <%=data['sell_price']%></span>
					<del onclick="removeCart('<%=data['id']%>','<%=data['type']%>');$('#site_cart_dd_<%=item%>').hide('slow');">删除</del>
				</li>
				<%}%>
				<%if(goodsCount){%>
				<div class="cart_total">
					<p>共<span name="mycart_count"><%=goodsCount%></span>件商品</p>
					<p>商品总额：<em name="mycart_sum">￥<%=goodsSum%></em></p>
					<a href="{url:simple/cart}">去购物车结算</a>
				</div>
				<%}else{%>
				<div class='cart_no'>购物车空空如也~</div>
				<%}%>
			</ul>
		</div>
		</script>
	</div>
	<nav class="header_nav">
		<div class="goods_nav">
			<h2>全部商品分类</h2>
			<ul class="cat_list none">
				{foreach:items=Api::run('getCategoryListTop')  item=$first}
				<li id="icon_list">
					<!--
						这里使用了CSS雪碧图的设计来制作导航的小图标.因为每个商城的图标是不一样的,因此这些小图标需要自己制作.
						我提供了小图标的 PSD文件 位于 skin/default/image/ico_cat.psd 文件
						请仿照 PSD源文件制作属于你的小图标 图标尺寸为 18*18 以20px为区间 靠左上角作图
					 -->
					<h3 class="cat_type_{echo:$key+1}">
						<img class="pc_show_red" src="{webroot:}{$first['img']}" alt="">
						<img class="pc_hide_white" style="display:none;" src="{webroot:}{$first['imghover']}" alt="">
						<a href="{url:/site/pro_list/cat/$first[id]}">{$first['name']}</a>
					</h3>
					<div class="cat_second">
						{foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$first['id']))  item=$second}
						<a href="{url:/site/pro_list/cat/$second[id]}">{$second['name']}</a>
						{/foreach}
					</div>
					<div class="cat_more">
						{foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$first['id']))  item=$second}
						<dl>
							<dt><a href="{url:/site/pro_list/cat/$second[id]}">{$second['name']}</a></dt>
							<dd>
								{foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$second['id']))  item=$third}
								<a href="{url:/site/pro_list/cat/$third[id]}">{$third['name']}</a>
								{/foreach}
							</dd>
						</dl>
						{/foreach}
					</div>
				</li>
				{/foreach}
			</ul>
		</div>
		<ul class="site_nav">
			<li><a href="{url:/site/index}">首页</a></li>
			{foreach:items=Api::run('getGuideList')}
			<li><a href="{url:$item[link]}">{$item['name']}</a></li>
			{/foreach}
		</ul>
	</nav>
</header>

<!--主要模板内容 开始-->
{viewcontent}
<!-- 右侧栏 -->
<div class="floor_left_box" id="floornav" data-tpa="YHD_HOMEPAGE_FLOORNAV" style="display: block;">
    <div class="show_div">
        <a href="{url:/ucenter/index}" class="fhdb_a">
            <i class="left_iconfont " display="block"><img src="{skin:/image/index/floor_01.png}">个人中心</i>
            <em class="two_line" display="none"><img src="{skin:/image/index/floor_cur_01.png}">个人中心</em>
        </a>
        <div class="hover_div">
            <em></em>
            <a href="{url:/ucenter/index}" class="hove_a">个人中心</a>
        </div>
    </div>
     <div class="show_div">
        <a href="{url:/ucenter/favorite}" class="fhdb_a">
            <i class="left_iconfont " display="none"><img src="{skin:/image/index/floor_02.png}">我的收藏</i>
            <em class="two_line" display="black"><img src="{skin:/image/index/floor_cur_02.png}">我的收藏</em>
        </a>
        <div class="hover_div">
            <em></em>
            <a href="{url:/ucenter/favorite}" class="hove_a">我的收藏</a>
        </div>
    </div>
     <div class="show_div">
        <a href="{url:/ucenter/history}" class="fhdb_a">
            <i class="left_iconfont " display="none"><img src="{skin:/image/index/floor_03.png}">我的足迹</i>
            <em class="two_line" display="black"><img src="{skin:/image/index/floor_cur_03.png}">我的足迹</em>
        </a>
        <div class="hover_div">
            <em></em>
            <a href="{url:/ucenter/history}" class="hove_a">我的足迹</a>
        </div>
    </div>
    <div class="show_div">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$this->_siteConfig->qq}&site=qq&menu=yes" class="fhdb_a" data="#toTop" rel="floor-4">
            <i class="left_iconfont " display="none"><img src="{skin:/image/index/floor_04.png}">客服</i>
            <em class="two_line" display="black"><img src="{skin:/image/index/floor_cur_04.png}">客服</em>
        </a>
        <div class="hover_div">
            <em></em>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$this->_siteConfig->qq}&site=qq&menu=yes" class="hove_a">客服</a>
        </div>
    </div>
    <div class="show_div">
        <a href="#" class="fhdb_a" data="#toTop" rel="toTop">
            <i class="left_iconfont " display="none"><img src="{skin:/image/index/floor_05.png}">返回顶部</i>
            <em class="two_line" display="black"><img src="{skin:/image/index/floor_cur_05.png}">返回顶部</em>
        </a>
        <div class="hover_div">
            <em></em>
            <a href="#" data="#toTop" rel="toTop" class="hove_a">返回顶部</a>
        </div>
    </div>

</div>
<!-- 浮动楼层 end -->
<!--主要模板内容 结束-->

<footer class="foot">
	<section class="help">
		{set:$catIco = array('help-new','help-delivery','help-pay','help-user','help-service')}
		{foreach:items=Api::run('getHelpCategoryFoot') item=$helpCat}
		<dl class="help_{echo:$key+1}">
			<dt>{$helpCat['name']}</dt>
			{foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',$helpCat['id']))}
			<dd><a href="{url:/site/help/id/$item[id]}">{$item['name']}</a></dd>
			{/foreach}
		</dl>
		{/foreach}
		<div class="contact">
			<div class="tel">扫码关注耐装网</div>
			<div class="mail"><img src="{skin:/image/index/code.png}" alt=""></div>
		</div>
	</section>
	
	<section class="copy border">
		{echo:IFilter::stripSlash($this->_siteConfig->site_footer_code)}
	</section>
</footer>

</body>
</html>
<script>
//当首页时隐藏分类
{if:IWeb::$app->getController()->getId() == 'site' && IWeb::$app->getController()->getAction()->getId() == 'index'}
$('.cat_list').removeClass('none');
{/if}

$(function(){
	$('input:text[name="word"]').val("{$this->word}");
    var _type = '{$this->type}';
    if(_type == 2)
    {
        $('.search_select').val('商家');
        $('input[name=type]').val(_type);
    }
});
</script>