<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2>确认订单</h2>
    </div>
</header>
{js:artTemplate}
<!-- 确认订单js -->
<script type='text/javascript' src='{theme:javascript/orderFormClass.js}'></script>
<script type="text/javascript" src="{theme:javascript/order.js}"></script>
<link rel="stylesheet" href="{skin:style/bases.css}">
<!-- 确认订单js end-->
<section class="cart_2">
    <!--地址管理 开始-->
    <div class="con_order">
        <div class="no_adderss">
            <a class="adder_img">
                <p class="adder_p">请添加收货地址，以确保商品顺利到达</p>
            </a>
        </div>
        <div class="show_adderss" style="display:none;">
            <a class="adder_img adder_height">
                <p class="s_adder_p">
                    <span>收货人：张三</span>
                    <span class="tel">18652656789</span>
                </p>
                <p class="s_adder_p colab bag_p">
                    收货地址：北京市大兴区大兴亦庄开发区文化园高兴街道34号
                </p>
            </a>
        </div>
    </div>
      <!--地址管理 结束-->
      <!-- 商品 开始 -->
      <div class="cart_sel">
        <div class="cart_goods">
            <div class="cart_title">
                <a class="name clear" href="">
                    <img src="{skin:image/top/gouwuche_kong@2x.png}"/>
                    <span class="sel_name">七彩云小铺<img src="{skin:image/top/jiahzuangzhishi@2x.png}" class="vip_logo"/></span>
                </a>
            </div>
            <ul>
                <li>
                    <div class="cart_list_goods">
                    <a class="clear">
                        <div class="cart_list_photo"><img src="{skin:image/top/gouwuche_kong@2x.png}" alt="{$item['name']}"></div>
                        <div class="cart_list_info">
                            <h3 class="cart_list_info_title">奇异小家</h3>
                            <p class="cart_list_info_info">
                                颜色分类:黄色
                            </p>
                            <p class="cart_list_info_price ">
                                <em>￥29</em>
                                <del class="old_price">￥59</del>
                            </p>
                        </div>
                        <div class="good_num">×3</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cart_list_goods">
                    <a class="clear">
                        <div class="cart_list_photo"><img src="{skin:image/top/gouwuche_kong@2x.png}" alt="{$item['name']}"></div>
                        <div class="cart_list_info">
                            <h3 class="cart_list_info_title">奇异小家</h3>
                            <p class="cart_list_info_info">
                                颜色分类:黄色
                            </p>
                            <p class="cart_list_info_price ">
                                <em>￥29</em>
                                <del class="old_price">￥59</del>
                            </p>
                        </div>
                        <div class="good_num">×3</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--  商品结束 -->
    <div class="con_order">
        <div class="cart_2_delivery">
            <a class="info_head" id="psfs">
                <span>配送方式</span>
                <span class="sele_info">快递</span>
            </a>
        </div>
        <div class="cart_2_delivery">
            <a class="info_head" id="pay_way">
                <span>支付方式</span>
                <span class="sele_info">预存款</span>
            </a>
        </div>
        <div class="cart_2_delivery">
            <div class="info_head">
                <span>买家留言</span>
                <span class="ly_text">
                    <input class="input_text" type="text" placeholder="请输入留言内容"/>
                </span>
            </div>
        </div>
        <div class="cart_2_delivery">
            <a class="info_head" href="{url:simple/invoice}">
                <span>是否开发票</span>
                <span class="sele_info">是</span>
                <!-- 没有发票显示否 -->
            </a>
        </div>
        <div class="cart_2_bj">
            <span>是否保价</span>
            <em class="no"></em>
        </div>
    </div>
    <!-- 结算信息 开始 -->
    <div class="cart_sect con_order">
        <div class="count">
            {if:$this->final_sum != $this->sum}优惠后总金额{else:}商品总额{/if}：<strong>￥{$this->final_sum}</strong><br>
            <!-- - 代金券：<strong name='ticket_value'>0</strong><br> -->
            + 保价：<strong id='protect_price_value'>￥0</strong><br>
            + 运费：<strong id='delivery_fee_show'>￥0</strong><br>
            + 支付手续费：<strong id='payment_value'>￥0</strong><br>
            + 总计:<strong id='tax_fee'>￥0</strong>
        </div>
    </div>
    <div style="height:0.3rem"></div>
     <!-- 结算信息 结束 -->
     <footer class="cart_footer">
        <div class="cart_footer_fixed">
            <div class="trade_count">
                <span>实付款:</span>
                <em id='final_sum'>&nbsp;{$this->final_sum}元</em>
            </div>
            <label class="sub_buy">
                确认提交<input type="submit"/>
            </label>
        </div>
    </footer>
</section>
<div class="mask" id="mask"></div>
<div class="peis">
    <div class="ps_title">
        <span><strong>配送方式</strong></span>
        <div class="close" id="type_close"></div>
    </div>
    <div class="ps_select">
    <ul>
        <li>
            <label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
            <div class="ps_cont">
                <span>EMS:</span>
                <em>￥4.00</em>
                <span>(快速邮递)</span>
            </div>
        </li>
        <li>
            <label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
            <div class="ps_cont">
                <span>EMS:</span>
                <em>￥4.00</em>
                <span>(快速邮递)</span>
            </div>
        </li>
        <li>
            <label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
            <div class="ps_cont">
                <span>EMS:</span>
                <em>￥4.00</em>
                <span>(快速邮递)</span>
            </div>
        </li>
        <li>
            <label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
            <div class="ps_cont">
                <span>EMS:</span>
                <em>￥4.00</em>
                <span>(快速邮递)</span>
            </div>
        </li>
    </ul>
    </div>
    <div class="ok_button">
        <button class="type_ok" id="type_ok">确定</button>
    </div>
</div>
<!-- 支付方式 strat-->
<div class="zf_way">
    <div class="ps_title">
        <span><strong>支付方式</strong></span>
        <div class="close" id="type_close"></div>
    </div>
    <div class="ps_select">
    <ul>
        <li>
            <label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
            <div class="ps_cont">
                <img class="img_zf" src="{skin:image/top/logo@2x.png}"/>
                <span>预存款</span>
            </div>
        </li>
        <li>
            <label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
            <div class="ps_cont">
                <img class="img_zf" src="{skin:image/top/logo@2x.png}"/>
                <span>支付宝</span>
            </div>
        </li>
        <li>
            <label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
            <div class="ps_cont">
                <img class="img_zf" src="{skin:image/top/logo@2x.png}"/>
                <span>微信支付</span>
            </div>
        </li>
        <li>
            <label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
            <div class="ps_cont">
                <img class="img_zf" src="{skin:image/top/logo@2x.png}"/>
                <span>预存款</span>
            </div>
        </li>
    </ul>
    </div>
    <div class="ok_button">
        <button class="type_ok" id="type_ok">确定</button>
    </div>
<div>
<!-- 支付方式end -->
<!-- 确认提交订单 strat-->
<div class="submit_ok">
    <div class="ps_title">
        <div class="close" id="type_close"></div>
        <span><strong>订单详情</strong></span>
    </div>
    <div class="order_del">
        <div class="order_line">
            <span>订单号码：</span>
            <span>20161103110234</span>
        </div>
        <div class="order_line">
            <span>支付方式：</span>
            <span>预存款</span>
        </div>
        <div class="order_line">
            <span>配送方式：</span>
            <span>快递</span>
        </div>
        <div class="order_line">
            <span>收货人：</span>
            <span>快递</span>
        </div>
        <div class="order_line">
            <span>联系方式：</span>
            <span>18703567890</span>
        </div>
        <div class="order_line">
            <span>发票信息：</span>
            <span>增值税专票</span>
        </div>
    </div>
    <div class="ok_button">
        <button class="type_ok" id="ljzf">立即支付</button>
    </div>
<div>
<!-- 确认提交订单end -->
<!-- 支付密码 strat-->
<div class="w_paswd">
    <div class="ps_title">
        <div class="close" id="type_close"></div>
        <span><strong>请输入支付密码</strong></span>
    </div>
    <div class="passwd_cont ">
        <form>
            <div class="pass clear">
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/>
            <input class="pas_tex" type="text"/> 
            </div>   
            <div class="pas_but clear">
                <button class="pas_qr">确定</button>
                <button class="pas_qx" id="pas_xq">取消</button>
            </div>

        </form>
    </div>
</div>
<!-- 支付密码 end-->
<script>
$(function(){
    // 隐藏底部导航
    hideNav();
});
</script>
