<script src="{theme:javascript/style.js}"></script>
{if:$this->user}
{set:$msgObj = new Mess($this->user['user_id']);$msgNum = $msgObj->needReadNum();}
{else:}
{set:$msgNum = 0;}
{/if}
<header class="header_login">
	<div class="header_title">
		<a class="return_a"onclick="window.history.back();"></a>
		<h2>购物车</h2>
		<a class="a_gd"></a>
        <div class="s_nav" style="display: none;">
        	<div class="c-tip-arrow" style="left: 30px;"><em></em><ins></ins></div>
            <ul>
                <li><a href="{url:/}"><i class="icon-home">首页</i></a></li>
                <li><a href="{url:/ucenter/message}">
                {if:$msgNum > 0}
                <i class="icon-comments-alt">消息</i>
                {else:}
                <i class="icon-comment-alt">消息</i>
                {/if}
                </a></li>
            </ul>
        </div>
	</div>
	</div>
</header>
<!-- <div id="pageInfo" data-title="购物车"></div> -->
{if:$this->count == 0}
<!-- 无商品显示 -->
<section class="nodata">
<div style="text-align: center;">
	<img src="{skin:image/top/gouwuche_kong@2x.png}"/>
</div>	
<p>购物车中空空如也哦~<p>
</section>
{else:}
<!-- 优惠信息 -->
<section class="cart_prompt" style="display:none" id="cart_prompt">
	<h4>恭喜，您的订单已经满足了以下优惠活动！</h4>
	<ol></ol>
</section>

<!--促销模板-->
<script type="text/html" id="promotionTemplate">
	<li><%=item['plan']%>，<%=item['info']%></li>
</script>

<!-- 商品列表 -->
<form action="{url:/simple/cart2}" method="post">
<section class="cart_list">
    {foreach:items = $this->goodsList item=$seller}
	<div class="cart_sel">
		<div class="cart_goods">
			<div class="cart_title">
				<label class="s_sel_all box"><input type="checkbox" name="sel_all"  class="chk_1"/></label>
				<div class="name">
					<span class="sel_name">{$item['seller_name']}</span>
					<span class="sel_cz sel_cz_bj">编辑</span>
				</div>
			</div>
			<ul>
                {foreach:items=$seller['goodsList']}
                {set:$type=isset($item['spec_array'])?'product':'goods'}
                {set:$item['id']=isset($item['spec_array'])?$item['product_id']:$item['goods_id']}
                {set:$item['type']=$type}
                {set:$item_json = JSON::encode($item)}
				<li>
					<label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
					<div class="cart_list_goods">
					<a class="clear">
						<div class="cart_list_photo"><img src="{url:/pic/thumb/img/$item['img']/w/66/h/66}" alt="{$item['name']}"></div>
						<div class="cart_list_info">
							<h3 class="cart_list_info_title"><a href="{url:/site/products/id/$item['goods_id']}">{$item['name']}</a></h3>							
                            {if:isset($item['spec_array'])}
                            <p class="cart_list_info_info">
                            {set:$spec_array=Block::show_spec($item['spec_array']);}
                            {foreach:items=$spec_array item=$specValue key=$specName}
                                {$specName}：{$specValue} &nbsp&nbsp
                            {/foreach}
                            </p>
                            {/if}
							<p class="cart_list_info_price ">
								<em>￥{$item['sell_price']}</em>
								<del class="old_price">￥{$item['market_price']}</del>
							</p>
						</div>
						<div class="good_num">×{$item['count']}</div>
						</a>
					</div>
				</li>
                {/foreach}
			</ul>
		</div>
		<!-- 编辑商品 -->
		<div class="cart_edit" style="display:none">
			<div class="cart_title">
				<label class="s_sel_all box"><input type="checkbox" name="sel_all"  class="chk_1"/></label>
				<div class="name">
					<span class="sel_name">{$item['seller_name']}</span>
					<span class="sel_cz sel_cz_wc">完成</span>
				</div>
			</div>
			<ul>
                {foreach:items=$seller['goodsList']}
                {set:$type=isset($item['spec_array'])?'product':'goods'}
                {set:$item['id']=isset($item['spec_array'])?$item['product_id']:$item['goods_id']}
                {set:$item['type']=$type}
                {set:$item_json = JSON::encode($item)}
				<li>
					<label class="g_checkbox box"><input type="checkbox" name="checkbox"  class="chk_1"/></label>
					<div class="cart_list_goods">
					<a class="clear">
						<div class="cart_list_photo"><img src="{url:/pic/thumb/img/$item['img']/w/66/h/66}" alt="{$item['name']}"></div>
						<div class="cart_list_info">
							<div class="goods_num_adjust">
                            <span onclick='cart_reduce({$item_json});'>-</span>
                            <input type='text' onchange='cartCount({$item_json});' id="count_{$item['goods_id']}_{$item['product_id']}" value="{$item['count']}">
                            <span onclick='cart_increase({$item_json});'>+</span>
                            </div>
                            {if:isset($item['spec_array'])}
                            <p class="cart_list_info_info">
                            {set:$spec_array=Block::show_spec($item['spec_array']);}
                            {foreach:items=$spec_array item=$specValue key=$specName}
                                {$specName}：{$specValue} &nbsp&nbsp
                            {/foreach}
                            </p>
                            {/if}
						</div>
						<div class="dele" onclick='javascript:removeCartByJSON({$item_json});'>删除</div>
						</a>
					</div>
				</li>
                {/foreach}
			</ul>
		</div>
		<!-- 编辑商品 end-->
	</div>
    {/foreach}
</section>

<footer class="cart_footer">
	<div class="cart_footer_fixed">
		<ul>
			<li><label class="box_all box"><input type="checkbox" name="box_all"  class="chk_1"/></label>
			<li><span>合计:<em class="count">&nbsp;￥{$this->final_sum}</em></span></li>
			<li><span>不含运费</span></li>
			<li><input type="submit" style="border: 0;" class="buy btn_pay" id="btn_pay" onclick="gourl('{url:/simple/cart2}')" value="去结算"></li>
		</ul>
	</div>
</footer>
</form>
{/if}
<!-- 热门商品 -->
<section class="hot_googs">
	<div class="hot_title">热门商品</div>
	<ul class="hot_ul clear">
        {foreach:items=Api::run('getCommendHot', 6)}
		<li>
			<a href="{url:/site/products/id/$item['id']}">
				<img src="{url:/pic/thumb/img/$item['img']/w/170/h/170}"/>
				<div class="good_name">{$item['name']}</div>
				<em>￥{$item['sell_price']}</em>
			</a>
		</li>
        {/foreach}
	</ul>
</section>
<script>
$(function(){
	// 隐藏底部导航
	hideNav();

	{if:$this->promotion}
	{foreach:items = $this->promotion}
	$('#cart_prompt ol').append( template.render('promotionTemplate',{"item":{echo:JSON::encode($item)}}) );
	{/foreach}
	$('#cart_prompt').show();
	{/if}

})
//购物车数量改动计算
function cartCount(obj)
{
	var countInput = $('#count_'+obj.goods_id+'_'+obj.product_id);
	var countInputVal = parseInt(countInput.val());
	var oldNum = countInput.data('oldNum') ? countInput.data('oldNum') : obj.count;

	//商品数量大于1件
	if(isNaN(countInputVal) || (countInputVal <= 0))
	{
		alert('购买的数量必须大于1件');
		countInput.val(1);
		countInput.change();
	}
	//商品数量小于库存量
	else if(countInputVal > parseInt(obj.store_nums))
	{
		alert('购买的数量不能大于此商品的库存量');
		countInput.val(parseInt(obj.store_nums));
		countInput.change();
	}
	else
	{
		var diff = parseInt(countInputVal) - parseInt(oldNum);
		if(diff == 0)
		{
			return;
		}

		var goods_id   = obj.product_id > 0 ? obj.product_id : obj.goods_id;
		var goods_type = obj.product_id > 0 ? "product"      : "goods";

		//更新购物车中此商品的数量
		$.getJSON("{url:/simple/joinCart}",{"goods_id":goods_id,"type":goods_type,"goods_num":diff,"random":Math.random()},function(content){
			if(content.isError == true)
			{
				alert(content.message);
				countInput.val(1);
				countInput.change();
			}
			else
			{
				var goodsId   = [];
				var productId = [];
				var num       = [];
				$('[id^="count_"]').each(function(i)
				{
					var idValue = $(this).attr('id');
					var dataArray = idValue.split("_");

					goodsId.push(dataArray[1]);
					productId.push(dataArray[2]);
					num.push(this.value);
				});
				countInput.data('oldNum',countInputVal);
				$.getJSON("{url:/simple/promotionRuleAjax}",{"goodsId":goodsId,"productId":productId,"num":num,"random":Math.random()},function(content){
					if(content.promotion.length > 0)
					{
						$('#cart_prompt li').remove();

						for(var i = 0;i < content.promotion.length; i++)
						{
							$('#cart_prompt ol').append( template.render('promotionTemplate',{"item":content.promotion[i]}) );
						}
						$('#cart_prompt').show();
					}
					else
					{
						$('#cart_prompt li').remove();
						$('#cart_prompt').hide();
					}

					/*开始更新数据*/
					$('#weight').html(content.weight);
					$('#origin_price').html(content.sum);
					$('#discount_price').html(content.reduce);
					$('#promotion_price').html(content.proReduce);
					$('#sum_price').html(content.final_sum);
					$('#sum_'+obj.goods_id+'_'+obj.product_id).html((obj.sell_price * countInputVal).toFixed(2));
				});
			}
		});
	}
}

//增加商品数量
function cart_increase(obj){
	//库存超量检查
	var countInput = $('#count_'+obj.goods_id+'_'+obj.product_id);
	if(parseInt(countInput.val()) + 1 > parseInt(obj.store_nums))
	{
		alert('购买的数量大于此商品的库存量');
	}
	else
	{
		countInput.val(parseInt(countInput.val()) + 1);
		countInput.change();
	}
}

//减少商品数量
function cart_reduce(obj){
	//库存超量检查
	var countInput = $('#count_'+obj.goods_id+'_'+obj.product_id);
	if(parseInt(countInput.val()) - 1 <= 0)
	{
		alert('购买的数量必须大于1件');
	}
	else
	{
		countInput.val(parseInt(countInput.val()) - 1);
		countInput.change();
	}
}

//移除购物车
function removeCartByJSON(obj)
{
	var goods_id   = obj.product_id > 0 ? obj.product_id : obj.goods_id;
	var goods_type = obj.product_id > 0 ? "product"      : "goods";
	$.getJSON("{url:/simple/removeCart}",{"goods_id":goods_id,"type":goods_type,"random":Math.random()},function()
	{
		window.location.reload();
	});
}
</script>