<script src="{theme:javascript/style.js}"></script>
<script type='text/javascript' src='{theme:javascript/cart.js}'></script>
{if:$this->user}
{set:$msgObj = new Mess($this->user['user_id']);$msgNum = $msgObj->needReadNum();}
{else:}
{set:$msgNum = 0;}
{/if}
<header class="header_login">
	<div class="header_title">
		<a class="return_a"onclick="window.history.back();"></a>
		<h2>购物车</h2>
		<a class="a_gd"></a>
        <div class="s_nav" style="display: none;">
        	<div class="c-tip-arrow" style="left: 30px;"><em></em><ins></ins></div>
            <ul>
                <li><a href="{url:/}"><i class="icon-home"></i>首页</a></li>
                <li><a href="{url:/ucenter/message}">
                {if:$msgNum > 0}
                <i class="icon-comments-alt"></i>消息
                {else:}
                <i class="icon-comment-alt"></i>消息
                {/if}
                </a></li>
            </ul>
        </div>
	</div>
	</div>
</header>
<!-- <div id="pageInfo" data-title="购物车"></div> -->
{if:$this->count == 0}
<!-- 无商品显示 -->
<section class="nodata">
<div style="text-align: center;">
	<img src="{skin:image/top/gouwuche_kong@2x.png}"/>
</div>	
<p>购物车中空空如也哦~<p>
</section>
{else:}
<!-- 优惠信息 -->
<section class="cart_prompt" style="display:none" id="cart_prompt">
	<h4>恭喜，您的订单已经满足了以下优惠活动！</h4>
	<ol></ol>
</section>

<!--促销模板-->
<script type="text/html" id="promotionTemplate">
	<li><%=item['plan']%>，<%=item['info']%></li>
</script>

<!-- 商品列表 -->
<form action="{url:/simple/cart2}" method="post">
<section class="cart_list">
    {foreach:items = $this->goodsList item=$seller}
	<div class="cart_sel">
		<div class="cart_goods js_sel_goods">
			<div class="cart_title">
				<label class="s_sel_all box"><input type="checkbox" name="sel_all"  class="chk_1"/></label>
				<div class="name">
					<span class="sel_name"><i>{$seller['true_name']}</i>
                    {if:goods_class::getSellerPay($key)}
                    <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                    {/if}
                    </span>
					<span class="sel_cz sel_cz_bj">编辑</span>
				</div>
			</div>
			<ul>
                {foreach:items=$seller['goodsList']}
                {set:$type=isset($item['spec_array'])?'product':'goods'}
                {set:$item['id']=isset($item['spec_array'])?$item['product_id']:$item['goods_id']}
                {set:$item['type']=$type}
                {set:$item_json = JSON::encode($item)}
				<li class="js_show_goods_det">
                    <input type="hidden" class="js_buy_num" id="js_data_{$item['goods_id']}_{$item['product_id']}" value="{$item['count']}" name='{$type}-{$item["id"]}'/>
					<label class="g_checkbox box"><input type="checkbox" name="sub[]" data-json='{$item_json}' value="{$type}-{$item['id']}"  class="chk_1"/></label>
					<div class="cart_list_goods">
					<a class="clear">
						<div class="cart_list_photo"><img src="{url:/pic/thumb/img/$item['img']/w/66/h/66}" alt="{$item['name']}"></div>
						<div class="cart_list_info">
							<h3 class="cart_list_info_title"><a href="{url:/site/products/id/$item['goods_id']}">{$item['name']}</a></h3>							
                            {if:isset($item['spec_array'])}
                            <p class="cart_list_info_info">
                            {set:$spec_array=Block::show_spec($item['spec_array']);}
                            {foreach:items=$spec_array item=$specValue key=$specName}
                                {$specName}：{$specValue} &nbsp&nbsp
                            {/foreach}
                            </p>
                            {/if}
							<p class="cart_list_info_price ">
								<em>￥{$item['sell_price']}</em>
								<del class="old_price">￥{$item['market_price']}</del>
							</p>
						</div>
						<div class="good_num">
                            ×{$item['count']}
                        </div>
						</a>
					</div>
				</li>
                {/foreach}
			</ul>
		</div>
	</div>
    {/foreach}
</section>

<footer class="cart_footer">
	<div class="cart_footer_fixed">
		<ul>
			<li><label class="box_all box"><input type="checkbox" name="box_all"  class="chk_1"/></label>
            <input type="hidden" id='origin_price' value="0">
            <input type="hidden" id='discount_price' value="0">
			<li><span>合计:<em class="count">&nbsp;￥<span id='sum_price'>0</span></em>&nbsp;&nbsp;不含运费</span></li>
            {if:$this->goodsList}
			<li><input type="submit" style="border: 0;" class="buy btn_pay" id="btn_pay" value="去结算"></li>
            {/if}
		</ul>
	</div>
</footer>
</form>
{/if}
<!-- 热门商品 -->
<section class="hot_googs">
	<div class="hot_title">热门商品</div>
	<ul class="hot_ul clear">
        {foreach:items=Api::run('getCommendHot', 6)}
		<li>
			<a href="{url:/site/products/id/$item['id']}">
				<div class="div_img"><img src="{url:/pic/thumb/img/$item['img']/w/170/h/170}"/>
                {if:goods_class::getSellerPay($item['seller_id'])}
                <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                {/if}
                </div>
				<div class="good_name">{$item['name']}</div>
				<em>￥{$item['sell_price']}</em>
			</a>
		</li>
        {/foreach}
	</ul>
</section>
<script>
var promUrl = '{url:/simple/promotionRuleAjax}';
var cartUrl = '{url:/simple/joinCart}';
var removeCartUrl = '{url:/simple/removeCart}';
$(function(){
	// 隐藏底部导航
	hideNav();

	{if:$this->promotion}
	{foreach:items = $this->promotion}
	$('#cart_prompt ol').append( template.render('promotionTemplate',{"item":{echo:JSON::encode($item)}}) );
	{/foreach}
	$('#cart_prompt').show();
	{/if}

})
</script>