<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2>确认订单</h2>
    </div>
</header>
{js:artTemplate}
{set:$default=$this->defaultAddress ? $this->defaultAddress : ''}
<!-- 确认订单js -->
<script type='text/javascript' src='{theme:javascript/orderFormClass.js}'></script>
<script>
var submitUrl = '{url:/simple/cart35}';
//创建订单表单实例
orderFormInstance = new orderFormClass();

//DOM加载完毕
$(function(){
    //商家信息
    orderFormInstance.seller = {echo:JSON::encode($this->seller)};

    //商品价格
    orderFormInstance.goodsSum = "{$this->final_sum}";

    //配送方式初始化
    orderFormInstance.deliveryInit("{$this->custom['delivery']}");

    //收货地址数据
    {if:$default}
    orderFormInstance.getDelivery({$default['province']});
    {/if}

    //支付方式
    orderFormInstance.paymentInit("{$this->custom['payment']}");

    //免运费
    orderFormInstance.freeFreight = {echo:JSON::encode($this->freeFreight)};
    {if:$default}
    orderFormInstance.getDelivery({$default['province']});
    {/if}
    
    $('.js_close_pay').click(function(){
        window.location = '{url:/ucenter/order}'
    })
});
</script>
<script type="text/javascript" src="{theme:javascript/order.js}"></script>
<link rel="stylesheet" href="{skin:style/bases.css}">
<!-- 确认订单js end-->
<section class="cart_2">
    <form action='' class="form js_order_form" method='post' name='order_form'>
    <input type='hidden' name='direct_gid' value='{$this->gid}' />
    <input type='hidden' name='direct_type' value='{$this->type}' />
    <input type='hidden' name='direct_num' value='{$this->num}' />
    <input type='hidden' name='direct_promo' value='{$this->promo}' />
    <input type='hidden' name='direct_active_id' value='{$this->active_id}' />
    <!--地址管理 开始-->
    <div class="con_order">
        {if:$default}
        <input name="radio_address" type="hidden" value="{$default['id']}"/>
        <div class="show_adderss">
            <a class="adder_img adder_height" href="{url:/ucenter/address}">
                <p class="s_adder_p">
                    <span>收货人：{$default['accept_name']}</span>
                    <span class="tel">{$default['mobile']}</span>
                </p>
                <p class="s_adder_p colab bag_p">
                    收货地址：{$default['address']}
                </p>
            </a>
        </div>
        {else:}
        <div class="no_adderss">
            <a class="adder_img" href="{url:/ucenter/address_add}">
                <p class="adder_p">请添加收货地址，以确保商品顺利到达</p>
            </a>
        </div>
        {/if}
    </div>
      <!--地址管理 结束-->
      <!-- 商品 开始 -->
      <div class="cart_sel">
        {foreach:items = $this->goodsList item=$seller}
        <div class="cart_goods">
            <div class="cart_title">
                <a class="name clear" href="{url:/site/home/id/$key}">
                    <img src="{webroot:$seller['seller_logo']}"/>
                    <span class="sel_name">{$seller['seller_name']}
                    {if:goods_class::getSellerPay($key)}
                    <img src="{skin:image/sellerVip.png}" class="vip_logo"/>
                    {/if}
                    </span>
                </a>
            </div>
            <ul>
                {foreach:items=$seller['goodsList']}
                {if:$item['product_id']==0}
                    {set:$type= 'goods';$id=$item['goods_id']}
                {else:}
                    {set:$type='product';$id=$item['product_id']}
                {/if}
                <input type='hidden' name='goods[]' value='{$type}-{$id}-{$item["count"]}' />
                <li>
                    <div class="cart_list_goods">
                    <a class="clear">
                        <div class="cart_list_photo"><img src="{url:/pic/thumb/img/$item[img]/w/66/h/66}" alt="{$item['name']}"></div>
                        <div class="cart_list_info">
                            <h3 class="cart_list_info_title"><a href="{url:/site/products/id/$item['goods_id']}">{$item['name']}</a></h3>
                            {if:isset($item['spec_array'])}
                            <p class="cart_list_info_info">
                            {set:$spec_array=Block::show_spec($item['spec_array']);}
                            {foreach:items=$spec_array item=$specValue key=$specName}
                                {$specName}：{$specValue} &nbsp&nbsp
                            {/foreach}
                            </p>
                            {/if}
                            <p class="cart_list_info_price ">
                                <em>￥{$item['sell_price']}</em>
                                <del class="old_price">￥{$item['market_price']}</del>
                            </p>
                        </div>
                        <div class="good_num" id="deliveryFeeBox_{$item['goods_id']}_{$item['product_id']}_{$item['count']}">×{$item['count']}</div>
                        </a>
                    </div>
                </li>
                {/foreach}
            </ul>
        </div>
        {/foreach}
    </div>
    <!--  商品结束 -->
    <div class="con_order">
        <div class="cart_2_delivery">
            <a class="info_head" id="psfs">
                <span>配送方式</span>
                <span class="sele_info js_delivery_data"></span>
            </a>
        </div>
        <div class="cart_2_delivery js_payment_selected">
            <a class="info_head" id="pay_way">
                <span>支付方式</span>
                <span class="sele_info js_payment_data"></span>
            </a>
        </div>
        <div class="cart_2_delivery">
            <div class="info_head">
                <span>买家留言</span>
                <span class="ly_text">
                    <input class="input_text" type="text" placeholder="请输入留言内容"/>
                </span>
            </div>
        </div>
        <div class="cart_2_delivery">
            <a class="info_head" href="{url:simple/invoice}">
            <input type="hidden" name="taxes" js_data="{$this->goodsTax}" value="0">
                <span>是否开发票</span>
                <span class="sele_info">否</span>
            </a>
        </div>
        <div class="cart_2_bj js_if_protected">
            <input type="hidden" name="if_protected" value="0">
            <span>是否保价</span>
            <em class="no" onclick="orderFormInstance.doAccount('protected');"></em>
        </div>
    </div>
    <!-- 结算信息 开始 -->
    <div class="cart_sect con_order">
        <div class="count">
            {if:$this->final_sum != $this->sum}+ 优惠后总金额{else:}+ 商品总额{/if}：<strong>￥{$this->final_sum}</strong><br>
            <!-- - 代金券：<strong name='ticket_value'>0</strong><br> -->
            <p class="js_if_protected">+ 保价：<strong id='protect_price_value'>￥0</strong><br></p>
            + 运费：<strong id='delivery_fee_show'>￥0</strong><br>
            + 支付手续费：<strong id='payment_value'>￥0</strong><br>
            + 税金:<strong id='tax_fee'>￥0</strong>
        </div>
    </div>
    <div style="height:0.3rem"></div>
     <!-- 结算信息 结束 -->
     <footer class="cart_footer">
        <div class="cart_footer_fixed">
            <div class="trade_count">
                <span>实付款:</span>
                <em id='final_sum'>&nbsp;{$this->final_sum}元</em>
            </div>
            <label class="sub_buy" onclick="orderFormInstance.isSubmit()">
                确认提交
            </label>
        </div>
    </footer>
    
    <div class="peis">
        <div class="ps_title">
            <span><strong>配送方式</strong></span>
            <div class="close" id="type_close"></div>
        </div>
        <div class="ps_select">
        <ul>
            {foreach:items = Api::run('getDeliveryList')}
            <li>
                <label class="g_checkbox box"><input type="radio"  name="delivery_id" value="{$item['id']}" paytype="{$item['type']}" js_data="{$item['name']}"  class="chk_1"/></label>
                <div class="ps_cont">
                    <span>{$item['name']}:</span>
                    <em id="deliveryShow{$item['id']}"></em>
                    <!--<span>({$item['description']})</span>-->
                </div>
            </li>
            {/foreach}
        </ul>
        </div>
        <div class="ok_button">
            <a class="type_ok" onclick="orderFormInstance.deliverySelected($('input[name=delivery_id]:checked').val());$('#mask').trigger('click');$('.js_delivery_data').text($('input[name=delivery_id]:checked').attr('js_data'))">确定</a>
        </div>
    </div>
    <!-- 支付方式 strat-->
    <div class="zf_way">
        <div class="ps_title">
            <span><strong>支付方式</strong></span>
            <div class="close" id="type_close"></div>
        </div>
        <div class="ps_select">
        <ul>
            {foreach:items = Api::run('getPaymentList')}
            {set:$paymentPrice = CountSum::getGoodsPaymentPrice($item['id'],$this->sum);}
            <li>
                <label class="g_checkbox box {if:$this->custom['payment'] == $item['id']}check{/if}"><input type="radio" name="payment" js_data="{$item['name']}" alt="{$paymentPrice}"  class="chk_1" value="{$item['id']}"/></label>
                <div class="ps_cont">
                    <img class="img_zf" src="{webroot:$item['f_sign']}"/>
                    <span>{$item['name']}</span>
                </div>
            </li>
            {/foreach}
        </ul>
        </div>
        <div class="ok_button">
            <a class="type_ok" onclick="orderFormInstance.paymentSelected($('input[name=payment]:checked').val());$('#mask').trigger('click');$('.js_payment_data').text($('input[name=payment]:checked').attr('js_data'))">确定</a>
        </div>
    <div>
    </form>
</section>
    
<script type='text/html' id='deliveryTemplate'>
    <span style="color:#ff6332">运费：￥<%=item['price']%></span>
    <%if(item['protect_price'] > 0){%>
    <span style="color:#ff6332">保价：￥<%=item['protect_price']%></span>
    <%}%>
</script>
<div class="mask" id="mask"></div>
<div class="mask" id="js_mask"></div>
<!-- 支付方式end -->
<!-- 确认提交订单 strat-->
<div class="submit_ok">
    <div class="ps_title">
        <div class="close js_close_pay"></div>
        <span><strong>订单详情</strong></span>
    </div>
    <div class="order_del">
        <div class="order_line">
            <span>订单号码：</span>
            <span class="js_order_no"></span>
        </div>
        <div class="order_line">
            <span>支付方式：</span>
            <span class="js_payment_info"></span>
        </div>
        <div class="order_line">
            <span>配送方式：</span>
            <span class="js_delivery_info"></span>
        </div>
        <div class="order_line">
            <span>收货人：</span>
            <span class="js_acce_info"></span>
        </div>
        <div class="order_line">
            <span>联系方式：</span>
            <span class="js_mobile_info"></span>
        </div>
        <div class="order_line">
            <span>发票信息：</span>
            <span class="js_fapiao_info"></span>
        </div>
    </div>
    <div class="ok_button">
        <button class="type_ok" id="ljzf">立即支付</button>
    </div>
<div>
<!-- 确认提交订单end -->
<!-- 支付密码 strat-->
<div class="w_paswd">
    <div class="ps_title">
        <div class="close js_close_pay"></div>
        <span><strong>请输入支付密码</strong></span>
    </div>
    <div class="passwd_cont ">
        <form>
            <div class="pass clear">
            <input class="pas_tex" type="text"/>
            </div>   
            <div class="pas_but clear">
                <button class="pas_qr">确定</button>
                <button class="pas_qx js_close_pay">取消</button>
            </div>

        </form>
    </div>
</div>
<!-- 支付密码 end-->
<script>
$(function(){
    // 隐藏底部导航
    hideNav();
});
</script>
