<style type="text/css">
	body{
		background: #fff;
	}
</style>
<header class="header_login">
	<div class="header_title">
		<a class="return_a" onclick="window.history.back();"></a>
		<h2>注册</h2>
		<a class="qx_a" href="{url:/simple/login}">登录</a>
	</div>
</header>
<div id="pageInfo" data-title="用户注册"></div>
<section class="reg input_li">
	<div class="form">
		<form action='{url:/simple/reg_act}' method='post'>    
            <input type="hidden" name="reg_type" value="3">
			<input type="hidden" name='callback' value="{$callback}" />
			<ul>
                <li>
                    <input class="input_text" name='username' type="text" pattern="^[\w\u0391-\uFFE5]{2,20}$" alt="填写2-20个字符，数字下划线和中文" other="user" otheralt="该用户名已经注册" placeholder="请输入用户名">
                </li>
				<li>
                    <input class="input_text" type="text" name='mobile' pattern="mobi" alt="填写正确的手机格式" other="member" otheralt="该手机号已经注册" placeholder="请输入手机号码">
				</li>
				<li class="yzm">
                    <input class='input_text' type='text' name='mobile_code' placeholder="请输入验证码" alt="验证码不正确" pattern='^\w{4,6}$' autocomplete="off">
					<input class="input_button" type="button" onclick="_sendMobileCode(this, 0);" value="获取验证码">
				</li>
			
				<li>
					<input class='input_text' placeholder="请输入您的密码" type="password" name='password' pattern="^\S{6,32}$" alt='填写6-32个字符' autocomplete="off" />
				</li>
				<li class="reg_input">
					<input type="submit" class="input_submit" value="立即注册">
				</li>
			</ul>
		</form>
	</div>
</section>
<div style="height:0.65rem"></div>
<script type='text/javascript'>
$(function(){
	// 给底部导航加上当前样式
	$(".nav_user").addClass('on');
	$(".footer_login").hide();
});
</SCRIPT>