<style type="text/css">
body{
    background: #fff
}
</style>
<header class="header_login">
    <div class="header_title">
        <a class="return_a"onclick="window.history.back();"></a>
        <h2 id="pageInfo" data-title="找回密码">重置密码</h2>
        <a class="qx_a" href="{url:simple/login}">登录</a>
    </div>
</header>
<div id="pageInfo" data-title="密码重置"></div>
<section class="reg input_li">
    <div class="form">
        <form action='{$this->formAction}' method='post'>
            <ul>
                <li><input type='password' name="password" class="input_text" pattern="^\S{6,32}$" placeholder="你想要的新密码" bind='repassword' alt='6-16位字母数字组合'></li>
                <li><input type='password' name="repassword" class="input_text" pattern="^\S{6,32}$" placeholder="请再次输入新密码" bind='password' alt='6-16位字母数字组合'></li>
                <li>
                    <input type="submit" class="input_submit" value="提交">
                </li>
            </ul>
        </form>
    </div>
</section>
<div style="height:0.65rem"></div>
